@inject HttpClient HttpClient
@inject IJSRuntime jsRuntime
@inject NavigationManager nav

<style>
    .createjob-form-container {
        height: 55vh;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        background-color: rgba(255,255,255,1);
        border: solid white 0.1em;
        box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.2), 0 2px 10px 0 rgba(0,0,0,0.1);
        
    }
    .createjob-form{
        height: auto;
        width: 100%;
    }
    .createjob-form-group{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: 5vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
        display: flex;
    }
    .createjob-form-individual{
        width: 45%; 
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: 5vh;
    }
    .createjob-form-single {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height: 5vh;
    }
    .createjob-form-date {
        width: 50%;
        height: 5vh;
        justify-content: left;
        align-content: start;
        align-items: flex-start;
    }
    .createjob-form input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
        background-color: transparent;
        width: 100%;
        height: 5vh;
        font-size: 1em;
        border: solid 0.15em rgba(0,0,0, 0.2);
        border-radius: 2em;
        font-weight: 800;
        color: black;
        font-family: opensans-condensed-bold;
        padding-left: 1em;
        padding-bottom: 0.1em;
    }
    .createjob-form input[type="date"] {
        background-color: transparent;
        width: 100%;
        height: 5vh;
        font-size: 1em;
        border-radius: 2em;
        border: solid 0.15em rgba(0,0,0, 0.2);
        font-weight: 800;
        color: black;
        font-family: opensans-condensed-bold;
        padding-top: 0.5em;
        padding-left: 1em;
    }
    .createjob-form select{
        background-color: transparent;
        width: 100%;
        height: 5vh;
        font-size: 1em;
        border: solid 0.1em rgba(0,0,0, 0.2);
        font-weight: 500;
        border-radius: 2em;
        color: black;
        font-family: opensans-condensed-bold;
        padding-left: 1em;
        padding-bottom: 0.1em;
    }
    .createjob-form option {
        font-size: 1em;
        font-weight: 500;
        color: black;
        font-family: opensans-condensed-bold;
    }
    .createjob-form input::placeholder {
        color: black;
        font-family: opensans-condensed-bold;
        font-size: 1.15em;
        width: 100%;
        padding-left: 0.3em;
        padding-bottom: 0.1em;
        font-weight: 800;
    }

    .createjob-form textarea {
        background-color: white;
        width: 85%;
        margin-left: 7.5%;
        margin-right: 7.5%;
        font-size: 1.15em;
        border: solid 0.15em rgba(0,0,0, 0.2);
       
        font-weight: 800;
        color: black;
        padding-top: 2vh;
        padding-left: 2vh;
        font-family: opensans-condensed-light;
        overflow-y: auto;
    }
   
    .createjob-form-date-label {
        font-family: opensans-condensed-bold;
        height: 5vh;
        font-weight: 800;
        color: black;
        font-size: 1em;
        text-align: right;
        margin-top:1.5vh;
        padding-top:0;
    }
    .createjob-select{
    
    }
    
    *:focus{
        border: solid #00B2E5 1px !important;
    }
    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: url("../Img/caret-down.svg");
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
    }
    textarea, .createjob-form-container{
        border-radius: 10px;
    }
    /* For IE */
    select::-ms-expand {
      display: none;
    }
</style>

<div class="createjob-form-container">
    <form class="createjob-form">
        <div class="form-group createjob-form-group" style="margin-top:5vh;">
            <div class="createjob-form-individual">
                <input type="text" placeholder="Job Name"  @bind="TempJob.Title" />
            </div>
        </div>
        <div class="form-group createjob-form-group">
            <div class="createjob-form-individual">
                <input type="text" placeholder="Company Name" @bind="TempJob.Company" />
            </div>
            <div class="createjob-form-individual">
                <select class="createjob-select" @onchange="OnLocationChanged">
                    <option selected>Select Location</option>
                    @foreach (var location in Locations)
                    {
                        <option>@location</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group createjob-form-group">
            <div class="createjob-form-individual">
                <select class="createjob-select" @bind="@Type">
                    <option selected>Select Job Type</option>
                    @foreach (var item in jobTypes)
                    {
                        <option value="@item.Type">@item.Type</option>
                    }
                </select>
                
            </div>
            <div class="createjob-form-individual">
                <select class="createjob-select" @onchange="OnDepartmentChanged">
                    <option selected>Select Department</option>
                    @foreach (var department in Departments)
                    {
                        <option>@department</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group createjob-textarea">
            <textarea class="form-controlrounded-1" style="resize: none" placeholder="Description" rows="4" @bind="TempJob.Description"></textarea>
        </div>
        <div class="form-group createjob-form-group">
            <div class="createjob-form-individual">
                <h2 class="createjob-form-date-label">Due Date: </h2>
            </div>
            <div class="createjob-form-individual">
               <input type="date" class="createjob-form-date"  @bind="TempJob.DueDate" style="padding-right: 5px;" />
            </div>
        </div>
    </form>
</div>
<input type="button" value="Save" class="createjob-bottom-main-button" @onclick="Save"/>


@code {

    string Type;

    [Parameter]
    public EventCallback<string> ValueChanged
    {
        get;
        set;
    }

    
    private Task OnLocationChanged(ChangeEventArgs e)
    {
        TempJob.Location = e.Value.ToString();
        return ValueChanged.InvokeAsync(TempJob.Location);
    }

    private Task OnDepartmentChanged(ChangeEventArgs e)
    {
        TempJob.Department = e.Value.ToString();
        return ValueChanged.InvokeAsync(TempJob.Department);
    }

    private async Task Save()
    {
        JobType jobType = new JobType();
        jobType.Type = Type;
        foreach (var type in jobTypes)
        {
            if (type.Type == Type)
            {
                jobType.Id = type.Id;
            }
        }

        TempJob.JobType = jobType;
        TempJob.JobPlatforms = ListOfPlatforms;
        await TempJobChanged.InvokeAsync(TempJob);
    }

}
