@page "/dataanalyticstool"

<style>
    * {
        margin: 0;
        padding: 0;
    }
    .da-container {
        width: 97%;
        margin-left: 1.5%;
        margin-right: 1.5%;
        height: 100%;
        border-radius: 3em;
        display: flex;
    }
    .da-nav {
        width: 5%;
        background-color: black;
        box-shadow: 0 2px 5px 0 rgba(255,255,255, 1), 0 2px 10px 0 rgba(255,255,255, 1);
        height: 90%;
        margin-top: 3%;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    .da-nav-option {
        width: 100%;
        height: 8vh;
        text-align: center;
        color: #00bcae;
        font-size: 1em;
        margin-top: 1vh;
        text-align: center;
    }
        .da-nav-option:hover {
            width: 100%;
            height: 8vh;
            text-align: center;
            background-color: #00bcae;
            color: white;
            margin-top: 1vh;
            text-align: center;
        }
    .da-nav-icon {
        width: 100%;
        height: 8vh;
        font-size: 1.5em;
        line-height: 8vh;
    }
    .bottom-cover {
        height: 42px;
        width: 92%;
        background-color: white;
        position: absolute;
        z-index: 1;
        margin-left:5%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 30px;
        background-color: rgba(255,255,255,1);
        border: none;
        top: 87%;
    }
    .da-main {
        width: 95%;
        height: 90%;
        margin-top: 3%;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    iframe {
        width: 100%;
        height: 100%;
        padding:0;
        background-color: transparent;
        border: none;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
</style>

<div class="da-container">
    <div class="da-nav">
        <div class="da-nav-option" @onclick="showConversionRates">
            <i class="fas fa-exchange-alt da-nav-icon"></i>
        </div>
        <div class="da-nav-option" @onclick="showGenderRatios">
            <i class="fas fa-venus-mars da-nav-icon"></i>
        </div>
        <div class="da-nav-option" @onclick="showJobPortalStats">
            <i class="fas fa-briefcase da-nav-icon"></i>
        </div>
        <div class="da-nav-option" @onclick="showJobTypeStats">
            <i class="fas fa-file-signature da-nav-icon"></i>
        </div>
        <div class="da-nav-option" @onclick="showRecruitingFunnelStats">
            <i class="fas fa-filter da-nav-icon"></i>
        </div>
        <div class="da-nav-option" @onclick="showTrafficStats">
            <i class="fas fa-traffic-light da-nav-icon"></i>
        </div>
        <div class="da-nav-option" @onclick="showTalentRating">
            <i class="fas fa-percent da-nav-icon"></i>
        </div>
    </div>
    <div class="da-main" hidden="@conversionRateIsHidden">
        <iframe src="https://app.powerbi.com/reportEmbed?reportId=4581a5c1-56a3-4ee3-aee3-c3b0a7b788df&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="da-main" hidden="@genderRatioIsHidden">
        <iframe src="https://app.powerbi.com/reportEmbed?reportId=0b5e6910-67af-41db-8b60-afbcb18851b5&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="da-main" hidden="@jobPortalIsHidden">
        <iframe src="https://app.powerbi.com/reportEmbed?reportId=25032d59-63ec-4b5c-8438-e3411aa5dd46&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="da-main" hidden="@jobTypeIsHidden">
        <iframe src="https://app.powerbi.com/reportEmbed?reportId=808d4da8-cf6e-433e-9a81-1bf053b494d7&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="da-main" hidden="@recruitingFunnelIsHidden">
        <iframe src="https://app.powerbi.com/reportEmbed?reportId=8e75b67a-45df-4c1e-ac0e-826eb5a01ed1&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="da-main" hidden="@trafficIsHidden">
        <iframe src="https://app.powerbi.com/reportEmbed?reportId=b3530bb4-06af-44bf-b116-1bfb5046d003&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe> 
    </div>
    <div class="da-main" hidden="@talentRatingIsHidden">
         <iframe src="https://app.powerbi.com/reportEmbed?reportId=1a8d7120-26b3-41c1-81b7-d1f0a04db450&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe> 
    </div>
    <div class="bottom-cover"></div>
</div>

@code{
    private bool conversionRateIsHidden, genderRatioIsHidden, jobPortalIsHidden, jobTypeIsHidden, trafficIsHidden, talentRatingIsHidden, recruitingFunnelIsHidden;

    protected override async Task OnInitializedAsync()
    {
        trafficIsHidden = false;
        genderRatioIsHidden = jobPortalIsHidden = jobTypeIsHidden = conversionRateIsHidden = talentRatingIsHidden = recruitingFunnelIsHidden = true;
    }

    private void showConversionRates()
    {
        conversionRateIsHidden = false;
        genderRatioIsHidden = jobPortalIsHidden = jobTypeIsHidden = trafficIsHidden = talentRatingIsHidden = recruitingFunnelIsHidden = true;
    }

    private void showGenderRatios()
    {
        genderRatioIsHidden = false;
        conversionRateIsHidden = jobPortalIsHidden = jobTypeIsHidden = trafficIsHidden = talentRatingIsHidden = recruitingFunnelIsHidden = true;
    }

    private void showJobPortalStats()
    {
        jobPortalIsHidden = false;
        genderRatioIsHidden = conversionRateIsHidden = jobTypeIsHidden = trafficIsHidden = talentRatingIsHidden = recruitingFunnelIsHidden = true;
    }

    private void showJobTypeStats()
    {
        jobTypeIsHidden = false;
        genderRatioIsHidden = jobPortalIsHidden = conversionRateIsHidden = trafficIsHidden = talentRatingIsHidden = recruitingFunnelIsHidden = true;
    }

    private void showRecruitingFunnelStats()
    {
        recruitingFunnelIsHidden = false;
        genderRatioIsHidden = jobPortalIsHidden = jobTypeIsHidden = trafficIsHidden = talentRatingIsHidden = conversionRateIsHidden = true;
    }

    private void showTrafficStats()
    {
        trafficIsHidden = false;
        genderRatioIsHidden = jobPortalIsHidden = jobTypeIsHidden = conversionRateIsHidden = talentRatingIsHidden = recruitingFunnelIsHidden = true;

    }

    private void showTalentRating()
    {
        talentRatingIsHidden = false;
        genderRatioIsHidden = jobPortalIsHidden = jobTypeIsHidden = trafficIsHidden = conversionRateIsHidden = recruitingFunnelIsHidden = true;
    }

}