@page "/dataanalyticstool"

<style>
    * {
        margin: 0;
        padding: 0;
    }
    .da-container {
        width: 97%;
        margin-left: 1.5%;
        margin-right: 1.5%;
        height: 100%;
        border-radius: 3em;
        display: flex;
    }
    .da-nav {
        width: 5%;
        background-color: black;
        box-shadow: 0 2px 5px 0 rgba(255,255,255, 1), 0 2px 10px 0 rgba(255,255,255, 1);
        height: 90%;
        margin-top: 3%;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    .da-nav-option {
        width: 100%;
        height: 8vh;
        text-align: center;
        color: #00bcae;
        font-size: 1em;
        margin-top: 1vh;
        text-align: center;
    }
        
        
        .da-nav-option:hover {
            width: 100%;
            height: 8vh;
            text-align: center;
            background-color: #00bcae;
            color: white;
            margin-top: 1vh;
            text-align: center;
            visibility: visible;
            border-radius:10%;
        }
        .da-nav-option:focus {
            background-color: #00bcae;
            color: white;
        }
    .da-nav-icon {
        width: 100%;
        height: 8vh;
        font-size: 1.5em;
        line-height: 8vh;
    }
    .bottom-cover {
        height: 42px;
        width: 92%;
        background-color: white;
        position: absolute;
        z-index: 1;
        margin-left:5%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 30px;
        background-color: rgba(255,255,255,1);
        border: none;
        top: 87%;
    }
    .da-main {
        width: 95%;
        height: 90%;
        margin-top: 3%;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    iframe {
        width: 100%;
        height: 100%;
        padding:0;
        background-color: transparent;
        border: none;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .tooltip-c .tooltip-text {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
    }
    .tooltip-c:hover .tooltip-text {
        visibility: visible;
    }
</style>

<div class="da-container">
    <div class="da-nav">
        <div class="da-nav-option tooltip-c color-change" @onclick="showConversionRates">
            <i class="fas fa-exchange-alt da-nav-icon"></i><span class="tooltip-text"> Conversion Rate</span>
        </div>
        <div class="da-nav-option tooltip-c nav-icon" @onclick="showGenderRatios">
            <i class="fas fa-venus-mars da-nav-icon"></i><span class="tooltip-text"> Gender Statistics</span>
        </div>
        <div class="da-nav-option tooltip-c" @onclick="showJobPortalStats">
            <i class="fas fa-briefcase da-nav-icon"></i><span class="tooltip-text"> Job Portal Statistics</span>
        </div>
        <div class="da-nav-option tooltip-c" @onclick="showJobTypeStats">
            <i class="fas fa-file-signature da-nav-icon"></i><span class="tooltip-text"> Employment Type Statistics</span>
        </div>
        <div class="da-nav-option tooltip-c" @onclick="showRecruitingFunnelStats">
            <i class="fas fa-filter da-nav-icon"></i><span class="tooltip-text"> Recruiting Funnel</span>
        </div>
        <div class="da-nav-option tooltip-c" @onclick="showTrafficStats">
            <i class="fas fa-traffic-light da-nav-icon"></i><span class="tooltip-text"> Site Activity</span>
        </div>
        <div class="da-nav-option tooltip-c" @onclick="showTalentRating">
            <i class="fas fa-percent da-nav-icon"></i><span class="tooltip-text"> Talent Pool</span>
        </div>
    </div>
    <div class="da-main" hidden="@conversionRateIsHidden">
        <iframe src="https://app.powerbi.com/reportEmbed?reportId=5d9084fa-5e30-4818-867a-5b84e9f0d525&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="da-main" hidden="@genderRatioIsHidden">
        <iframe src="https://app.powerbi.com/reportEmbed?reportId=b1431b8d-dc89-403e-ab5c-1b9562d55697&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="da-main" hidden="@jobPortalIsHidden">
        <iframe src="https://app.powerbi.com/reportEmbed?reportId=38feff49-b32b-46d0-bf96-f1d61106c1f1&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="da-main" hidden="@jobTypeIsHidden">
        <iframe src="https://app.powerbi.com/reportEmbed?reportId=af14ac85-83cb-4fbc-876b-9ee7732a54dd&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="da-main" hidden="@recruitingFunnelIsHidden">
        <iframe src="https://app.powerbi.com/reportEmbed?reportId=fd1976e5-a142-4a27-b061-c3bcc3924ae1&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="da-main" hidden="@trafficIsHidden">
        <iframe src="https://app.powerbi.com/reportEmbed?reportId=8a1f938a-6b35-4526-8809-344fadefd663&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe> 
    </div>
    <div class="da-main" hidden="@talentRatingIsHidden">
         <iframe src="https://app.powerbi.com/reportEmbed?reportId=1cedc258-2883-407e-ae0b-2ab3c6e6a7ac&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe> 
    </div>
    <div class="bottom-cover"></div>
</div>

@code{
    private bool conversionRateIsHidden, genderRatioIsHidden, jobPortalIsHidden, jobTypeIsHidden, trafficIsHidden, talentRatingIsHidden, recruitingFunnelIsHidden;

    protected override async Task OnInitializedAsync()
    {
        trafficIsHidden = false;
        genderRatioIsHidden = jobPortalIsHidden = jobTypeIsHidden = conversionRateIsHidden = talentRatingIsHidden = recruitingFunnelIsHidden = true;
    }

    private void showConversionRates()
    {
        conversionRateIsHidden = false;
        genderRatioIsHidden = jobPortalIsHidden = jobTypeIsHidden = trafficIsHidden = talentRatingIsHidden = recruitingFunnelIsHidden = true;
    }

    private void showGenderRatios()
    {
        genderRatioIsHidden = false;
        conversionRateIsHidden = jobPortalIsHidden = jobTypeIsHidden = trafficIsHidden = talentRatingIsHidden = recruitingFunnelIsHidden = true;
    }

    private void showJobPortalStats()
    {
        jobPortalIsHidden = false;
        genderRatioIsHidden = conversionRateIsHidden = jobTypeIsHidden = trafficIsHidden = talentRatingIsHidden = recruitingFunnelIsHidden = true;
    }

    private void showJobTypeStats()
    {
        jobTypeIsHidden = false;
        genderRatioIsHidden = jobPortalIsHidden = conversionRateIsHidden = trafficIsHidden = talentRatingIsHidden = recruitingFunnelIsHidden = true;
    }

    private void showRecruitingFunnelStats()
    {
        recruitingFunnelIsHidden = false;
        genderRatioIsHidden = jobPortalIsHidden = jobTypeIsHidden = trafficIsHidden = talentRatingIsHidden = conversionRateIsHidden = true;
    }

    private void showTrafficStats()
    {
        trafficIsHidden = false;
        genderRatioIsHidden = jobPortalIsHidden = jobTypeIsHidden = conversionRateIsHidden = talentRatingIsHidden = recruitingFunnelIsHidden = true;

    }

    private void showTalentRating()
    {
        talentRatingIsHidden = false;
        genderRatioIsHidden = jobPortalIsHidden = jobTypeIsHidden = trafficIsHidden = conversionRateIsHidden = recruitingFunnelIsHidden = true;
    }

}