@page "/hrjobportal"
@inject HttpClient httpClient
@inject IJSRuntime jsRuntime
@inject NavigationManager nav

<style>
    .searchBox {
    }

    .handPointer {
        cursor: pointer;
    }

    .headingPage {
        height: 5vh;
        color: #003340;
        font-size: 2rem;
    }

    .formContainer {
        background-color: white;
    }

    .formButton {
        background-color: #00BCAE;
        color: white;
        font-weight: 600;
        height: 5vh;
        margin-top: 2vh;
        width: auto;
    }

    input {
        height: min-content;
    }

        input.smallerCheckBox {
            width: 15px;
            height: 15px;
            margin: 2px;
        }

    .select2 {
        width: 100% !important;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    .container-main {
        height: 75vh;
        width: 100%;
    }

    .container-button {
        height: 5vh;
        width: 100%;
    }

    .mini-button {
        height: 5vh;
        text-align: center;
        background-color: #00bcae;
        width: auto;
        border-radius: 1em;
    }

    .my-container {
        height: 65vh;
        width: 100%;
    }
</style>

<div class="container" style="height: 60vh;" hidden="@JobPortalIsHidden">

    <div style="width: 100%">
        <!--Search-Box-->
        <div class="row" style="height:5vh">
            <div class="col-12">
                <div class="input-group d-flex justify-content-center">
                    <span class="input-group-text handPointer" @onclick="() => SeachListJob(searchJob)">
                        <i class="fa fa-search"></i>
                    </span>
                    <input class="form-control" style="max-width: 50%" type="text" placeholder="Search" @bind="searchJob" />
                </div>
            </div>
        </div>
        <br />

        @if (jobListFilter != null && jobListFilter.Count > 0)
        {
            <div class="row" style="height:55vh">
                <div class="col-4 overflow-auto" style="height: 55vh">

                    <!--Card list for jobs-->
                    <div class="col-12">
                        @foreach (var item in jobPagedList)
                        {
                            <div class="card handPointer" @onclick="() => DisplayJobDetail(item.Id)">
                                <div class="card-body">
                                    <h3 class="card-title">@item.Title</h3>
                                    <h5 class="card-subtitle text-muted">@item.Company</h5>
                                    <br />
                                    <p class="card-text">
                                        @item.Location
                                        <br />
                                        @item.DueDate.ToString("d MMMM yyyy")
                                    </p>
                                </div>
                            </div>
                            <br />
                        }
                    </div>
                </div>

                <div class="col-8 overflow-auto" style="height:55vh">

                    <!--The Form for editing and deleting a job-->
                    <div style="height: 55vh">
                        <div class="col-12 p-5 formContainer">
                            <form>
                                <div class="row">
                                    <div class="col-6 p-2">
                                        @if (changeForm)
                                        {
                                            <label>Job Title</label>
                                            <input type="text" class="form-control" placeholder="Job Name" @bind="displayJobDetail.Title" />
                                        }
                                        else
                                        {
                                            <h3>@displayJobDetail.Title</h3>
                                        }
                                    </div>
                                    <div class="col-6 p-2 d-flex justify-content-end">
                                        <div class="row">
                                            @if (changeForm)
                                            {
                                                <div class="col handPointer" @onclick="() => FormType(false)"><i class="fa fa-times-circle fa-2x" style="color: red"></i></div>
                                                <div class="col handPointer" @onclick="() => SaveData (displayJobDetail)"><i class="fa fa-save fa-2x" style="color: #00BCAE"></i></div>
                                            }
                                            else
                                            {
                                                <div class="col handPointer" @onclick="() => FormType(true)"><i class="fa fa-edit fa-2x" style="color: #00BCAE"></i></div>
                                                <div class="col handPointer" @onclick="() => DeleteData(displayJobDetail.Id)"><i class="fa fa-trash fa-2x" style="color: #00BCAE"></i></div>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-6 p-2">
                                        @if (changeForm)
                                        {
                                            <label>Company</label>
                                            <input type="text" class="form-control" placeholder="Company Name" @bind="displayJobDetail.Company" />
                                        }
                                        else
                                        {
                                            <h5 class="text-muted">@displayJobDetail.Company</h5>
                                        }
                                    </div>
                                    <div class="col-6 p-2 justify-content-end">
                                        @if (changeForm)
                                        {
                                            <label>Location</label>
                                            <select class="form-select" @bind="displayJobDetail.Location">
                                                @foreach (var item in mockLocations.Distinct())
                                                {
                                                    <option>@item.location</option>
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <p>@displayJobDetail.Location</p>
                                        }
                                    </div>
                                    <div class="col-6 p-2">

                                        @if (changeForm)
                                        {
                                            <label>Job Type</label>
                                            <select class="form-select">
                                                <option>Full-time</option>
                                                <option>Part-time</option>
                                                <option>Contract</option>
                                            </select>
                                        }
                                        @if (!changeForm)
                                        {
                                            <p>Full-Time</p>
                                        }
                                    </div>
                                    <div class="col-6 p-2">

                                        @if (changeForm)
                                        {
                                            <label>Department</label>
                                            <select class="form-select" @bind="displayJobDetail.Department">
                                                @foreach (var item in mockDepartments.Distinct())
                                                {
                                                    <option>@item.department</option>
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <p>@displayJobDetail.Department</p>
                                        }
                                    </div>
                                    <div class="col-12 p-2">
                                        @if (changeForm)
                                        {
                                            <label>Job Description</label>
                                            <textarea class="form-control" placeholder="Description" rows="4" @bind="displayJobDetail.Description"></textarea>
                                        }
                                        else
                                        {
                                            <p class="text-center">@displayJobDetail.Description</p>
                                        }
                                    </div>
                                    <div class="col-6 p-2">
                                        <div hidden="@(!changeForm)">

                                            @foreach (var item in jobPlatformHelpers)
                                            {
                                                @if (displayJobDetail.Id == item.JobId)
                                                {
                                                    @foreach (var platform in jobPlatforms)
                                                    {
                                                        @if (item.JobPlatformId == platform.id)
                                                        {
                                                            platformsUsed.Add(platform);
                                                        }
                                                    }
                                                }

                                            }

                                            @foreach (var jobPlatform in jobPlatforms)
                                            {

                                                @if (!platformsUsed.Contains(jobPlatform))
                                                {
                                                    <input class="smallerCheckBox" type="checkbox" id="@jobPlatform.id" name="@jobPlatform.platformName" @onclick='() => AddPlatform(jobPlatform)'>
                                                    <label for="@jobPlatform.id"> @jobPlatform.platformName</label>
                                                }
                                                else
                                                {
                                                    <input class="smallerCheckBox" type="checkbox" id="@jobPlatform.id" name="@jobPlatform.platformName" checked @onclick='() => RemovePlatform(jobPlatform)'>
                                                    <label for="@jobPlatform.id"> @jobPlatform.platformName</label>
                                                }
                                            }

                                        </div>
                                        @if (!changeForm)
                                        {
                                            <p>@displayJobDetail.JobPlatforms</p>
                                        }
                                    </div>
                                    <div class="col-6 p-2 justify-content-end">
                                        @if (changeForm)
                                        {
                                            <label>Date Advertised</label>
                                            <input class="form-control" type="date" @bind="displayJobDetail.DueDate" />
                                            <label>Due Date</label>
                                            <input class="form-control" type="date" @bind="displayJobDetail.DueDate" />
                                        }
                                        else
                                        {
                                            <p>@displayJobDetail.DueDate.ToString("d MMMM yyyy")</p>
                                        }
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row p-3">
                <div class="col-4">
                    <div class="col-12 d-flex justify-content-center">
                        <nav>
                            <ul class="pagination" style="cursor:pointer">
                                @if (!jobPagedList.IsFirstPage)
                                {
                                    <li class="page-item" @onclick="() => PageListNav(jobPagedList.PageNumber - 1)">
                                        <a class="page-link">
                                            <span>&laquo;</span>
                                        </a>
                                    </li>
                                }
                                <li class="page-item @(jobPagedList.PageNumber.Equals(pageNum.FirstOrDefault()) ? "active":"")" @onclick="() => PageListNav(pageNum.FirstOrDefault())"><a class="page-link">@pageNum.FirstOrDefault()</a></li>
                                @foreach (var item in pageNum)
                                {
                                    if (item != pageNum.FirstOrDefault() && item != pageNum.LastOrDefault())
                                    {
                                        @if (item >= jobPagedList.PageCount - 3 - 2 && jobPagedList.PageNumber >= jobPagedList.PageCount - 3)
                                        {
                                            <li class="page-item @(jobPagedList.PageNumber.Equals(item) ? "active":"")" @onclick="() => PageListNav(item)"><a class="page-link">@item</a></li>
                                        }
                                        else if (item <= 4 + 2 && jobPagedList.PageNumber <= 4)
                                        {
                                            <li class="page-item @(jobPagedList.PageNumber.Equals(item) ? "active":"")" @onclick="() => PageListNav(item)"><a class="page-link">@item</a></li>
                                        }
                                        else if (item >= jobPagedList.PageNumber - 2 && item <= jobPagedList.PageNumber + 2 && jobPagedList.PageNumber < jobPagedList.PageCount - 3 && jobPagedList.PageNumber > 4)
                                        {
                                            <li class="page-item @(jobPagedList.PageNumber.Equals(item) ? "active":"")" @onclick="() => PageListNav(item)"><a class="page-link">@item</a></li>
                                        }
                                    }
                                }
                                @if (pageNum.Count > 1)
                                {
                                    <li class="page-item @(jobPagedList.PageNumber.Equals(pageNum.LastOrDefault()) ? "active":"")" @onclick="() => PageListNav(pageNum.LastOrDefault())"><a class="page-link">@pageNum.LastOrDefault()</a></li>
                                }
                                @if (!jobPagedList.IsLastPage)
                                {
                                    <li class="page-item" @onclick="() => PageListNav(jobPagedList.PageNumber + 1)">
                                        <a class="page-link">
                                            <span>&raquo;</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-8">
                    <div class="col-12 d-flex justify-content-center">
                        <button class="btn formButton" @onclick="GoToCreateAJob">Create Job</button>
                    </div>
                </div>
            </div>
        }
        else
        {
            @for (int i = 0; i < 5; i++)
            {
                <br />
            }
            <h1 class="text-center align-middle">No Job Are Available</h1>
        }
    </div>
</div>

<div class="my-container" hidden="@createJobIsHidden">
    <div class="container-main">
        <XebecPortal.UI.Pages.HR.CreateJob />
    </div>
    <div class="container-button">
        <input type="button" class="mini-button" @onclick="GoToApplicationFormControl" value="Application Form Control" />
    </div>
</div>

<div class="my-container" hidden="@applicationFormControlIsHidden">
    <div class="container-main">
        <XebecPortal.UI.Pages.HR.ApplicationFormControlTool />
    </div>
    <div class="container-button">

        <input type="button" class="mini-button" @onclick="GoToPhaseControl" value="Phase Control Tool" />
    </div>
</div>

<div class="my-container" hidden="@phaseControlIsHidden">
    <XebecPortal.UI.Pages.HR.PhaseControlTool />
</div>

@code {
    private bool JobPortalIsHidden = false;
    private bool applicationFormControlIsHidden = true;
    private bool phaseControlIsHidden = true;
    private bool createJobIsHidden = true;

    private void GoToApplicationFormControl()
    {
        JobPortalIsHidden = true;
        applicationFormControlIsHidden = false;
        phaseControlIsHidden = true;
        createJobIsHidden = true;
    }

    private void GoToPhaseControl()
    {
        JobPortalIsHidden = true;
        applicationFormControlIsHidden = true;
        phaseControlIsHidden = false;
        createJobIsHidden = true;

    }
    private void GoToCreateAJob()
    {
        JobPortalIsHidden = true;
        applicationFormControlIsHidden = true;
        phaseControlIsHidden = true;
        createJobIsHidden = false;

    }

}