@page "/hrjobportal"
@inject HttpClient httpClient
@inject IJSRuntime jsRuntime
@inject NavigationManager nav
@inject HrJobState hrJobState
@inject UserState state
@inject IDialogService DialogService
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<style>
    .page-container{
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -o-box-pack: center;
        -ms-flex-pack: center;
        /*display: flex; */
        -webkit-justify-content: center;
        justify-content: center;
        width: 100%;
        margin-top: 50px;
    }
    .table-jobs-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        /*height: 60vh;*/
        margin-top: 10px;
    }

        .table-jobs-container td {
            text-align: left;
            padding-left: 20px;
        }

        .table-jobs-container table {
            width: 1300px;
        }

        .table-jobs-container thead tr {
            height: 50px;
            background: #00bcae;
            color: white;
            font-weight: 800;
            font-family: opensans-condensed-bold;
            font-size: 24px;
        }

        .table-jobs-container tbody tr {
            border-bottom: 1px solid #e2e2e2;
            /*height: 9vh;*/
            height: 65px;
            background: #fff;            
        }

        .table-jobs-container tbody {
            display: block;
            /*height: 53vh;*/
            /*overflow: auto;*/
        }

        .table-jobs-container thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        .table-jobs-container tr:first-child td:first-child {
           /* border-top-left-radius: 10px;*/
        }

        .table-jobs-container tr:first-child td:last-child {
            /*border-top-right-radius: 10px;*/
        }

    .create-job-button-layout{
        
        /*margin-left: -890px;*/
       /* position: relative;*/
    }
    .above-table-styling{
        display: flex; 
        justify-content: center;
        padding-left: 65px;
        padding-right: 65px;
    }

    .job-title-style{
        color: #00bcae;
        font-size: 21px;
        font-weight: 700;
    }
    .job-title-style:hover{
        color: #D35BC9;
        cursor: pointer;
    }

    .text-colour{
        color: #A9ABA7;
        font-size: 18px;
    }

</style>

<div class="page-container">
    <div class="above-table-styling">
        <div class="create-job-button-layout"> 
            <input type="button" class="default-button-style" style="width: 170px; font-size: 20px;" value="+ Create a Job" />
        </div>           
        <div style="margin-left: 888px; display: flex; align-items: end; color: #666666">@openJobCounter of @totalJobs Open -&nbsp; Show&nbsp;</div>
        <div  style="display: flex; align-items: end;"> 
          
            <select class="default-select-style" @onchange="filterJobStatus" > <!--@onfocusout="() => filterJobStatus(selectedFilterStatus)"-->
                 <option value="Draft & Open">Draft & Open</option>
                 <option value="Draft">Draft</option>
                 <option value="Open">Open</option>
            </select>   
          
        </div>
    </div>
    
    <div class="table-jobs-container" >
        <table>
            <thead>
                <tr >
                    <td style="width: 150px;">Candidates</td>
                    <td style="width: 620px;" >Job Title</td>
                    <td style="width: 225px;">Hiring Lead</td>
                    <td style="width: 180px;">Created On</td>
                    <td>Status</td>           
                </tr>
            </thead>
            <tbody>
                @foreach (var item in jobListFilter)
                {
                    <tr>
                        <td style="width: 150px; padding-left: 30px;"><div style="color:#2294E3; font-size: 18px;"><i class="fas fa-users" style="color: #00BCAE;font-size: 18px;"></i> @calculateTotalApplicants(@item.Id)</div></td>
                        <td style="width: 620px;"><div class="job-title-style" @onclick="() => showJobDetails(item.Id)">@item.Title</div> <div class="text-colour">@item.Location.Name</div></td>
                        <td style="width: 225px;"><div style="font-size: 18px; "> @getHiringlead(@item.Id)</div></td>
                        <td style="width: 180px;"><div style="font-size: 18px;">@item.CreationDate.ToString("MMMM d, yyyy")</div> <div class="text-colour">@calculateDays(@item.CreationDate) days ago</div></td> 
                        <td><div style="font-size: 18px;">@item.Status</div></td> 
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@if (loadInfo)
{
    <div class="appform-submit-modal">
        <MudProgressCircular Size="Size.Large" Indeterminate="true" />
    </div>

}
@code {
    
}