@page "/phasecontrol"
@inject HttpClient httpClient
@inject IJSRuntime jsr

<style>

    .container {
        display: flex;
        width: 100%;
        height: 60vh;
    }

    .center {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .select-phase {
        justify-content: center;
        text-align: center;
        margin-right: 50px;
        margin-left: 50px;
        width: 50%;
        height: 100%;
    }

    .phase-order {
        justify-content: center;
        text-align: center;
        margin-left: 75px;
        margin-right: 75px;
        width: 50%;
        height: 100%;
    }

    .phase-order-content {
        justify-content: center;
        text-align: left;
        height: 100%;
    }

    .button {
        margin-top: 10px;
    }

    .button-content {
        background-color: lightseagreen;
        font-weight: bold;
        color: white;
        border: none;
        border-radius: 3px;
    }

    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
        height: 30%;
        margin-top: 10%;
    }

    .close {
        position: absolute;
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        padding-right: 10px;
        top: 0px;
        right: 0px;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .close-phase {
        color: #aaaaaa;
        font-size: 35px;
        font-weight: bold;
    }

        .close-phase:hover,
        .close-phase:focus {
            color: lightseagreen;
            text-decoration: none;
            cursor: pointer;
        }

    .modalbox {
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    td:hover {
        color: lightseagreen;
        text-decoration: none;
        cursor: pointer;
    }

    input {
        width: 100%;
        height: 50%;
    }
</style>

<div class="container">
    <div class="select-phase row overflow-auto">

        <table class="table-bordered" style="background-color: white">

            <colgroup>
                <col style="width: 90%;">
                <col style="width: 10%;">
            </colgroup>

            <thead style="background-color: #003340">
                <tr>
                    <td style="color: white" colspan="2">Select Phase</td>
                </tr>
            </thead>

            <tbody>

                @foreach (var phase in phases)
                {
                    <tr>
                        <td style="font-weight: bold" @onclick="() => AddPhase(phase)">@phase.description</td>
                        <td class="close-phase" @onclick="() => DeletePhase(phase)">&times;</td>
                    </tr>
                    @foreach (var subphase in subphases)
                    {
                        @if (phase.id == subphase.applicationPhaseId)
                        {
                            <tr>
                                <td style="font-weight: bold" @onclick="() => AddSubPhase(phase,subphase)">@subphase.description</td>
                                <td class="close-phase" @onclick="() => DeleteSubPhase(subphase)">&times;</td>
                            </tr>
                        }
                    
                    }
                }

            </tbody>

        </table>
        <div class="button">
            <button @onclick="ToggleModalSubmitPhase" class="button-content">Add Phase</button>
        </div>
    </div>

    <div class="phase-order row overflow-auto">

        <table style="background-color: white">
            <colgroup>
                <col style="width: 70%;">
                <col style="width: 30%;">
            </colgroup>

            <thead style="color: #003340; font-size: 1.5em">
                <tr>
                    <td style="font-weight: bold" colspan="2">Phase Order</td>
                </tr>
            </thead>

            <tbody style="text-align: left">

                @foreach (var phase in phasesAdded)
                {
                    <tr class="align-text-top">
                        <tr>
                            <td class="text-left" style="font-weight: bold">@phase.description</td>
                        </tr>
                        @foreach (var subphase in SubPhasesAdded)
                        {
                            @if (phase.id == subphase.applicationPhaseId)
                            {
                                <tr>
                                    <td style="font-weight: bold">@subphase.description</td>
                                    <td><button type="button" @onclick="() => DeletePhaseOrderSubPhase(subphase)" class="button-content" btn>Remove</button></td>
                                    @if (subphase.description.ToLower() == "developer interview")
                                    {
                                        <td>@developerAssigned</td>
                                    }
                                </tr>
                            }
                        }

                        <td><button type="button" @onclick="() => DeletePhaseOrderPhase(phase)" class="button-content" btn>Remove</button></td>
                    </tr>
                }

            </tbody>

        </table>

        <div class="button">
            <a href="https://localhost:44364/"><button class="button-content">Add Phase</button></a>
        </div>
    </div>
 </div>

@if (showModalSubmitPhase)
{
    <div class="modalbox">
        <div class="modal-content">
            <span class="close" @onclick="ToggleModalSubmitPhase">&times;</span>
            <p>Phase:</p>
            <input type="text" @bind="@phaseValue.description" />
            <div class="button">
                <button type="submit" @onclick="AddPhase" class="button-content">Submit Phase</button>
            </div>
        </div>
    </div>
}

@if (showModalAssign)
{
    <div class="modalbox">
        <div class="modal-content">

            <span class="close" @onclick="ToggleModalAssign">&times;</span>

            <table class="table-bordered position-relative" style="background-color: white; padding-right: 10px; margin-top: 20px">
                <thead style="background-color: #003340">
                    <tr>
                        <td style="color: white">Select Developer</td>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var developer in developers)
                    {
                        @if (developer.role == "Developer")
                        {
                            <tr>
                                <td @onclick="() => AssignDeveloper(developer)">@developer.name</td>
                            </tr>
                        }
                    }

                </tbody>

            </table>
            @*<div class="button">
                    <button @onclick="ToggleModalAssign" class="button-content">Assign</button>
                </div>*@
        </div>
    </div>
}
@code
{
    private IList<Phase> phases = new List<Phase>();
    private IList<SubPhase> subphases = new List<SubPhase>();
    private IList<SubPhase> SubPhasesAdded = new List<SubPhase>();
    private IList<Phase> phasesAdded = new List<Phase>();
    private IList<AppUser> developers = new List<AppUser>();
    Phase phaseValue = new Phase();

    private string developerAssigned = "";

    private MainModel mainmodel { get; set; } = new MainModel();

    private bool showModalSubmitPhase = false;
    private bool showModalAssign = false;

    protected override async Task OnInitializedAsync()
    {
        phases = await httpClient.GetFromJsonAsync<List<Phase>>("https://xebecapi.azurewebsites.net/api/applicationphase");
        subphases = await httpClient.GetFromJsonAsync<List<SubPhase>>("https://xebecapi.azurewebsites.net/api/applicationsubphase");
        developers = await httpClient.GetFromJsonAsync<List<AppUser>>("https://xebecapi.azurewebsites.net/api/user");
    }

    private void ToggleModalSubmitPhase()
    {
        showModalSubmitPhase = !showModalSubmitPhase;
    }

    private void ToggleModalAssign()
    {
        showModalAssign = !showModalAssign;
    }

    private async Task DeletePhase(Phase phase)
    {
        await httpClient.DeleteAsync($"https://xebecapi.azurewebsites.net/api/applicationphase/{phase.id}");
        phases = await httpClient.GetFromJsonAsync<List<Phase>>("https://xebecapi.azurewebsites.net/api/applicationphase");

        await jsr.InvokeVoidAsync("alert", "Deleted!");
    }

    private async Task DeleteSubPhase(SubPhase subPhase)
    {
        await httpClient.DeleteAsync($"https://xebecapi.azurewebsites.net/api/applicationsubphase/{subPhase.id}");
        subphases = await httpClient.GetFromJsonAsync<List<SubPhase>>("https://xebecapi.azurewebsites.net/api/applicationsubphase");

        await jsr.InvokeVoidAsync("alert", "Deleted!");
    }

    private async Task AddPhase()
    {

        await httpClient.PostAsJsonAsync("https://xebecapi.azurewebsites.net/api/applicationphase", phaseValue);

        phases = await httpClient.GetFromJsonAsync<List<Phase>>("https://xebecapi.azurewebsites.net/api/applicationphase");

        showModalSubmitPhase = !showModalSubmitPhase;
    }

    private void AddPhase(Phase phase)
    {
        if (!phasesAdded.Contains(phase))
        {
            phasesAdded.Add(phase);
        }

    }

    private void AddSubPhase(Phase phase, SubPhase subPhase)
    {
        if (!phasesAdded.Contains(phase) && !SubPhasesAdded.Contains(subPhase))
        {
            phasesAdded.Add(phase);
            SubPhasesAdded.Add(subPhase);
        }
        else if (!SubPhasesAdded.Contains(subPhase))
        {
            SubPhasesAdded.Add(subPhase);
        }

        if (subPhase.description.ToLower() == "developer interview")
        {
            ToggleModalAssign();
        }

    }

    private void AssignDeveloper(AppUser developer)
    {
        developerAssigned = developer.name;
    }

    private void DeletePhaseOrderPhase(Phase phase)
    {
        phasesAdded.Remove(phase);
    }

    private void DeletePhaseOrderSubPhase(SubPhase subPhase)
    {
        SubPhasesAdded.Remove(subPhase);
    }

    class Phase
    {
        public int id { get; set; }

        public string description { get; set; }
    }

    class SubPhase
    {
        public int id { get; set; }

        public int applicationPhaseId { get; set; }

        public string description { get; set; }
    }

    class AppUser
    {
        public int id { get; set; }

        public string email { get; set; }

        public string role { get; set; }

        public string passwordhash { get; set; }

        public string name { get; set; }

        public string surname { get; set; }

        public string key { get; set; }

        public bool registered { get; set; }

        public int linkVisits { get; set; }
    }
}
