@page "/applicationprofile"
@inject HttpClient httpClient
@inject IJSRuntime jsRuntime
@inject ISnackbar Snackbara
@using Microsoft.Extensions.Logging
@inject ILogger<ApplicationProfile>  Logger
@inject UserState state
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<style>
    .personal-info-container{
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -o-box-pack: center;
        -ms-flex-pack: center;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        width: 100%;
        margin-top: 50px;
        padding-left: 80px;
        padding-right: 80px;
        gap: 30px;
        margin-bottom: 20px;
    }

    .left-side-content{
        /* -webkit-box-flex: 1; */
        /*-moz-box-flex: 1;
        -o-box-flex: 1;
        box-flex: 1;*/
        /* -webkit-box-orient: vertical; */
        /*-moz-box-orient: vertical;
        -o-box-orient: vertical;*/
        /* display: -webkit-box; */
        display: -moz-box;
        /* display: -webkit-flex; */
        display: -ms-flexbox;
        display: box;
        /* display: flex; */
        /* -webkit-flex: 1; */
        -ms-flex: 1;
        /* flex: 1; */
        /* flex-direction: column; */
        margin-left: 7px;
        padding: 0 3px;
        /* position: relative; */
        right: -3px;
        /* width: 67.5%; */
        /* width: 400px; */
        justify-content: center;
    }
    .right-side-content{       
        /*-webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -o-box-orient: vertical;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: box;
        display: flex;*/
        /*-webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;*/

        /*left: -3px;
        margin-right: 7px;
        padding: 0 3px;*/
       /* position: relative;*/
        /*width: 31.1%;*/
        /*justify-content: center;
        margin-left: 40px;*/

        padding: 0 3px;
        justify-content: center;       
        width: 220px;
    }

    .left-side-content-container{
        /*width: 100%;*/
        /*width: 750px*/
        width: 800px;
        min-height: 40px;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        padding-left: 15px;
        justify-content: space-between;
        padding-right: 15px;
    }
    .left-side-content-container-header-styling{
        border-bottom: 1px solid #00bcae;
        height: 50px;
    }

    .right-side-content-container{
        /*background-color: #ffffff;
        padding-left: 15px;
        padding-right: 15px;*/
        position: fixed;
        background-color: #ffffff;
        padding-left: 15px;
        padding-right: 15px;
        width: 200px;
    }

    .content-title{
        text-transform: uppercase;
        Color: #00bcae !important;
        margin-left: 10px;
    }

    .content-edit-design{        
        font-size: 29px;
        display: flex;
        align-items: center;
        margin-right: 20px;
        color: #00bcae;
    }

    .content-collapse-icon{
       width: 15px;
       font-size: 30px;
       color: #00bcae;
    }

    .content-user-info-container{
        display: flex;
        /* justify-content: space-between; */
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .content-user-cv-info-container{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .user-image {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-top: 8px;
        margin-left: 5px;
        object-fit: cover;
    }

    .image-container{
        /* width: 50%; */
        width: 120px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .upload-image-text-style{
        cursor: pointer;
        color: #666666;
        text-decoration: underline;
    }

    .personal-Info-container{
        width: 290px;
        margin-left: 20px;
    }

    .drop-corner {
        border: #00BCAE dashed 2px !important;
        box-shadow: unset;
    }

    .drag-drop-zone {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .4s;
        height: 85px;
    }


    .drag-drop-input {
        position: absolute;
        background-color: pink;
        /* left: 113px; */
       /* top: 342px;*/
        width: 746px;
        height: 83px;
        opacity: 0; 
        cursor: pointer;
        border: unset;
    }

    .uploaded-documents-headings{
        color: #004393;
    }

    .upload-document-background{
        /*width: 720px;*/
        background-color: rgba(0,0,0,0.1);
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 44px;
        align-items: center;
    }

    .skill-content-style{        
        border-radius: 4px;
        background-color: rgba(0,188,174,0.45);
        padding-left: 10px;
        font-size: 18px;
        padding-right: 10px;
        margin-right: 5px;
        color: #00bcae;
        font-weight: 700;
    }
    .icon-styling{
        cursor: pointer;

    }
    .icon-styling:hover{
        color: #D35BC9;
    }

    .online-presence-icon-style{
        margin-right: 5px;
        width: 37px;
        font-size: 30px;
    }
    .online-presence-heading-style{
        font-weight: 600;
    }

    .circle-style{
        width: 30px;
        height: 30px;
        background-color: #D35BC9;
        border-radius: 100%;
        /*This is used to center the check mark on the circle*/
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .not-filled-circle-style{
        width: 30px;
        height: 30px;
        background-color: #A9ABA7;
        border-radius: 100%;
        /*This is used to center the check mark on the circle*/
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .check-list-circle-style{
        width: 20px;
        height: 20px;
        background-color: #D35BC9;
        border-radius: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-right: 10px;
    }
    .check-list-not-filled-circle-style{
        width: 20px;
        height: 20px;
        background-color: #A9ABA7;
        border-radius: 100%;
        /*This is used to center the check mark on the circle*/
        align-items: center;
        display: flex;
        justify-content: center;
        margin-right: 10px;
    }
    h2{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .upload-icon-style{
        color: #00BCAE; 
        font-size: 30px;
        /*background-image: linear-gradient(right, #00BCAE,#49E5EF);*/
        
    }

    /*.gradient{	    
        background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#333));
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;

    }*/
    .upload-heading-style{
        margin-top:5px;
        margin-bottom: 5px;
    }
    .check-list-content{
        display: flex;
        margin-top: 10px;
    }

    .dimmed {
        background: rgb(0 0 0 / 0.20);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-magnified {
        height: 95vh;
        width: 35vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: 1em;
    }

        .img-magnified img {
            width: 90%;
            height: 90%;
        }

   .maginified-documents-close {
        position: fixed;
        top: 5px;
        left: 67%;
        background-color: transparent !important;
        opacity: 1;
   }

   .maginified-documents-close:checked {
        border: none;
   }  
   
   .documents-size {
        width: 100%;
        height: 100%;
        border-radius: 1em;
    }

    .skill-add-icon-style{
        display: flex;
        justify-content: right;
        margin-right: 9px;
        font-size: 25px;
        color: #00bcae;
        margin-bottom: 15px;
    }

    .skill-add-icon-style:hover{        
        color: #D35BC9;
        cursor: pointer;
    }

    .skill-input-container {
        height: 200px;
        width: 650px;
        display: flex;
        flex-direction: column;
        background: white;
        border-radius: 16px;
    }
    .skill-container-header
    {
        border-bottom: 1px solid #00bcae;
        height: 50px;
        display: flex;        
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
</style>

@if (loadInfo)
{
    <div class="appform-submit-modal">
        <MudProgressCircular Size="Size.Large" Indeterminate="true" />
    </div>
}
else
{
    <div class="personal-info-container">
        <div class="left-side-content">

            <!--Personal Information Content-->

            <div style="margin-bottom: 30px;">
                <div class="left-side-content-container left-side-content-container-header-styling">                    
                    <div style="display: flex; ">
                       @if (true)
                        {
                            <div style="display: flex; align-items: center; margin-left: -30px;">
                                <div class="circle-style" ><i class="fas fa-check"></i></div>
                            </div>
                        }
                        else
                        {
                            <div style="display: flex; align-items: center; margin-left: -30px;">
                                <div class="not-filled-circle-style" ><i class="fas fa-check"></i></div>
                            </div>
                        }

                        <div><h2 class="content-title">Personal Information</h2></div>
                    </div>
                    <div style="display: flex;">
                        <div class="content-edit-design"><div @onclick="() => changePersonalInfoEditableStatus(true)" class="icon-styling"><i class="fas fa-edit" ></i></div></div>
                        <button type="button" class="content-collapse-icon" data-toggle="collapse" data-target="#personalInfo"><div class="icon-styling"><i class="fas fa-minus"></i></div></button>
                    </div>
                </div>
                <div id="personalInfo" class="collapse in left-side-content-container">
                    <!--This is the div that will be collapsoble-->
                    @if (editable)
                    {
                        <EditForm Model="@personalInformation" OnValidSubmit="@newAddPersonalInformation">
                        <DataAnnotationsValidator />
                            <div class=" content-user-info-container">
                                <div class="image-container" >
                                    <img src="@userPic?userDate=@updatedUserPic" class="user-image"/> <!---->  
                                    <div class="upload-button-location" style="text-align: center;">
                                        <label class="upload-image-text-style" >
                                        <InputFile OnChange="UploadingProfilePic" class="drag-drop-input-image" id="fileInput" />Upload Image
                                        </label>
                                    </div>
                                    @*<label class="upload-image-text-style">
                                    <InputFile OnChange="OnInputFileChangedAsync"  id="fileInput" />Upload Image
                                    </label>*@
                                </div>                     
                        
                                 <div class="personal-Info-container">                        
                                        <div style="display: flex;">
                                            <InputText id="first-name" @bind-Value="personalInformation.FirstName" placeholder="First Name"/>
                                            <InputText id="last-name"  @bind-Value="personalInformation.LastName" placeholder="Last Name"/>
                                        </div>
                                        <div>
                                            <InputText id="email-address" type="email" @bind-Value="personalInformation.Email" placeholder="Email Address" />
                                        </div>
                                        <div>
                                            <InputText id="phone-number" @bind-Value="personalInformation.PhoneNumber" placeholder="Contact Number"/>
                                        </div>
                                        <div>
                                            <InputSelect id="ethnicity" @bind-Value="additionalInformation.Ethnicity">
                                                        <!--@onfocusout="completion" -->

                                                        @if (newAdditionalInfo)
                                                        {
                                                            <option value="" disabled selected>Ethnicity</option>
                                                            <option value="African">African</option>
                                                            <option value="Asain">Asain</option>
                                                            <option value="Coloured">Coloured</option>
                                                            <option value="Indian">Indian</option>
                                                            <option value="White">White</option>
                                                        }
                                                        else
                                                        {
                                                            @foreach (var item in additionalInfoList)
                                                            {
                                                                <option value="@item.Ethnicity" disabled selected>@item.Ethnicity</option>
                                                                <option value="African">African</option>
                                                                <option value="Asian">Asian</option>
                                                                <option value="Coloured">Coloured</option>
                                                                <option value="Indian">Indian</option>
                                                                <option value="White">White</option>
                                                            }
                                                        }
                                            </InputSelect>
                                        </div>
                                 </div>
                                 <div class="personal-Info-container">
                                        <div>Region doesn't exist</div>
                                        <div>
                                            <InputTextArea id="address" style="resize:none;" @bind-Value="personalInformation.Address" placeholder="Address" rows="1"></InputTextArea>
                                        </div>
                                        <div>
                                            <InputSelect id="gender" @bind-Value="additionalInformation.Gender">                                                
                                                    @if (newAdditionalInfo)
                                                    {
                                                        <option value="" disabled selected>Select Gender</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                        <option value="Prefer Not To Answer">Prefer not to answer</option>
                                                    }
                                                    else
                                                    {
                                                        @foreach (var item in additionalInfoList)
                                                        {
                                                            <option value="@item.Gender" selected>@item.Gender</option>
                                                            <option value="Male">Male</option>
                                                            <option value="Female">Female</option>
                                                            <option value="Prefer Not To Answer">Prefer not to answer</option>
                                                        }
                                                    }
                                            </InputSelect>
                                        </div>
                                        <div>
                                            <InputText id="id-number" min="13" max="13" @bind-Value="personalInformation.IdNumber" placeholder="ID Number"/> 
                                        </div>                                          
                                 </div>  
                                 <div>
                                    <button class="default-button-style" style="margin-bottom: 10px;" type="submit" value="Save" disabled="@savePersonalInfoPressed">Save</button>
                                 </div>
                            </div>
                        </EditForm>
                    }
                    else
                    {
                        <div class=" content-user-info-container">
                            <div class="image-container" >
                                <img src="@userPic?userDate=@updatedUserPic" class="user-image"/> <!---->  
                                <div class="upload-button-location" style="text-align: center;">
                                    <label class="upload-image-text-style" >
                                    <InputFile OnChange="UploadingProfilePic" class="drag-drop-input-image" id="fileInput" />Upload Image
                                    </label>
                                </div>
                                @*<label class="upload-image-text-style">
                                <InputFile OnChange="OnInputFileChangedAsync"  id="fileInput" />Upload Image
                                </label>*@
                            </div>
                            @if (newPersonalInfo)
                            {
                                <div class="personal-Info-container">                        
                                    <div>UserName + Surname</div>
                                    <div>User Email Address</div>
                                    <div>User Contact Number </div>
                                    <div>User Selected Race </div>
                                </div>
                                <div class="personal-Info-container">
                                    <div>Region doesn't exist</div>
                                    <div>Address</div>
                                    <div>Gender</div>
                                    <div>ID Number</div>
                                </div>
                            }
                            else
                            {
                        
                                <div class="personal-Info-container">                        
                                    <div>@personalInformation.FirstName @personalInformation.LastName</div>
                                    <div>@personalInformation.Email</div>
                                    <div>@personalInformation.PhoneNumber</div>
                                    <div> @additionalInformation.Ethnicity</div>
                                </div>
                                <div class="personal-Info-container">
                                    <div>Region doesn't exist</div>
                                    <div>@personalInformation.Address</div>
                                    <div>@additionalInformation.Gender</div>
                                    <div>@personalInformation.IdNumber</div>        
                                </div>                        
                            }
                        </div> 
                    }       
                </div>
            </div>

            <!--Cv Upload Content-->

            <div style="margin-bottom: 30px;">
                <div class="left-side-content-container left-side-content-container-header-styling">
                    <div style="display: flex; ">
                        <div style="display: flex; align-items: center; margin-left: -30px;">
                            <div class="circle-style" ><i class="fas fa-check"></i></div>
                        </div>
                        <div><h2 class="content-title">Import CV</h2></div>
                    </div>
                    
                    @*<div class="content-edit-design"><div @onclick="() => changeCvUploadEditableStatus(true)"><i class="fas fa-edit" ></i></div></div>*@
                    <div>
                    <button type="button" class="content-collapse-icon" data-toggle="collapse" data-target="#cvContent"><div class="icon-styling"><i class="fas fa-minus"></i></div></button>
                    </div>
                </div>
                <div id="cvContent" class="collapse in left-side-content-container">
                    <div class="content-user-cv-info-container" >
                        <div >
                            <MudPaper 
                                @ondragenter="@(() => _dragEnterStyle = "drag-enter")"
                                @ondragleave="@(() => _dragEnterStyle = null)"
                                @ondragend="@(() => _dragEnterStyle = null)"
                                Class="@("drag-drop-zone drop-corner " + _dragEnterStyle)" Style="background-color: rgba(0,0,0,0.1)"> 
                                                                           
                                <InputFile OnChange="OnInputFileChangedAsync" multiple class="drag-drop-input" />
                                       
                                <MudText Typo="Typo.h3" Align="Align.Center">
                                    <div class="upload-text">
                                        <i class="fa fa-upload upload-icon-style"></i>    <!---->                                    
                                        <div style="font-size: 18px;">Upload CV</div>                                        
                                        <div style="color: #A9ABA7">Drag and Drop your document here or just click to browse files</div>
                                    </div>
                                </MudText>
                                    
                                        @*<i class="fas fa-file-pdf fa-2x" style="margin-right: 5px;"></i>
                                        <div class="document-preview">
                                            <a class="upload-text" href="@getUserDoc.CV" target="_blank">CV</a>
                                        </div>*@
                                    
                            </MudPaper>
                        </div>
                        <div class="upload-heading-style"><h2 class="uploaded-documents-headings" style="font-size: 23px !important;">Uploaded CV</h2></div>
                        <div>
                            @if (cvDocumentExist)
                            {
                                <div>No CV found!</div>
                            }
                            else
                            {
                                <div class="upload-document-background" style="display:flex; color: #00BCAE">
                                    <div style="display: flex; align-items: center;">
                                        <div style="font-size: 13px;">
                                        <i class="fas fa-file-pdf fa-2x" style="margin-right: 5px;"></i> 
                                        </div>
                                        <div>
                                        <a class="upload-text" href="@getUserDoc.CV" target="_blank">CV</a> 
                                        </div>
                                    </div>
                                    <div style="display: flex; font-size: 16px;">
                                        <div class="icon-styling" style="margin-right: 5px;" @onclick='() => toggleMagnifiedDocument("linkedincv", true)'><i class="fas fa-eye"></i></div>
                                        <div class="icon-styling" @onclick="() => DeleteCV(getUserDoc.CV)" ><i class="fas fa-trash"></i></div>                                      
                                     </div>       
                                        
                                        <!--
                                            Still need to do: 
                                            Change the database to store the CV name as well,                                                
                                        -->                                    
                                </div>
                            }
                        </div>
                    </div>                        
                </div>
            </div>

            <!--Work Experience-->
             <div style="margin-bottom: 30px;">
                <div class="left-side-content-container left-side-content-container-header-styling">
                    <div style="display: flex; ">
                        <div style="display: flex; align-items: center; margin-left: -30px;">
                            <div class="circle-style" ><i class="fas fa-check"></i></div>
                        </div>
                        <div><h2 class="content-title">Work Experience</h2></div>
                    </div>
                    
                    @*<div class="content-edit-design"><div @onclick="() => changeCvUploadEditableStatus(true)"><i class="fas fa-edit" ></i></div></div>*@
                    <div>
                        <button type="button" class="content-collapse-icon" data-toggle="collapse" data-target="#workExperienceContent"><div class="icon-styling"><i class="fas fa-minus"></i></div></button>
                    </div>
                </div>
                <div id="workExperienceContent" class="collapse in left-side-content-container">
                    <div class="content-user-cv-info-container" > 
                        @if (workHistUpdate)
                        {
                            <EditForm Model="@selectedWorkHistory" OnValidSubmit="@UpdateWorkHistory">
                                <DataAnnotationsValidator />
                                <div style="color: #666666; border-bottom: #00bcae 2px solid; margin-bottom: 5px;">
                                    <div style="display: flex;"> 
                                        <div> 
                                            <InputDate id="start-date" class="form-control shadow bg-body rounded" @bind-Value="selectedWorkHistory.StartDate" placeholder="Start Date" />
                                        </div>
                                        <div>
                                            <InputDate id="end-date" class="form-control shadow bg-body rounded" @bind-Value="selectedWorkHistory.EndDate" placeholder="End Date" />
                                        </div>                                    
                                    </div>                                
                                    <div style="font-weight: 800;">
                                        <InputText class="form-control shadow bg-body rounded" @bind-Value="selectedWorkHistory.JobTitle" placeholder="Job Title"/>                                
                                    </div>
                                    <div style="font-weight: 600;">
                                        <InputText class="form-control shadow bg-body rounded" @bind-Value="selectedWorkHistory.CompanyName" placeholder="Company Name"/>
                                    </div>
                                    <div>
                                        <InputTextArea style="resize:none;" id="description" class="form-control shadow bg-body rounded" placeholder="Description" @bind-Value="selectedWorkHistory.Description" rows="3"></InputTextArea> <!--@onfocusout="completion" -->
                                    </div>
                                    <div style=" display: flex; justify-content: center; margin-top: 10px; margin-bottom: 10px; gap: 120px;">
                                        <div>
                                            <button class="default-button-style" type="submit" value="Save" disabled="@addWorkhistoryPressed">Save</button> 
                                        </div>                                   
                                        <div>
                                             <input class="default-button-style" type="button" value="Cancel" @onclick="() => editWorkHistoryStatus(0, false)" disabled="@addWorkhistoryPressed"/>
                                        </div> 
                                    </div>
                                </div>
                            </EditForm>
                        }
                        else
                        {
                            @foreach (var item in workHistoryList)
                            {
                                <div style="color: #666666; border-bottom: #00bcae 2px solid; margin-bottom: 5px;">
                                    <div style="display: flex; justify-content: space-between"> 
                                        <div>@item.StartDate.ToString("MMMM yyyy") - @item.EndDate.ToString("MMMM yyyy")</div>
                                        <div style="display: flex; font-size: 16px; color: #00bcae">
                                            <div class="icon-styling" style="margin-right: 5px;" @onclick="() => DeleteWorkHistory(item)"><i class="fas fa-trash"></i></div>
                                            <div class="icon-styling" @onclick="() => editWorkHistoryStatus(item.Id , true)"><i class="fas fa-edit" ></i></div>                                        
                                        </div>
                                    </div>                                
                                    <div style="font-weight: 800;">@item.JobTitle</div>
                                    <div style="font-weight: 600;">@item.CompanyName</div>
                                    <div>@item.Description</div>
                                </div> 
                            }       
                        }
                                         
                    </div>                        
                </div>
            </div>

            <!--Education History-->

            <div style="margin-bottom: 30px;">
                <div class="left-side-content-container left-side-content-container-header-styling">
                    <div style="display: flex; ">
                        <div style="display: flex; align-items: center; margin-left: -30px;">
                            <div class="circle-style" ><i class="fas fa-check"></i></div>
                        </div>
                        <div><h2 class="content-title">Education</h2></div>
                    </div>
                    
                    @*<div class="content-edit-design"><div @onclick="() => changeCvUploadEditableStatus(true)"><i class="fas fa-edit" ></i></div></div>*@
                    <div>
                    <button type="button" class="content-collapse-icon" data-toggle="collapse" data-target="#educationContent"><div class="collapse-icon-styling"><i class="fas fa-minus"></i></div></button>
                    </div>
                </div>
                <div id="educationContent" class="collapse in left-side-content-container">
                    <div class="content-user-cv-info-container" > 
                        @if (eduUpdate)
                        {
                            <EditForm Model="@selectedEducation" OnValidSubmit="@UpdateEducation">
                            <DataAnnotationsValidator />
                                <div style="color: #666666; border-bottom: #00bcae 2px solid; margin-bottom: 5px;">
                                    <div style="display: flex;">                                           
                                        <div>
                                            <InputDate id="start-date" class="form-control shadow bg-body rounded" @bind-Value="selectedEducation.StartDate"/>
                                            <InputDate id="end-date" class="form-control shadow bg-body rounded" @bind-Value="selectedEducation.EndDate" />
                                        </div>                                       
                                            
                                    </div>    

                                    <div> 
                                        <div style="font-weight: 800;">
                                            <InputText id="qualification" class="form-control shadow bg-body rounded" @bind-Value="selectedEducation.Qualification" placeholder="Qualification" />
                                        </div>                                            
                                    </div> 
                                        
                                    <div>
                                        <InputText id="Institution" class="form-control shadow bg-body rounded" @bind-Value="selectedEducation.Insitution" placeholder="Institution" /> 
                                    </div>
                                        
                                    <div style=" display: flex; justify-content: center; margin-top: 10px; margin-bottom: 10px; gap: 120px;">
                                        <div>
                                            <button class="default-button-style" type="submit" value="Save" disabled="@addWorkhistoryPressed">Save</button> 
                                        </div>                                   
                                        <div>
                                            <input class="default-button-style" type="button" value="Cancel" @onclick="() => editEducationStatus(0, false)" disabled="@addWorkhistoryPressed"/>
                                        </div> 
                                    </div>
                                </div>
                            </EditForm>
                        }
                        else
                        {                            
                            @foreach (var item in educationList)
                            {
                                <div style="color: #666666; border-bottom: #00bcae 2px solid; margin-bottom: 5px;">
                                    <div style="display: flex; justify-content: space-between"> 
                                        <div style="font-weight: 800;">@item.Qualification</div>
                                        <div style="display: flex; font-size: 16px; color: #00bcae">
                                            <div class="icon-styling" style="margin-right: 5px;" @onclick="() => DeleteEducation(item)"><i class="fas fa-trash"></i></div>
                                            <div class="icon-styling" @onclick="() => editEducationStatus(item.Id, true)"><i class="fas fa-edit" ></i></div>                                        
                                        </div>
                                    </div> 
                                    <div style="display: flex;">
                                        <div>@item.Insitution,</div>
                                        <div >
                                            <div>@item.StartDate.ToString("MMMM yyyy") - @item.EndDate.ToString("MMMM yyyy")</div>                                       
                                        </div>
                                    </div>
                                </div> 
                            }
                        }
                    </div>                        
                </div>
            </div>

            <!--Skills-->

            <div style="margin-bottom: 30px;">
                <div class="left-side-content-container left-side-content-container-header-styling">
                    <div style="display: flex; ">
                        <div style="display: flex; align-items: center; margin-left: -30px;">
                            <div class="circle-style" ><i class="fas fa-check"></i></div>
                        </div>
                        <div><h2 class="content-title">Skills</h2></div>
                    </div>
                    
                    <div style="display: flex;">
                        <div class="content-edit-design" @onclick="() => changeSkillEditStatus(true)"><div class="icon-styling"><i class="fas fa-edit" ></i></div></div>
                        <button type="button" class="content-collapse-icon" data-toggle="collapse" data-target="#skillContent"><div class="icon-styling"><i class="fas fa-minus"></i></div></button>
                    </div>                   
                </div>
                <div id="skillContent" class="collapse in left-side-content-container">
                    <div class="content-user-cv-info-container" > 
                        @if(skillEditMode){                                                          
                                <div>You are in edit mode</div>
                                <div class="skill-add-icon-style" @onclick="() => addSkillInfoPage(true)"><i class="fas fa-plus"></i></div>
                                @foreach (var item in selectedSkillsList)
                                {
                                    <div style="color: #666666; border-bottom: #00bcae 2px solid; margin-bottom: 5px;">
                                        <div style="display: flex; justify-content: space-between">
                                            <div class="skill-content-style" style="margin-bottom: 5px;  margin-left: 10px;">@item.Description</div>
                                            <div style="display: flex; font-size: 16px; color: #00bcae">
                                                <div class="icon-styling" style="margin-right: 5px;" @onclick="() => deleteSkill(item.Id)"><i class="fas fa-trash"></i></div>
                                                <div class="icon-styling" @onclick="() => editSkill(item.Id, true)"><i class="fas fa-edit" ></i></div>                                        
                                            </div>
                                        </div>                                     
                                    </div>
                                }
                            
                            <!--
                                Once users click on edit skills it will display their list of skills (similar to how work history and education looks), 
                                then there will be an edit button to edit the existing skill, 
                                and a + button to add a skill, 
                            -->
                        }else{
                            <div style="display: flex;"> 
                            @foreach (var item in selectedSkillsList)
                            {
                                <div class="skill-content-style">@item.Description</div>  
                            } 
                            </div>
                            }
                    </div>                        
                </div>
            </div>

            <!--Additional Document Upload Content-->

            <div style="margin-bottom: 30px;">
                <div class="left-side-content-container left-side-content-container-header-styling" >
                    <div style="display: flex; ">
                        <div style="display: flex; align-items: center; margin-left: -30px;">
                            <div class="circle-style" ><i class="fas fa-check"></i></div>
                        </div>
                        <div><h2 class="content-title">Additional Documents</h2></div>
                    </div>                    

                    <div>
                        <button type="button" class="content-collapse-icon" data-toggle="collapse" data-target="#additionalDocumentContent"><div class="icon-styling"><i class="fas fa-minus"></i></div></button>
                    </div>
                </div>
                <div id="additionalDocumentContent" class="collapse in left-side-content-container">
                    <div class="content-user-cv-info-container" >
                        <div >
                            <MudPaper 
                                @ondragenter="@(() => _dragEnterStyle = "drag-enter")"
                                @ondragleave="@(() => _dragEnterStyle = null)"
                                @ondragend="@(() => _dragEnterStyle = null)"
                                Class="@("drag-drop-zone drop-corner " + _dragEnterStyle)" Style="background-color: rgba(0,0,0,0.1)">
                                                                           
                                <InputFile OnChange="OnInputFileChangedAsync" multiple class="drag-drop-input" />
                                       
                                <MudText Typo="Typo.h3" Align="Align.Center">
                                    <div class="upload-text">
                                        <i class="fa fa-upload upload-icon-style"></i>                                        
                                        <div style="font-size: 18px;">Upload Additional Documents</div>                                        
                                        <div style="color: #A9ABA7">Drag and Drop your document here or just click to browse files</div>
                                    </div>
                                </MudText>
                                    
                                        @*<i class="fas fa-file-pdf fa-2x" style="margin-right: 5px;"></i>
                                        <div class="document-preview">
                                            <a class="upload-text" href="@getUserDoc.CV" target="_blank">CV</a>
                                        </div>*@
                                    
                            </MudPaper>
                        </div>
                        <div class="upload-heading-style"><h2 class="uploaded-documents-headings" style="font-size: 23px !important;">Uploaded Documents</h2></div>
                        <div>
                            @if (!newDocumentInfo  && !additionalDocuments)
                           {
                               <div class="upload-document-background" style="display:flex; color: #00BCAE">
                                    
                                        @foreach (var item in checkUserDoc)
                                        {                                           
                                                <div style="display: flex; align-items: center;">
                                                    <div style="font-size: 13px;">
                                                    <i class="fas fa-file-pdf fa-2x" style="margin-right: 5px;"></i> 
                                                    </div>
                                                    <div>
                                                        @if(!string.IsNullOrEmpty(@item.MatricCertificate))
                                                        {
                                                            <a class="upload-text" href="@item.MatricCertificate" target="_blank">Matric</a> 
                                                        }
                                                        @if(!string.IsNullOrEmpty(@item.UniversityTranscript))
                                                        {
                                                            <a class="upload-text" href="@item.UniversityTranscript" target="_blank">University</a>
                                                        }
                                                        @if(!string.IsNullOrEmpty(@item.AdditionalCert1))
                                                        {
                                                            <a class="upload-text" href="@item.AdditionalCert1" target="_blank">Additional Cert 1</a>
                                                        }
                                                        @if(!string.IsNullOrEmpty(@item.AdditionalCert2))
                                                        {
                                                            <a class="upload-text" href="@item.AdditionalCert2" target="_blank">Additional Cert 2</a> 
                                                        }
                                                        @if(!string.IsNullOrEmpty(@item.AdditionalCert3))
                                                        {
                                                            <a class="upload-text" href="@item.AdditionalCert3" target="_blank">Addicitonal Cert 3</a> 
                                                        }                                                    
                                                    </div>
                                                </div>
                                        }                                        
                                    
                                    <div style="display: flex; font-size: 16px;">
                                        <div class="icon-styling" style="margin-right: 5px;"><i class="fas fa-eye"></i></div>
                                        <div class="icon-styling"><i class="fas fa-trash"></i> </div>                                       
                                     </div>                                              
                                </div>
                            }
                            else
                            {
                                <div>No documents has been uploaded</div>
                            }                          
                        </div>
                    </div>                        
                </div>
            </div>

             <!--Online Presence -->
             <div style="margin-bottom: 30px;">
                <div class="left-side-content-container left-side-content-container-header-styling">
                    <div style="display: flex; ">
                        <div style="display: flex; align-items: center; margin-left: -30px;">
                            <div class="circle-style" ><i class="fas fa-check"></i></div>
                        </div>
                        <div><h2 class="content-title">Online Presence</h2></div>
                    </div> 
                    
                    <div style="display: flex;">
                        <div class="content-edit-design"><div class="icon-styling" @onclick="() => profilePortfolioEditStatus(true)"><i class="fas fa-edit" ></i></div></div>
                        <button type="button" class="content-collapse-icon" data-toggle="collapse" data-target="#onlinePresence"><div class="icon-styling"><i class="fas fa-minus"></i></div></button>
                    </div> 
                </div>
                <div id="onlinePresence" class="collapse in left-side-content-container">
                    <div class="content-user-cv-info-container" > 
                       
                    <div style="color: #666666; margin-bottom: 5px;">
                        <div>                                    
                            <div style="display: flex; font-size: 16px;">
                                <div class="online-presence-icon-style"><i class="fab fa-linkedin"></i></div>
                                <div>
                                    <div>
                                        <div class="online-presence-heading-style">LinkedIn</div>
                                    </div> 
                                        @if (profilePortfolioUpdate)
                                        {
                                            <div>
                                                <input id="linkedin" class="form-control shadow bg-body rounded" type="text" @bind="profilePortfolio.LinkedInLink" placeholder="linkedin.com/company/nebula" />
                                            </div>
                                        }
                                        else
                                        {
                                             <div>
                                                @if (string.IsNullOrEmpty(@profilePortfolio.LinkedInLink))
                                                {
                                                    <div><br/></div>
                                                }
                                                else
                                                {
                                                    <div><a class="upload-text" href="@profilePortfolio.LinkedInLink" target="_blank">@profilePortfolio.LinkedInLink</a></div>
                                                }                                        
                                            </div> 
                                        }
                                       
                                </div>                                                                            
                            </div>
                            <div style="display: flex; font-size: 16px;">
                                <div class="online-presence-icon-style"><i class="fab fa-github"></i></div>
                                <div>
                                    <div>
                                        <div class="online-presence-heading-style">Github</div>
                                    </div>
                                        @if (profilePortfolioUpdate)
                                        {
                                            <div> 
                                                <input id="github" class="form-control shadow bg-body rounded" type="text" @bind="profilePortfolio.GitHubLink" placeholder="github.com/1Nebula" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                @if (string.IsNullOrEmpty(@profilePortfolio.GitHubLink))
                                                {
                                                    <div><br/></div>
                                                }
                                                else
                                                {
                                                    <div><a class="upload-text" href="@profilePortfolio.GitHubLink" target="_blank">@profilePortfolio.GitHubLink</a></div>                                                    
                                                }                                        
                                            </div>
                                        }
                                     
                                </div>                                                                            
                            </div>
                            <div style="display: flex; font-size: 16px;">
                                <div class="online-presence-icon-style"><i class="fab fa-twitter"></i></div>
                                <div>
                                    <div>
                                        <div class="online-presence-heading-style">Twitter</div>
                                    </div> 
                                        @if (profilePortfolioUpdate)
                                        {
                                            <div>
                                                <input id="twitter" class="form-control shadow bg-body rounded" type="text" @bind="profilePortfolio.TwitterLink" placeholder="twitter.com/1nebula_global" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                @if (string.IsNullOrEmpty(@profilePortfolio.TwitterLink))
                                                {
                                                    <div><br/></div>
                                                }
                                                else
                                                {
                                                    <div><a class="upload-text" href="@profilePortfolio.TwitterLink" target="_blank">@profilePortfolio.TwitterLink</a></div>                                                    
                                                }                                            
                                            </div>
                                        }
                                     
                                </div>                                                                            
                            </div>
                            <div style="display: flex; font-size: 16px;">
                                <div class="online-presence-icon-style"><i class="fas fa-globe"></i></div>
                                <div>
                                    <div>
                                        <div class="online-presence-heading-style">Personal Website</div>
                                    </div> 
                                        @if (profilePortfolioUpdate)
                                        {
                                            <div>
                                                <input id="personal-website" class="form-control shadow bg-body rounded" type="text" @bind="profilePortfolio.PersonalWebsiteUrl" placeholder="1nebula.com" />                                    
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                @if (string.IsNullOrEmpty(@profilePortfolio.PersonalWebsiteUrl))
                                                {
                                                    <div><br/></div>
                                                }
                                                else
                                                {
                                                    <div><a class="upload-text" href="@profilePortfolio.PersonalWebsiteUrl" target="_blank">@profilePortfolio.PersonalWebsiteUrl</a></div>                                                    
                                                }                                        
                                            </div>
                                        }                                         
                                </div>                                                                            
                            </div>
                        </div>                                
                    </div> 
                                                
                    </div>                        
                </div>
            </div>                                                                       
        </div>
        <div class="right-side-content">          
            <div class="right-side-content-container " >
                <div class="left-side-content-container-header-styling" style=" display: flex; align-items: center;">
                    <div style="padding-top: 1px;"> <h2 class="content-title" style="margin-left: 0px;">Checklist</h2></div>
                </div>  
                
                    <div class="check-list-content" >
                       @if (true)
                        {
                            <div>
                                <div class="check-list-circle-style" ><i class="fas fa-check"></i></div>
                            </div>
                        }
                        else
                        {
                            <div>
                                <div class="check-list-not-filled-circle-style" ><i class="fas fa-check"></i></div>
                            </div>
                        }
                        <div class="uploaded-documents-headings">Personal Information</div>
                    </div>
                    
                    <div class="check-list-content">
                       @if (true)
                        {
                            <div>
                                <div class="check-list-circle-style" ><i class="fas fa-check"></i></div>
                            </div>
                        }
                        else
                        {
                            <div>
                                <div class="check-list-not-filled-circle-style" ><i class="fas fa-check"></i></div>
                            </div>
                        }
                        <div class="uploaded-documents-headings">Import CV</div> 
                    </div>

                    <div class="check-list-content">
                       @if (true)
                        {
                            <div>
                                <div class="check-list-circle-style" ><i class="fas fa-check"></i></div>
                            </div>
                        }
                        else
                        {
                            <div>
                                <div class="check-list-not-filled-circle-style" ><i class="fas fa-check"></i></div>
                            </div>
                        }
                        <div class="uploaded-documents-headings">Work Experience</div> 
                    </div>     
                    
                    <div class="check-list-content">
                       @if (true)
                        {
                            <div>
                                <div class="check-list-circle-style" ><i class="fas fa-check"></i></div>
                            </div>
                        }
                        else
                        {
                            <div>
                                <div class="check-list-not-filled-circle-style" ><i class="fas fa-check"></i></div>
                            </div>
                        }
                        <div class="uploaded-documents-headings">Education </div>    
                    </div>

                    <div class="check-list-content">
                       @if (true)
                        {
                            <div>
                                <div class="check-list-circle-style" ><i class="fas fa-check"></i></div>
                            </div>
                        }
                        else
                        {
                            <div>
                                <div class="check-list-not-filled-circle-style" ><i class="fas fa-check"></i></div>
                            </div>
                        }
                        <div class="uploaded-documents-headings"> Skills </div> 
                    </div> 
                         
                    <div class="check-list-content">
                       @if (true)
                        {
                            <div>
                                <div class="check-list-circle-style" ><i class="fas fa-check"></i></div>
                            </div>
                        }
                        else
                        {
                            <div>
                                <div class="check-list-not-filled-circle-style" ><i class="fas fa-check"></i></div>
                            </div>
                        }
                        <div class="uploaded-documents-headings">Additional Documents</div>
                    </div> 
                     
                    <div class="check-list-content" style="margin-bottom: 10px;">
                       @if (true)
                        {
                            <div>
                                <div class="check-list-circle-style" ><i class="fas fa-check"></i></div>
                            </div>
                        }
                        else
                        {
                            <div>
                                <div class="check-list-not-filled-circle-style" ><i class="fas fa-check"></i></div>
                            </div>
                        }
                        <div class="uploaded-documents-headings"> Online Presence</div> 
                    </div>                                   
            </div>
        </div>
    </div>
}

@if (showMagnifiedDocument)
{
    @switch (selectedDocument)
    {
        case "linkedincv":
            <div class="dimmed">
                <div class="img-magnified">
                    <iframe src="@getUserDoc.CV" class="documents-size"></iframe>
                </div>
            </div>
            <input type="button" class="btn-close maginified-documents-close" @onclick='() => toggleMagnifiedDocument("", false)' />
            break;

        case "matric-certificates":
            <div class="dimmed">
                <div class="img-magnified">
                    <iframe src="@getUserDoc.MatricCertificate" class="documents-size"></iframe>
                </div>
                <input type="button" class="btn-close maginified-documents-close" @onclick='() => toggleMagnifiedDocument("", false)' />
            </div>

            break;
        case "transcripts":

            <div class="dimmed">
                <div class="img-magnified">
                    <iframe src="@getUserDoc.UniversityTranscript" class="documents-size"></iframe>
                </div>
                <input type="button" class="btn-close maginified-documents-close" @onclick='() => toggleMagnifiedDocument("", false)' />
            </div>

            break;
        case "additional-documents-1":

            <div class="dimmed">
                <div class="img-magnified">
                    <iframe src="@getUserDoc.AdditionalCert1" class="documents-size"></iframe>
                </div>
                <input type="button" class="btn-close maginified-documents-close" @onclick='() => toggleMagnifiedDocument("", false)' />
            </div>

            break;
        case "additional-documents-2":

            <div class="dimmed">
                <div class="img-magnified">
                    <iframe src="@getUserDoc.AdditionalCert2" class="documents-size"></iframe>
                </div>
                <input type="button" class="btn-close maginified-documents-close" @onclick='() => toggleMagnifiedDocument("", false)' />
            </div>

            break;
        case "additional-documents-3":
            <div class="dimmed">
                <div class="img-magnified">
                    <iframe src="@getUserDoc.AdditionalCert3" class="documents-size"></iframe>
                </div>
                <input type="button" class="btn-close maginified-documents-close" @onclick='() => toggleMagnifiedDocument("", false)' />
            </div>
            break;

    }
    @*<div class="dimmed">
        <div class="img-magnified">
            <input type="button" class="btn-view-document" style="margin-left:70%; margin-bottom: 2%;" value="Close" @onclick='() => toggleMagnifiedDocument("")' />
            <iframe src="https://xebecstorage.blob.core.windows.net/@selectedDocument/@selectedUser.id" style="width: 90%; height: 90%;"></iframe>
        </div>
    </div>*@
}
@if (addSkillPage)
{
    <EditForm Model="@selectedSkill" OnValidSubmit="@addSkill">
        <DataAnnotationsValidator />
        <div class="dimmed">
            <div class="skill-input-container">               
                <div class="skill-container-header">
                    <div><h2 class="content-title">Add skill</h2></div>                                       
                    <div style="display: flex;">
                        <div class="content-edit-design" @onclick="() => addSkillInfoPage(false)"><div class="icon-styling"><i class="fas fa-times"></i></div></div>                        
                    </div>                   
                </div>
                <div style="padding-left: 20px; padding-right: 20px;">
                    <div>
                        Skill
                    </div>
                    <div style=" margin-bottom: 25px;">
                        <InputText id="skill" class="skill-input form-control shadow bg-body rounded" @bind-Value="skillInfo.Description" placeholder="Enter skills"/>                                            
                    </div>
                </div>
                <div style="text-align:center;">
                    <button class="default-button-style" type="submit" value="Add">Add</button> <!--@onclick=" ()=>AddEducationTakeTwo(education)"-->
                </div>
            </div>
        </div>
    </EditForm>
}

                            

@code {


}
