@page "/applicationprofile"
@inject HttpClient httpClient
@inject IJSRuntime jsRuntime
@inject ISnackbar Snackbar
@using Microsoft.Extensions.Logging
@inject ILogger<ApplicationProfile>  Logger
<style>
    .nav1 {

        position: absolute;
        right: 50%;
        transform: translate(50%);

        background-color: #FFFFFF !important;

        width: auto !important;
        height: auto !important;
        top: auto !important;
        justify-content: normal !important;
        justify-items: normal !important;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        border-radius: 5px;
    }

    .nav-link1 {
        width: auto !important;
        height: auto !important;
        margin-bottom: auto !important;
        display: normal !important;
        vertical-align: auto !important;
        border-radius: 0px;
        background-color: white;
        color: #00bcae;
        cursor: pointer;
    }

    .nav-link-text1 {
        display: normal !important;
        padding-top: 0px;
        width: auto !important;
        height: auto !important;
    }

    select {
        font-size: medium !important
    }

    .formButton {
        background-color: #00BCAE;
        color: white;
        font-weight: 600;
        height: 5vh;
        margin-top: 2vh;
        width: auto;
        margin-bottom: 1vh;
    }

    .drag-drop-zone {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .4s;
        height: 140px;
    }

    .drag-drop-input {
        position: absolute;
        width: 690px;
        height: 140px;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
        border: unset;
    }

    .drop-corner {
        border: #00BCAE dashed 2px !important;
        box-shadow: unset;
    }

    .drag-enter {
        box-shadow: var(--mud-elevation-10);
    }

    .list {
        padding: 2em;
        min-width: 100%;
    }

    .card:hover {
        border: 4px solid #d0d0d0;
        background: #e1e1e1;
        box-shadow: 0 0 0 4px #d0d0d0;
    }

    .cardBorderChange {
        border: 4px solid #00BCAE;
        background: #00BCAE;
        box-shadow: 0 0 0 4px #00BCAE;
    }

        .cardBorderChange:hover {
            border: 4px solid #00BCAE;
            background: #00BCAE;
            box-shadow: 0 0 0 4px #00BCAE;
        }

    .form-check-label:hover {
        cursor: pointer;
    }

    .form-check-input {
        display: none;
    }

    .row-style {
        /*background: linear-gradient(110deg, rgba(0,51,64,0.8) 40%, rgba(0,188,174,0.53) 40%, #00BCAE);*/
        /*background-color: white;*/
        border-radius: 20px;
        padding: 10px;
        min-height: 75vh;
    }

    .rounded-edges {
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    }

    .nav-item > .active {
        background: #d35bc9 !important;
        font-weight: 800;
        font-size: 2vh;
        color: #ffffff;
    }

    .nav-item > .nav-link1 {
        font-size: 1.8vh;
        font-weight: 500 !important;
        color: #003340 !important;
    }

    .work-card {
        color: black !important;
    }

        .work-card:hover {
            background-color: pink;
        }

    .white-back {
        background: white !important;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px !important;
    }

    .text-color-primary {
        color: rgba(0,51,64,0.76);
        text-decoration: underline;
    }

    /*Newly added stuffs*/
    .main-page-overflow {
        overflow: hidden;
    }

    .space-below-nav-bar-for-progress-bar {
        height: 5vh;
    }

    .progress-layout {
        position: absolute;
        height: 60vh;
        background-color: rgba(0,0,0,0.5);
        left: 92%;
        border-radius: 20px;
        width: 10vh;
    }

    .progress-text-layout {
        color: #00bcae;
    }

    .rocket-layout {
        position: relative;
        /*z-index: 1;*/
        height: 60px;
        bottom: 0%;
        transition: all 1s;
        left: 9%;
    }

    .progress-layout-side {
        position: relative;
        left: 30%;
        height: 4vh;
        /*background-image: url(/Img/space.png);
        background-size: cover;*/
        border-radius: 20px;
        width: 40%;
        margin-top: 0.5%;
    }

    .progress-text-layout-side {
        position: absolute;
        /*color: #00bcae;*/
        top: 35%;
    }
    .progress-bar-indicator{
        height:100%;
        -webkit-mask: linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0);
    }

        .progress-bar-indicator::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 10px;
            /*Dark blue #004393*/
            /*Pink #d35bc9*/
            /*Green-ish #00bcae*/
            /*Light-blue #49E5EF*/
            /*Medium-blue #2294E3*/
            /*Grey #666666*/
            /*Combo light blue, dark blue, pink, green-ish*/
            background-image: linear-gradient(to right, #49E5EF 0%, #2294E3 20%, #d35bc9 45%, #00bcae 100%); /* your gradient here */
        }

    .rocket-layout-side {
        position: relative;
        /*z-index: 1;*/
        height: 60px;
        bottom: 0%;
        transition: all 1s;
        left: 9%;
        transform: rotate(90deg);
        animation: vibrate-1 0.1s 0s 50 linear, vibrate-2 0.1s 0.5s 150 linear, vibrate-1 0.1s 4s infinite linear;
    }
    .gradient-background {
        position: relative;
        width: 0%;
    }
    .space-text-layout {
        position: absolute;
        left: 91%;
    }

    .lift-off-text {
        position: absolute;
    }

    .left-atmosphere-text {
        position: absolute;
    }

    .into-orbit-text {
        position: absolute;
    }

    .to-the-mooon-text {
        position: absolute;
    }

    .you-done-text {
        position: absolute;
    }

    /*animation for space */
    .stars-display-effects {
    }

    /* Vibrate effect*/
    @@keyframes vibrate-1 {
        0% {
            transform: rotate(90deg) translate3d(0, 0, 0);
        }

        50% {
            transform: rotate(90deg) translate3d(-0.1rem, 0, 0);
        }

        100% {
            transform: rotate(90deg) translate3d(0.1rem, 0, 0);
        }
    }

    @@keyframes vibrate-2 {
        0% {
            transform: rotate(90deg) translate3d(0, 0, 0);
        }

        50% {
            transform: rotate(90deg) translate3d(-0.3rem, 0, 0);
        }

        100% {
            transform: rotate(90deg) translate3d(0.3rem, 0, 0);
        }
    }


    /*new designs from promise*/

    .history {
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
        text-align: center;
        overflow: hidden;
    }


    [class*=history-status-] p {
        margin: 0;
        font-size: 2vh;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
    }

    [class*=history-status-] {
        line-height: 5vh;
    }

    /*the heading*/
    .history-status-intransit {
        /*background: rgba(255, 255, 255, 0.5);*/
        /*background: rgba(0, 0, 0, 0.5); This is the header colour*/
        background: linear-gradient(to right, #00bcae 0%, #2294E3 100%);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.6px);
        -webkit-backdrop-filter: blur(5.6px);
        border: 1px solid rgba(255, 255, 255, 0.04);
        font-weight: 700;
        color: #fff;
        opacity: 0.7;
        font-size: 1.4rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .history-list {
        /* From https://css.glass */
        background: rgba(255, 255, 255);
        /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
        /*backdrop-filter: blur(5.6px);
        -webkit-backdrop-filter: blur(5.6px);*/
        border: 1px solid rgba(255, 255, 255, 0.04);
        /* min-height: 40vh;*/
        max-height: 60vh;
        overflow-y: auto;
    }

    .history-item {
       /* border-left: 1px solid #e5e5e5;
        */ 
       position: relative;
       padding: 2rem 1.5rem 0rem 2.5rem;
       font-size: .9rem;
        /*margin-left: 3rem;*/
       min-height: 4rem;
       background-color: rgba(250, 250, 250, 0.9);
    }
        .history-item:hover {
            box-shadow: inset 0px -50px 36px -28px #49E5EF, inset 0px -50px 36px -28px #2294E3, inset 0px -50px 36px -28px #d35bc9, inset 0px -50px 36px -28px #00bcae;
            /*box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;*/
            background: rgba(255, 255, 255,0);
            /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
            backdrop-filter: blur(5.6px);
            -webkit-backdrop-filter: blur(5.6px);
            border: 1px solid rgba(255, 255, 255, 0.04);
            /* min-height: 40vh;*/
            max-height: 60vh;
            overflow-y: auto;
        }
        
        .history-item:last-child {
            padding-bottom: 4rem;
        }

        /*        start and end date*/
        .history-item .history-date {
            margin-bottom: .5rem;
            font-weight: 700;
            color: black;
            opacity: 0.7;
            font-size: 2vh;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }

        /*        Scholl*/

        .history-item .history-content {
            position: relative;
            left: 2.5rem;
            padding: .5rem .8rem;
            background-color: #f4f4f4;
            border-radius: .5rem;
            font-size: 1.5em;
            width: 22vh;
            min-height: 8vh;
            max-height: 12.2vh;
            overflow: auto;
        }

            .history-item .history-content span {
                display: block;
                color: #888;
                font-size: 85%
            }

            .history-item .history-content p {
                display: block;
                /*color: #888;*/
                font-size: 80%;
                margin: 0;
            }

        .history-item .history-icon {
            line-height: 2.6rem;
            /*position: absolute;*/
            left: 1.5rem;
            width: 2.6rem;
            height: 2.6rem;
            text-align: center;
            border-radius: 50%;
            font-size: 1.1rem;
            /*background-color: #fff;*/
        }

            .history-item .history-icon .status-inforeceived {
                background-color: #214977;
            }

    .history-container {
        width: 35vh;
        height: 70vh;
        overflow: auto;        
        background: rgba(255, 255, 255, 0.5);
        left: 10%;
    }

    .education-header {
        text-align: center;
        margin-top: 2vh;
        font-family: opensans-condensed-bold;
        font-size: 2em;
        font-weight: 900;        
    }

    .validation-message {
        position: relative;
        left: 10%;
        bottom: 10%;
    }

    .position-white {
        position: relative;
        height: 60vh;
        width: 75%;
        left: 32%;
        top: 5%;
    }

    .position-history-card {
        position: relative;
        left: 20%;
        top: -4%;
    }

    .nav-bar-progress {
        height: 100%;
        -webkit-mask: linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0);
        background-image: linear-gradient(to right, #49E5EF 0%, #2294E3 20%, #d35bc9 45%, #00bcae 100%);
        background-size: calc( @completionVar ) 100%;
        background-repeat: no-repeat;
    }
    /*
        .nav-bar-progress ::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 10px;
            /*Dark blue #004393*/
            /*Pink #d35bc9*/
            /*Green-ish #00bcae*/
            /*Light-blue #49E5EF*/
            /*Medium-blue #2294E3*/
            /*Grey #666666*/
            /*Combo light blue, dark blue, pink, green-ish
            background-image: linear-gradient(to right, #49E5EF 0%, #2294E3 20%, #d35bc9 45%, #00bcae 100%);
    */

    .progress-layout-side-test {
        position: relative;
        left:24.5%;
        height: 6vh;
        /*background-image: url(/Img/space.png);
        background-size: cover;*/
        border-radius: 20px;
        width: 50%;
        top: 60%;
    }
    

</style>

<div class="space-below-nav-bar-for-progress-bar">
    <div class="progress-layout-side align-middle">
        <div class="progress-bar-indicator" style="width: calc(@completionVar);"></div>
        <div class="progress-text-layout-side align-middle" style="left: 100%;">100%</div>
        <div class="progress-text-layout-side align-middle" style="left: 75%;">75%</div>
        <div class="progress-text-layout-side justify-content-center" style="left: 50%; color: #d35bc9;">50%</div>
        <div class="progress-text-layout-side justify-content-center" style="left: 25%; color: #2294E3; ">25% </div>
        <div class="progress-text-layout-side align-middle" style="left: 1%; color: #49E5EF;">0%</div>
    </div>

</div>

<div class="h-95 container-fluid d-flex justify-content-center align-items-center overflow-hidden">
    <div class="col-1"></div>
    <div class="row col-10 d-flex justify-content-center row-style">

        <!--Navigation Tab-->
        <div class="col-12" style="width:100%;">
            <!--
    <div class="progress-layout-side-test align-middle">
        <div class="progress-bar-indicator" style="width: calc(@completionVar);"></div>
        <div class="progress-text-layout-side align-middle" style="left: 100%;">100%</div>
        <div class="progress-text-layout-side align-middle" style="left: 75%;">75%</div>
        <div class="progress-text-layout-side justify-content-center" style="left: 50%; color: #d35bc9;">50%</div>
        <div class="progress-text-layout-side justify-content-center" style="left: 25%; color: #2294E3; ">25% </div>
        <div class="progress-text-layout-side align-middle" style="left: 1%; color: #49E5EF;">0%</div>
    </div>
        -->
            <ul class="nav nav1 nav-tabs" role="tablist">
                <!--Container-->
                <li class="nav-item p-1">
                    <a id="personal-tab" class="nav-link nav-link1 active" data-bs-toggle="tab" href="#personal-information" @onclick="progressCheck">Personal Information</a>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link nav-link1" data-bs-toggle="tab" href="#work-history" @onclick="progressCheck">Work History</a>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link nav-link1" data-bs-toggle="tab" href="#education" @onclick="progressCheck">Education</a>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link nav-link1" data-bs-toggle="tab" href="#references" @onclick="progressCheck">References</a>
                </li>
                <li class="nav-item p-1">
                    <a id="online-tag" class="nav-link nav-link1" data-bs-toggle="tab" href="#online-profile" @onclick="progressCheck">Online Presence</a>
                </li>
            </ul>
        </div>

        <!--Content Panel-->
        <div class="col-12 d-flex justify-content-center align-items-start " >
            <div class="tab-content">
                <br />
                <!--Personal Information-->
                <div id="personal-information" class="container tab-pane active">
                    <div class="d-flex justify-content-center" >
                        <EditForm Model="@personalInformation" OnValidSubmit="addWorkHistoryTest" style="width: 60%;">
                            <div class="row" style="margin-top: 50px;">
                                <div class="col-12 shadow-sm bg-body rounded-edges white-back">
                                    <div class="education-header">Personal Information</div>
                                    <div class="row p-3">
                                        <div class="col-12">
                                            <div class="rounded-edges">
                                                <MudPaper @ondragenter="@(() => _dragEnterStyle = "drag-enter")"
                                                          @ondragleave="@(() => _dragEnterStyle = null)"
                                                          @ondragend="@(() => _dragEnterStyle = null)"
                                                          Class="@("drag-drop-zone rounded-edges drop-corner " + _dragEnterStyle)">

                                                    <InputFile OnChange="OnInputFileChangedAsync" multiple class="drag-drop-input" />
                                                    @if (fileNames == null)
                                                    {
                                                        <MudText Typo="Typo.h3" Align="Align.Center">
                                                            <i class="fa fa-upload"></i>
                                                            <br />
                                                            Upload File
                                                        </MudText>
                                                    }
                                                    else
                                                    {
                                                        <MudList Style="padding:2em;width:100%;" Dense="true">
                                                            <MudListItem @key="@fileNames.Name">
                                                                <MudChip Color="Color.Dark"
                                                                         Style="width:60px; overflow:hidden;"
                                                                         Text="@(fileNames.Name.Split(".").Last())" />
                                                                @fileNames.Name
                                                            </MudListItem>
                                                        </MudList>
                                                    }
                                                </MudPaper>
                                            </div>

                                            <MudGrid Justify="Justify.Center" Spacing="4">
                                                <MudItem>
                                                    <MudButton OnClick="Upload" Disabled="@(!(fileNames == null))" Style="color: white; background-color: #00BCAE; font-size: small; margin-top: 5px;" Variant="Variant.Filled">Upload</MudButton>
                                                </MudItem>
                                                <MudItem>
                                                    <MudButton OnClick="@ResetFileNames" Disabled="@(fileNames == null)" Style="color: white; background-color: #00BCAE; font-size: small; margin-top: 5px;" Variant="Variant.Filled">Clear</MudButton>
                                                </MudItem>
                                            </MudGrid>
                                        </div>
                                    </div>
                                    <div class="row p-3">
                                        <div class="col-4">
                                            <label class="form-label" for="first-name">First Name</label>
                                            <InputText id="first-name" class="form-control shadow bg-body rounded" @bind-Value="personalInformation.FirstName" placeholder="John" @onfocusout="completion" /> <!--@onfocusout="completion" -->
                                        </div>
                                        <div class="col-4">
                                            <label class="form-label" for="last-name">Last Name</label>
                                            <InputText id="last-name" class="form-control shadow bg-body rounded" @bind-Value="personalInformation.LastName" placeholder="Smith" @onfocusout="completion" /> <!--@onfocusout="completion" -->
                                        </div>
                                        <div class="col-4">
                                            <label class="form-label" for="email-address">Email Address</label>
                                            <InputText id="email-address" class="form-control shadow bg-body rounded" type="email" @bind-Value="personalInformation.Email" placeholder="John@gmail.com" @onfocusout="completion" /> <!--@onfocusout="completion" -->
                                        </div>
                                    </div>
                                    <div class="row p-3">
                                        <div class="col-4">
                                            <label class="form-label" for="phone-number">Phone Number</label>
                                            <InputText id="phone-number" class="form-control shadow bg-body rounded" @bind-Value="personalInformation.PhoneNumber" placeholder="0713369875" @onfocusout="completion" /> <!--@onfocusout="completion" -->
                                        </div>
                                        <div class="col-4">
                                            <label class="form-label" for="ethnicity">Ethnicity</label>
                                            <select id="ethnicity" class="form-select shadow bg-body rounded" @bind="additionalInformation.Ethnicity" @onfocusout="completion">
                                                <!--@onfocusout="completion" -->
                                                <option value="" disabled selected>Ethnicity</option>
                                                <option value="African">African</option>
                                                <option value="Asain">Asain</option>
                                                <option value="Coloured">Coloured</option>
                                                <option value="Indian">Indian</option>
                                                <option value="White">White</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <label class="form-label" for="gender">Gender</label>
                                            <select id="gender" class="form-select shadow bg-body rounded" @bind="additionalInformation.Gender" @onfocusout="completion">
                                                <!--@onfocusout="completion" -->
                                                <option value="" disabled selected>Select Gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row p-3">
                                        <div class="col-4">
                                            <label class="form-label" for="id-number">ID Number</label>
                                            <InputText id="id-number" class="form-control shadow bg-body rounded" min="13" max="13" @bind-Value="personalInformation.IdNumber" placeholder="010205365987" @onfocusout="completion" /> <!--@onfocusout="completion" -->
                                        </div>
                                        <div class="col-8">
                                            <label class="form-label" for="address">Address</label>
                                            <InputTextArea id="address" class="form-control shadow bg-body rounded" @bind-Value="personalInformation.Address" placeholder="Address" rows="1" @onfocusout="completion"></InputTextArea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </EditForm>
                    </div>
                </div>

                <!--Work History-->
                <div id="work-history" class="container tab-pane">
                    <EditForm Model="@workHistory" OnValidSubmit="@addWorkHistoryTest">
                        <DataAnnotationsValidator />
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-9 p-5">
                                        <div class="row shadow-sm bg-body rounded-edges white-back position-white">
                                            <div class="education-header">Work History</div>
                                            <div class="col-12">
                                                <div class="row p-3">
                                                    <div class="col-6">
                                                        <!--<label class="form-label" for="company-name">Company Name</label>-->
                                                        <InputText id="company-name" class="form-control shadow bg-body rounded" @bind-Value="workHistory.CompanyName" placeholder="Company Name" @onfocusout="completion" />
                                                    </div>
                                                    <div class="col-6">
                                                        <!--<label class="form-label" for="job-title">Job Title</label>-->
                                                        <InputText id="job-title" class="form-control shadow bg-body rounded" @bind-Value="workHistory.JobTitle" placeholder="Job Title" @onfocusout="completion" />
                                                    </div>
                                                </div>
                                                <div class="row p-3">
                                                    <div class="col-6">
                                                        <label class="form-label" for="start-date">Start Date</label>
                                                        <InputDate id="start-date" class="form-control shadow bg-body rounded" @bind-Value="workHistory.StartDate" placeholder="Date" @onblur="StartDateCheck" />
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="form-label" for="end-date">End Date</label>
                                                        <InputDate id="end-date" class="form-control shadow bg-body rounded" @bind-Value="workHistory.EndDate" placeholder="Date" @onblur="EndDateCheck" />
                                                    </div>

                                                </div>
                                                <div class="row p-3">
                                                    <div class="col-12">
                                                        <!--<label class="form-label" for="description">Description</label>-->
                                                        <InputTextArea id="description" class="form-control shadow bg-body rounded" placeholder="Description" @bind-Value="workHistory.Description" rows="3" @onfocusout="completion"></InputTextArea> <!--@onfocusout="completion" -->
                                                    </div>
                                                    <div class="validation-message"><ValidationSummary /></div>
                                                    <div class="col-12 d-flex justify-content-around">
                                                        @if (workEditMode)
                                                        {
                                                            <input class="btn formButton" type="button" value="Save" @onclick="() => SaveWorkHistory(workHistory)" />
                                                            <input class="btn formButton" type="button" value="Cancel" @onclick="() => CancelWorkHistory(workHistory)" />
                                                        }
                                                        else
                                                        {
                                                            <button class="btn formButton" type="submit" value="Add">Add</button>
                                                        }


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 ">
                                        <div class="history-container position-history-card rounded-edges">
                                            <div class="history ">
                                                <div class="text-center history-status-intransit">
                                                    <p class="history-status  text-tight">Work History</p>
                                                </div>
                                                <br />
                                                @if (workHistoryList != null)
                                                {
                                                    foreach (var item in workHistoryList)
                                                    {
                                                        
                                                            <div class="history-item" @onclick="() => SelectWorkHistory(item)" style="@GetStyling(item)" >
                                                                <div class="history-icon">                                                                    
                                                                        <i class="handPointer fa fa-trash fa-2x" style="color: #00BCAE" @onclick="() => DeleteWorkHistory(item.Id)"></i>
                                                                        <!--<i class="fa fa-times-circle fa-2x" style="color: red"></i>-->                                                                    
                                                                </div>
                                                                <div class="history-date">@($"{item.StartDate:yyyy MMMM} - {item.EndDate:yyyy MMMM}")<br></div>
                                                                <div class="history-content">@item.CompanyName<p>@item.JobTitle</p><span>@item.Description</span></div>
                                                            </div>
                                                                                                                
                                                    }
                                                }
                                                <!--To display to the user which card has been chosen-->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </EditForm>
                </div>

                <!--Education-->
                <div id="education" class="container tab-pane">
                    <EditForm Model="@education" OnValidSubmit="@AddEducationTakeTwo">
                        <DataAnnotationsValidator />
                        <!--education-form  this is using JS-->
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-9 p-5">
                                        <div class="row shadow-sm bg-body rounded-edges white-back position-white">
                                            <div class="education-header">Educational details</div>
                                            <div class="col-12" style="height: 35vh">
                                                <div class="row p-3">
                                                    <div class="col-6">
                                                        <!--<label class="form-label" for="institution">Institution</label>-->
                                                        <InputText id="Institution" class="form-control shadow bg-body rounded" @bind-Value="education.Insitution" placeholder="Institution" @onfocusout="completion" /> <!--@onfocusout="completion" -->
                                                    </div>
                                                    <div class="col-6">
                                                        <!--<label class="form-label" for="qualification">Qualification</label>-->
                                                        <InputText id="qualification" class="form-control shadow bg-body rounded" @bind-Value="education.Qualification" placeholder="Qualification" @onfocusout="completion" /> <!--@onfocusout="completion" -->
                                                    </div>
                                                </div>
                                                <div class="row p-3">
                                                    <div class="col-6">
                                                        <label class="form-label" for="start-date">Start Date</label>
                                                        <InputDate id="start-date" class="form-control shadow bg-body rounded" @bind-Value="education.StartDate" @onblur="StartDateCheck" />
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="form-label" for="end-date">End Date</label>
                                                        <InputDate id="end-date" class="form-control shadow bg-body rounded" @bind-Value="education.EndDate" @onblur="EndDateCheck" />
                                                    </div>
                                                </div>

                                                <div class="row p-3">
                                                    <div class="validation-message"><ValidationSummary /></div>
                                                    <div class="col-12 d-flex justify-content-around">
                                                        @if (eduEditMode)
                                                        {
                                                            <input class="btn formButton" type="button" value="Save" @onclick="() => SaveEducation(education)" />
                                                            <input class="btn formButton" type="button" value="Cancel" @onclick="() => CancelEducation(education)" />
                                                        }
                                                        else
                                                        {
                                                            <button class="btn formButton" type="submit" value="Add">Add</button> <!--@onclick=" ()=>AddEducationTakeTwo(education)"-->
                                                        }
                                                        <!--<button class="btn formButton" type="reset" @onclick="() => AddEducationTakeTwo(education)" value="Add">Add</button> -->

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <!--<div class="row shadow-sm bg-body rounded-edges white-back">-->
                                        <!--<div class="col-12 overflow-auto" style="height: 47vh">-->
                                        <div class="history-container position-history-card rounded-edges">
                                            <div class="history">
                                                <div class="text-center history-status-intransit ">
                                                    <p class="history-status  text-tight">Educational History</p>
                                                </div>
                                                <br />
                                                @if (educationList != null && educationList.Count > 0)
                                                {
                                                    foreach (var item in educationList)
                                                    {

                                                        <div class="history-item" @onclick="() => SelectEducation(item)" style="@GetEduStyling(item)">
                                                            <div class="history-icon">
                                                                <i class="handPointer fa fa-trash fa-2x" style="color: #00BCAE" @onclick="() => DeleteEducation(item.Id)"></i>
                                                                <!--<i class="fa fa-times-circle fa-2x" style="color: red"></i>-->
                                                            </div>

                                                            <div class="history-date">@($"{item.StartDate:yyyy MMMM} - {item.EndDate:yyyy MMMM}")</div>
                                                            <div class="history-content">@item.Qualification<span>@item.Insitution</span></div>
                                                        </div>
                                                    }
                                                }
                                                <!--</div>-->
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </EditForm>
                </div>

                <!--References tab-->

                <div id="references" class="container tab-pane">
                    <EditForm Model="@references" OnValidSubmit="@AddReferences">
                        <DataAnnotationsValidator />
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-9 p-5">
                                        <div class="row shadow-sm bg-body rounded-edges white-back position-white" style="height: auto;">
                                            <div class="education-header">References</div>
                                            <div class="col-12" style="height: 35vh">

                                                <div class="row p-3">
                                                    <div class="col-6">
                                                        <!--<label class="form-label" for="referenceName">Name</label>-->
                                                        <InputText id="referenceName" class="form-control shadow bg-body rounded" placeholder="Name" @bind-Value="references.Name" @onfocusout="completion" /> <!--@onfocusout="completion" -->
                                                    </div>
                                                    <div class="col-6">
                                                        <!--<label class="form-label" for="referenceSurname">Surname</label>-->
                                                        <InputText id="referenceSurname" class="form-control shadow bg-body rounded" placeholder="Surname" @bind-Value="references.Surname" @onfocusout="completion" /> <!--@onfocusout="completion" -->
                                                    </div>
                                                </div>

                                                <div class="row p-3">
                                                    <div class="col-6">
                                                        <!--<label class="form-label" for="referenceEmail">Email</label>-->
                                                        <InputText id="referenceEmail" class="form-control shadow bg-body rounded" placeholder="Email" @bind-Value="references.Email" @onfocusout="completion" /> <!--@onfocusout="completion" -->
                                                    </div>
                                                    <div class="col-6">
                                                        <!--<label class="form-label" for="referenceContactNum">Phone Number</label>-->
                                                        <InputText id="referenceContactNum" class="form-control shadow bg-body rounded" placeholder="Phone Number" @bind-Value="references.ContactNum" @onfocusout="completion" /> <!--@onfocusout="completion" -->
                                                    </div>
                                                </div>
                                                <div class="row p-3">
                                                    <div class="validation-message"><ValidationSummary /></div>
                                                    <div class="col-12 d-flex justify-content-around">

                                                        @if (editMode)
                                                        {
                                                            <input class="btn formButton" type="button" value="Save" @onclick="() => Save(references)" />
                                                            <input class="btn formButton" type="button" value="Cancel" @onclick="() => Cancel(references)" />
                                                        }
                                                        else
                                                        {
                                                            <button class="btn formButton" type="submit" value="Add">Add</button> <!--@onclick="() => AddReferences()"-->
                                                        }

                                                    </div>
                                                    <div id="demo"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="history-container position-history-card rounded-edges">
                                            <div class="history">
                                                <div class="text-center history-status-intransit">
                                                    <p class="history-status  text-tight">References</p>
                                                </div>
                                                <br />
                                                @if (referencesList != null && referencesList.Count > 0)
                                                {
                                                    foreach (var items in referencesList)
                                                    {                                                      
                                                        
                                                    <div class="history-item" @onclick="() => SelectReference(items)" style="@GetRefStyling(items)">
                                                        <div class="history-icon">
                                                            <span @onclick="() => DeleteReference(items.Id)">
                                                                <i class="handPointer fa fa-trash fa-2x" style="color: #00BCAE" @onclick="() => DeleteReference(items.Id)"></i>
                                                                <!--<i class="fa fa-times-circle fa-2x" style="color: red"></i>-->
                                                            </span>
                                                        </div>
                                                        <div class="history-content">
                                                            @items.Name
                                                            <br>
                                                            @items.Surname
                                                            <br>
                                                            @items.Email
                                                            <br>
                                                            @items.ContactNum
                                                        </div>

                                                    </div>        
                                                        
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </EditForm>
                </div>

                <!--Online Presence-->
                <div id="online-profile" class="container tab-pane" style="height: 60vh; width: 120vh; margin-top: 50px;">
                    <form class="col-12 d-flex justify-content-center align-items-start">                        
                        <div class="row col-9">
                            <div class="col-12 shadow-sm bg-body rounded-edges align-self-start white-back ">
                                <div class="education-header">Online Presence</div>
                                <div class="row p-3">
                                    <div class="col-6">
                                        <div>
                                            <label class="form-label" for="github">Github</label>
                                            &ensp;
                                            <i class="fab fa-github fa-2x"></i>
                                        </div>
                                        <input id="github" class="form-control shadow bg-body rounded" type="text" @bind="profilePortfolio.GitHubLink" placeholder="github.com/1Nebula" />
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <label class="form-label" for="linkedin">LinkedIn</label>
                                            &ensp;
                                            <i class="fab fa-linkedin-in fa-2x" style="color: #0077b5"></i>
                                        </div>
                                        <input id="linkedin" class="form-control shadow bg-body rounded" type="text" @bind="profilePortfolio.LinkedInLink" placeholder="linkedin.com/company/nebula" />
                                    </div>
                                </div>
                                <div class="row p-3">
                                    <div class="col-6">
                                        <div>
                                            <label class="form-label" for="twitter">Twitter</label>
                                            &ensp;
                                            <i class="fab fa-twitter-square fa-2x" style="color: #00acee"></i>
                                        </div>
                                        <input id="twitter" class="form-control shadow bg-body rounded" type="text" @bind="profilePortfolio.TwitterLink" placeholder="twitter.com/1nebula_global" />
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <label class="form-label" for="personal-website">Personal Website</label>
                                            &ensp;
                                            <i class="fas fa-globe fa-2x" style="color: #35afc0"></i>
                                        </div>
                                        <input id="personal-website" class="form-control shadow bg-body rounded" type="text" @bind="profilePortfolio.PersonalWebsiteUrl" placeholder="1nebula.com" />
                                    </div>
                                </div>
                                <div class="row p-3">
                                    <div class="col-12 d-flex justify-content-center">
                                        <input class="btn formButton" type="button" value="Done" @onclick="Submit" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Newly added stuffs-->
    <div class="col-1">

        @if (calc > 0 && calc <= 25)
        {
            <!--Change the background images here-->
            <!--
            <div class=" space-text-layout lift-off-text" style="bottom: 25%">We have lift off!</div>-->
        }
        else if (calc > 25 && calc <= 50)
        {
            <!--<div class="space-text-layout left-atmosphere-text" style="bottom: 35%;">We've just left the atmosphere!</div>-->
        }
        else if (calc > 50 && calc <= 75)
        {
            <!--<div class="space-text-layout into-orbit-text" style="bottom: 50%;">Into orbit we go!</div>-->
        }
        else if (calc > 75 && calc < 100)
        {
            <!--<div class="space-text-layout to-the-mooon-text" style="bottom: 65%">To the moon!</div> -->
        }
        else if (calc == 100)
        {
            <!--<div class="space-text-layout you-done-text" style="bottom: 80%">Congratulations! You are done</div> -->
        }
    </div>
</div>

@code {
    private bool presentWork = false;
    private bool presentSchool = false;
    private int id = 1;

    private void AddWorkHistoryNew(WorkHistory workHistory1)
    {
        workHistory.Id = id++;
        if (!workHistoryList.Contains(workHistory) || !FindWork(workHistory1))
            workHistoryList.Add(workHistory);
        else
            jsRuntime.InvokeVoidAsync("alert", "Job Added");
    }

    private bool FindWork(WorkHistory workHistory1)
    {
        var temp = workHistoryList.FirstOrDefault(w => w.Id == workHistory1.Id || w.CompanyName.ToLower().Equals(workHistory1.CompanyName.ToLower()));
        return temp == null;
    }

    // The following is required for the progress visualization feature
    // First page testing if input is empty/null;
    private int firstName = 0;
    private int lastName = 0;
    private int emailAddress = 0;
    private int phoneNum = 0;
    private int ethnicity = 0;
    private int gender = 0;
    private int idNum = 0;
    private int address = 0;

    // Work history / page 2 inputs is empty/null

    private int compName = 0;
    private int jobTitle = 0;
    private int desc = 0;

    // Education history inputs is empty / null
    private int institution = 0;
    private int qualification = 0;

    // References history inputs is empty / null
    private int refName = 0;
    private int refSurname = 0;
    private int refEmail = 0;
    private int refContactNum = 0;



    private int count = 0;
    private double totalInputs = 17.0;
    private string completionVar = "0%";
    private double calc = 0.00;


    private void progressCheck()
    {

        if (workProgressVal == true)
        {

            count = count - 3;
            compName = 0;
            jobTitle = 0;
            desc = 0;
            workProgressVal = false;
        }

        if (educationProgressVal == true)
        {
            count = count - 2;
            institution = 0;
            qualification = 0;
            educationProgressVal = false;
        }

        if (referenceProgressVal == true)
        {
            count = count - 4;
            refName = 0;
            refSurname = 0;
            refEmail = 0;
            refContactNum = 0;
            referenceProgressVal = false;
        }
        {

        }
        //This is the check that is used on the "Personal Information" page

        calc = Math.Round(((count / totalInputs) * 100));

        if (calc <= 100)
        {
            completionVar = calc.ToString() + "%";

        }
        else
        {
            completionVar = "100%";
        }
    }

    private void completion()
    {

        //This is the check that is used on the "Personal Information" page

        @if (!string.IsNullOrEmpty(personalInformation.FirstName) && firstName != 1)
        {
            count++;
            firstName = 1;
        }
        else if (string.IsNullOrEmpty(personalInformation.FirstName) && firstName == 1)
        {
            count--;
            firstName = 0;
        }

        else if (!string.IsNullOrEmpty(personalInformation.LastName) && lastName != 1)
        {
            count++;
            lastName = 1;
        }
        else if (string.IsNullOrEmpty(personalInformation.LastName) && lastName == 1)
        {
            count--;
            lastName = 0;
        }

        else if (!string.IsNullOrEmpty(personalInformation.Email) && emailAddress != 1)
        {
            count++;
            emailAddress = 1;
        }
        else if (string.IsNullOrEmpty(personalInformation.Email) && emailAddress == 1)
        {
            count--;
            emailAddress = 0;
        }

        else if (!string.IsNullOrEmpty(personalInformation.PhoneNumber) && phoneNum != 1)
        {
            count++;
            phoneNum = 1;
        }
        else if (string.IsNullOrEmpty(personalInformation.PhoneNumber) && phoneNum == 1)
        {
            count--;
            phoneNum = 0;
        }

        else if (!string.IsNullOrEmpty(additionalInformation.Ethnicity) && ethnicity != 1)
        {
            count++;
            ethnicity = 1;
        }
        else if (string.IsNullOrEmpty(additionalInformation.Ethnicity) && ethnicity == 1)
        {
            count--;
            ethnicity = 0;
        }

        else if (!string.IsNullOrEmpty(additionalInformation.Gender) && gender != 1)
        {
            count++;
            gender = 1;
        }
        else if (string.IsNullOrEmpty(additionalInformation.Gender) && gender == 1)
        {
            count--;
            gender = 0;
        }

        else if (!string.IsNullOrEmpty(personalInformation.IdNumber) && idNum != 1)
        {
            count++;
            idNum = 1;
        }
        else if (string.IsNullOrEmpty(personalInformation.IdNumber) && idNum == 1)
        {
            count--;
            idNum = 0;
        }

        else if (!string.IsNullOrEmpty(personalInformation.Address) && address != 1)
        {
            count++;
            address = 1;
        }
        else if (string.IsNullOrEmpty(personalInformation.Address) && address == 1)
        {
            count--;
            address = 0;
        }

        // This is the checks for the "Work history" page

        if (workHistoryList.Count == 0)
        {
            if (workProgressVal == false)
            {
                if (!string.IsNullOrEmpty(workHistory.CompanyName) && compName != 1)
                {
                    count++;
                    compName = 1;
                }
                else if (string.IsNullOrEmpty(workHistory.CompanyName) && compName == 1)
                {
                    count--;
                    compName = 0;
                }

                else if (!string.IsNullOrEmpty(workHistory.JobTitle) && jobTitle != 1)
                {
                    count++;
                    jobTitle = 1;
                }
                else if (string.IsNullOrEmpty(workHistory.JobTitle) && jobTitle == 1)
                {
                    count--;
                    jobTitle = 0;
                }
                else if (!string.IsNullOrEmpty(workHistory.Description) && desc != 1)
                {
                    count++;
                    desc = 1;
                }
                else if (string.IsNullOrEmpty(workHistory.Description) && desc == 1)
                {
                    count--;
                    desc = 0;
                }
            }
        }


        //Start of Education validation for progression

        if (educationList.Count == 0)
        {
            if (educationProgressVal == false)
            {
                if (!string.IsNullOrEmpty(education.Insitution) && institution != 1)
                {
                    count++;
                    institution = 1;
                }
                else if (string.IsNullOrEmpty(education.Insitution) && institution == 1)
                {
                    count--;
                    institution = 0;
                }

                else if (!string.IsNullOrEmpty(education.Qualification) && qualification != 1)
                {
                    count++;
                    qualification = 1;
                }
                else if (string.IsNullOrEmpty(education.Qualification) && qualification == 1)
                {
                    count--;
                    qualification = 0;
                }
            }
        }

        if (referencesList.Count == 0)
        {
            if (referenceProgressVal == false)
            {
                if (!string.IsNullOrEmpty(references.Name) && refName != 1)
                {
                    count++;
                    refName = 1;
                }
                else if (string.IsNullOrEmpty(references.Name) && refName == 1)
                {
                    count--;
                    refName = 0;
                }

                else if (!string.IsNullOrEmpty(references.Surname) && refSurname != 1)
                {
                    count++;
                    refSurname = 1;
                }
                else if (string.IsNullOrEmpty(references.Surname) && refSurname == 1)
                {
                    count--;
                    refSurname = 0;
                }

                else if (!string.IsNullOrEmpty(references.Email) && refEmail != 1)
                {
                    count++;
                    refEmail = 1;
                }
                else if (string.IsNullOrEmpty(references.Email) && refEmail == 1)
                {
                    count--;
                    refEmail = 0;

                }
                else if (!string.IsNullOrEmpty(references.ContactNum) && refContactNum != 1)
                {
                    count++;
                    refContactNum = 1;
                }
                else if (!string.IsNullOrEmpty(references.ContactNum) && refContactNum == 1)
                {
                    count--;
                    refContactNum = 0;
                }
            }

        }

    }
}
