@page "/applicationprofile"
@inject HttpClient httpClient
@inject IJSRuntime jsRuntime
@inject ISnackbar Snackbar

<style>
    .nav1 {
        width: auto !important;
        height: auto !important;
        top: auto !important;
        justify-content: normal !important;
        justify-items: normal !important;
    }

    .nav-link1 {
        width: auto !important;
        height: auto !important;
        margin-bottom: auto !important;
        display: normal !important;
        vertical-align: auto !important;
        border-radius: 0px;
        background-color: white;
        color: #00bcae;
        cursor: pointer;
    }

    .nav-link-text1 {
        display: normal !important;
        padding-top: 0px;
        width: auto !important;
        height: auto !important;
    }

    select {
        font-size: medium !important
    }

    .formButton {
        background-color: #00BCAE;
        color: white;
        font-weight: 600;
        height: 5vh;
        margin-top: 2vh;
        width: auto;
    }

    .drag-drop-zone {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .4s;
        height: 120px;
    }

    .drag-drop-input {
        position: absolute;
        width: 690px;
        height: 120px;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
    }

    .drag-enter {
        box-shadow: var(--mud-elevation-10);
    }

    .list {
        padding: 2em;
        min-width: 100%;
    }

    .card:hover {
        border: 4px solid #d0d0d0;
        background: #e1e1e1;
        box-shadow: 0 0 0 4px #d0d0d0;
    }

    .cardBorderChange{
        border: 4px solid #00BCAE;
        background: #00BCAE;
        box-shadow: 0 0 0 4px #00BCAE;
    }

</style>

<div class="container-fluid">

    <div class="row">

        <!--Navigation Tab-->
        <div class="col-12 d-flex justify-content-center">
            <ul class="nav nav1 nav-tabs" role="tablist">
                <li class="nav-item p-1">
                    <a id="personal-tab" class="nav-link nav-link1 active" data-bs-toggle="tab" href="#personal-information">Personal Information</a>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link nav-link1" data-bs-toggle="tab" href="#work-history">Work History</a>
                </li>
                <li class="nav-item p-1">
                    <a class="nav-link nav-link1" data-bs-toggle="tab" href="#education">Education</a>
                </li>
                <li class="nav-item p-1">
                    <a id="online-tag" class="nav-link nav-link1" data-bs-toggle="tab" href="#online-profile">Online Profile</a>
                </li>
            </ul>
        </div>

        <!--Content Panel-->
        <div class="col-12">
            <div class="tab-content">
                <br />
                <!--Personal Information-->
                <div id="personal-information" class="container tab-pane active">
                    <div class="d-flex justify-content-center">
                        <form id="personal-information-form" style="width: 60%">
                            <div class="row">
                                <div class="col-12 shadow-sm bg-body rounded" style="background-color: white">
                                    <div class="row p-3">
                                        <div class="col-12">
                                            <div class="border border-2">
                                                <MudPaper @ondragenter="@(()=>_dragEnterStyle="drag-enter")"
                                                          @ondragleave="@(()=>_dragEnterStyle=null)"
                                                          @ondragend="@(()=>_dragEnterStyle=null)"
                                                          Class="@("drag-drop-zone "+ _dragEnterStyle)">

                                                    <InputFile OnChange="OnInputFileChanged" multiple class="drag-drop-input" />
                                                    @if (fileNames.Count() == 0)
                                                    {
                                                        <MudText Typo="Typo.h3" Align="Align.Center">
                                                            <i class="fa fa-upload"></i>
                                                            <br />
                                                            Upload File
                                                        </MudText>
                                                    }
                                                    else
                                                    {
                                                        <MudList Style="padding:2em;width:100%;" Dense="true">
                                                            @foreach (var file in fileNames)
                                                            {
                                                                <MudListItem @key="@file">
                                                                    <MudChip Color="Color.Dark"
                                                                             Style="width:60px; overflow:hidden;"
                                                                             Text="@(file.Split(".").Last())" />
                                                                    @file
                                                                </MudListItem>}
                                                        </MudList>
                                                    }
                                                </MudPaper>
                                            </div>
                                            <br />
                                            <MudGrid Justify="Justify.Center" Spacing="4">
                                                <MudItem>
                                                    <MudButton OnClick="Upload" Disabled="@(!fileNames.Any())" Color="Color.Primary" Variant="Variant.Filled">Upload</MudButton>
                                                </MudItem>
                                                <MudItem>
                                                    <MudButton OnClick="@fileNames.Clear" Disabled="@(!fileNames.Any())" Color="Color.Error" Variant="Variant.Filled">Clear</MudButton>
                                                </MudItem>
                                            </MudGrid>
                                        </div>
                                    </div>
                                    <div class="row p-3">
                                        <div class="col-4">
                                            <label class="form-label" for="first-name">First Name</label>
                                            <input id="first-name" class="form-control shadow bg-body rounded" type="text" @bind="personalInformation.FirstName" placeholder="John" required />
                                        </div>
                                        <div class="col-4">
                                            <label class="form-label" for="last-name">Last Name</label>
                                            <input id="last-name" class="form-control shadow bg-body rounded" type="text" @bind="personalInformation.LastName" placeholder="Smith" required />
                                        </div>
                                        <div class="col-4">
                                            <label class="form-label" for="email-address">Email Address</label>
                                            <input id="email-address" class="form-control shadow bg-body rounded" type="email" @bind="personalInformation.Email" placeholder="John@gmail.com" required />
                                        </div>
                                    </div>
                                    <div class="row p-3">
                                        <div class="col-4">
                                            <label class="form-label" for="phone-number">Phone Number</label>
                                            <input id="phone-number" class="form-control shadow bg-body rounded" type="tel" @bind="personalInformation.PhoneNumber" placeholder="0713369875" required />
                                        </div>
                                        <div class="col-4">
                                            <label class="form-label" for="ethnicity">Ethnicity</label>
                                            <select id="ethnicity" class="form-select shadow bg-body rounded" @bind="additionalInformation.Ethnicity" required>
                                                <option value="" disabled selected>Select Ethnicity</option>
                                                <option value="African">African</option>
                                                <option value="White">White</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <label class="form-label" for="gender">Gender</label>
                                            <select id="gender" class="form-select shadow bg-body rounded" @bind="additionalInformation.Gender" required>
                                                <option value="" disabled selected>Select Gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row p-3">
                                        <div class="col-4">
                                            <label class="form-label" for="id-number">ID Number</label>
                                            <input id="id-number" class="form-control shadow bg-body rounded" type="text" min="13" max="13" @bind="personalInformation.IdNumber" placeholder="010205365987" required />
                                        </div>
                                        <div class="col-8">
                                            <label class="form-label" for="address">Address</label>
                                            <textarea id="address" class="form-control shadow bg-body rounded" @bind="personalInformation.Address" placeholder="Address" rows="4" required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!--Work History-->
                <div id="work-history" class="container tab-pane">
                    <form>
                        <div class="row">
                            <div class="col-12">
                                <div class="row p-3">
                                    <div class="col-6 p-5">
                                        <div class="row shadow-sm bg-body rounded" style="background-color: white">
                                            <div class="col-12" style="height: 365px">
                                                <input type="hidden" @bind="workHistory.Id" />
                                                <input type="hidden" @bind="workHistory.AppUserId" />
                                                <div class="row p-3">
                                                    <div class="col-6">
                                                        <label class="form-label" for="company-name">Company Name</label>
                                                        <input id="company-name" class="form-control shadow bg-body rounded" type="text" @bind="workHistory.CompanyName" placeholder="1Nebula" />
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="form-label" for="job-title">Job Title</label>
                                                        <input id="job-title" class="form-control shadow bg-body rounded" type="text" @bind="workHistory.JobTitle" placeholder="Software Developer" />
                                                    </div>
                                                </div>
                                                <div class="row p-3">
                                                    <div class="col-6">
                                                        <label class="form-label" for="start-date">Start Date</label>
                                                        <input id="start-date" class="form-control shadow bg-body rounded" @bind="workHistory.StartDate" @onblur="StartDateCheck" type="date" />
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="form-label" for="end-date">End Date</label>
                                                        <input id="end-date" class="form-control shadow bg-body rounded" @bind="workHistory.EndDate" @onblur="EndDateCheck" type="date" />
                                                    </div>
                                                </div>
                                                <div class="row p-3">
                                                    <div class="col-12">
                                                        <label class="form-label" for="description">Description</label>
                                                        <textarea id="description" class="form-control shadow bg-body rounded" placeholder="Description" @bind="workHistory.Description" rows="4"></textarea>
                                                    </div>
                                                    <div class="col-12 d-flex justify-content-around">
                                                        @if (workHistUpdate)
                                                        {
                                                            <input class="btn formButton" type="button" @onclick="() => UpdateWorkHistory(workHistory)" value="Update" />
                                                        }
                                                        else
                                                        {
                                                            <input class="btn formButton" type="button" @onclick="() => AddWorkHistory(workHistory)" value="Add" />
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 p-5">
                                        <div class="row shadow-sm bg-body rounded" style="background-color: white">
                                            <div class="col-12 overflow-auto" style="height: 365px">
                                                <br />
                                                @if (workHistoryList != null && workHistoryList.Count > 0)
                                                {
                                                    foreach (var item in workHistoryList)
                                                    {
                                                        <div class="card shadow-lg bg-body rounded @(workHistory.Id == item.Id? "cardBorderChange":"")" style="cursor: pointer" @onclick="() => PopulateWorkHistory(item.Id)">
                                                            <div class="card-body">
                                                                <h3 class="card-title">@item.JobTitle</h3>
                                                                <h4 class="card-subtitle">@item.CompanyName</h4>
                                                                <div class="d-flex justify-content-end"><span @onclick="() => DeleteWorkHistory(item.Id)"><i class="fa fa-times-circle fa-2x" style="color: red"></i></span></div>
                                                                <p class="card-text">Start Date: @item.StartDate.ToString("d MMM yyyy")</p>
                                                                <p class="card-text">End Date: @item.EndDate.ToString("d MMM yyyy")</p>
                                                            </div>
                                                        </div>
                                                        <br />
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!--Education-->
                <div id="education" class="container tab-pane">
                    <form>
                        <div class="row">
                            <div class="col-12">
                                <div class="row p-3">
                                    <div class="col-6 p-5">
                                        <div class="row shadow-sm bg-body rounded" style="background-color: white">
                                            <div class="col-12" style="height: 365px">
                                                <input type="hidden" @bind="education.Id" />
                                                <input type="hidden" @bind="education.AppUserId" />
                                                <div class="row p-3">
                                                    <div class="col-6">
                                                        <label class="form-label" for="institution">Institution</label>
                                                        <input id="institution" class="form-control shadow bg-body rounded" type="text" @bind="education.Insitution" placeholder="University of Cape Town" />
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="form-label" for="qualification">Qualification</label>
                                                        <input id="qualification" class="form-control shadow bg-body rounded" type="text" @bind="education.Qualification" placeholder="BSc Chemical Engineering" />
                                                    </div>
                                                </div>
                                                <div class="row p-3">
                                                    <div class="col-6">
                                                        <label class="form-label" for="start-date">Start Date</label>
                                                        <input id="start-date" class="form-control shadow bg-body rounded" @bind="education.StartDate" @onblur="StartDateCheck" type="date" />
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="form-label" for="end-date">End Date</label>
                                                        <input id="end-date" class="form-control shadow bg-body rounded" @bind="education.EndDate" @onblur="EndDateCheck" type="date" />
                                                    </div>
                                                </div>
                                                <div class="row p-3">
                                                    <div class="col-12 d-flex justify-content-around">
                                                        @if (eduUpdate)
                                                        {
                                                            <input class="btn formButton" type="button" @onclick="() => UpdateEducation(education)" value="Update" />
                                                        }
                                                        else
                                                        {
                                                            <input class="btn formButton" type="button" @onclick="() => AddEducation(education)" value="Add" />
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 p-5">
                                        <div class="row shadow-sm bg-body rounded" style="background-color: white">
                                            <div class="col-12 overflow-auto" style="height: 365px">
                                                <br />
                                                @if (educationList != null && educationList.Count > 0)
                                                {
                                                    foreach (var item in educationList)
                                                    {
                                                        <div class="card shadow-lg bg-body rounded active" style="cursor: pointer" @onclick="() => PopulateEducation(item.Id)">
                                                            <div class="card-body">
                                                                <h3 class="card-title">@item.Qualification</h3>
                                                                <h4 class="card-subtitle">@item.Insitution</h4>
                                                                <div class="d-flex justify-content-end"><span @onclick="() => DeleteEducation(item.Id)"><i class="fa fa-times-circle fa-2x" style="color: red"></i></span></div>
                                                                <p class="card-text">Start Date: @item.StartDate.ToString("d MMM yyyy")</p>
                                                                <p class="card-text">End Date: @item.EndDate.ToString("d MMM yyyy")</p>
                                                            </div>
                                                        </div>
                                                        <br />
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!--Online Profile-->
                <div id="online-profile" class="container tab-pane">
                    <div class="d-flex justify-content-center">
                        <form style="width: 60%">
                            <div class="row">
                                <div class="col-12 shadow-sm bg-body rounded" style="background-color: white">
                                    <div class="row p-3">
                                        <div class="col-6">
                                            <div>
                                                <label class="form-label" for="github">Github</label>
                                                &ensp;
                                                <i class="fab fa-github fa-2x"></i>
                                            </div>
                                            <input id="github" class="form-control shadow bg-body rounded" type="text" @bind="profilePortfolio.GitHubLink" />
                                        </div>
                                        <div class="col-6">
                                            <div>
                                                <label class="form-label" for="linkedin">LinkedIn</label>
                                                &ensp;
                                                <i class="fab fa-linkedin-in fa-2x" style="color: #0077b5"></i>
                                            </div>
                                            <input id="linkedin" class="form-control shadow bg-body rounded" type="text" @bind="profilePortfolio.LinkedInLink" />
                                        </div>
                                    </div>
                                    <div class="row p-3">
                                        <div class="col-6">
                                            <div>
                                                <label class="form-label" for="twitter">Twitter</label>
                                                &ensp;
                                                <i class="fab fa-twitter-square fa-2x" style="color: #00acee"></i>
                                            </div>
                                            <input id="twitter" class="form-control shadow bg-body rounded" type="text" @bind="profilePortfolio.TwitterLink" />
                                        </div>
                                        <div class="col-6">
                                            <div>
                                                <label class="form-label" for="personal-website">Personal Website</label>
                                                &ensp;
                                                <i class="fas fa-globe fa-2x" style="color: #35afc0"></i>
                                            </div>
                                            <input id="personal-website" class="form-control shadow bg-body rounded" type="text" @bind="profilePortfolio.PersonalWebsiteUrl" />
                                        </div>
                                    </div>
                                    <div class="row p-3">
                                        <div class="col-12 d-flex justify-content-center">
                                            <input class="btn formButton" type="button" value="Done" @onclick="Submit" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    string _dragEnterStyle;
    IList<string> fileNames = new List<string>();
    void OnInputFileChanged(InputFileChangeEventArgs e)
    {
        var files = e.GetMultipleFiles();
        fileNames = files.Select(f => f.Name).ToList();
    }
    void Upload()
    {
        //Upload the files here
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
        Snackbar.Add("TODO: Upload your files!", Severity.Normal);
    }
}