@page "/applicantjobportal"
@inject NavigationManager navmanager
@inject HttpClient httpClient

<style>
    .searchBox {
    }

    .handPointer {
        cursor: pointer;
    }

    .headingPage {
        height: 5vh;
        color: #003340;
        font-size: 2rem;
    }

    .formContainer {
        background-color: white;
    }

    .formButton {
        background-color: #00BCAE;
        color: white;
        font-weight: 600;
        height: 5vh;
        margin-top: 2vh;
        width: auto;
    }

    input {
        height: min-content;
    }

    .select2 {
        width: 100% !important;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    .container-main {
        height: 75vh;
        width: 100%;
    }

    .container-button {
        height: 5vh;
        width: 100%;
    }

    .mini-button {
        height: 5vh;
        text-align: center;
        background-color: #00bcae;
        width: auto;
        border-radius: 1em;
    }

    .my-container {
        height: 65vh;
        width: 100%;
    }
</style>

<div class="container" style="height: 60vh">

    <div style="width: 100%">
        <!--Search-Box-->
        <div class="row" style="height:5vh">
            <div class="col-12">
                <div class="input-group d-flex justify-content-center">
                    <span class="input-group-text handPointer" @onclick="() => SeachListJob(searchJob)">
                        <i class="fa fa-search"></i>
                    </span>
                    <input class="form-control" style="max-width: 50%" type="text" placeholder="Search" @bind="searchJob" />
                </div>
            </div>
        </div>
        <br />

        @if (jobListFilter != null && jobListFilter.Count > 0)
        {
            <div class="row" style="height:55vh">
                <div class="col-4 overflow-auto" style="height: 55vh">

                    <!--Card list for jobs-->
                    <div class="col-12">
                        @foreach (var item in jobPagedList)
                        {
                            <div class="card handPointer" @onclick="() => DisplayJobDetail(item.Id)">
                                <div class="card-body">
                                    <h3 class="card-title">@item.Title</h3>
                                    <h5 class="card-subtitle text-muted">@item.Company</h5>
                                    <br />
                                    <p class="card-text">
                                        @item.Location
                                        <br />
                                        @item.DueDate.ToString("d MMMM yyyy")
                                    </p>
                                </div>
                            </div>
                            <br />
                        }
                    </div>
                </div>

                <div class="col-8 overflow-auto" style="height:55vh">

                    <!--The Form for editing and deleting a job-->
                    <div style="height: 55vh">
                        <div class="col-12 p-5 formContainer">
                            <form>
                                <div class="row">
                                    <div class="col-6 p-2">
                                            <h3>@displayJobDetail.Title</h3>
                                    </div>
                                    <div class="col-6 p-2 d-flex justify-content-end">
                                        @if (IsApplyHidden)
                                        {
                                            <p>You Have Applied For This Post</p>
                                        }
                                        else
                                        {
                                            <input type="button" class="btn formButton" value="Apply" @onclick="() => Apply(displayJobDetail.Id)" />
                                        }
                                    </div>
                                    <div class="col-6 p-2">
                                            <h5 class="text-muted">@displayJobDetail.Company</h5>
                                    </div>
                                    <div class="col-6 p-2 d-flex justify-content-end">
                                            <p>@displayJobDetail.Location</p>
                                    </div>
                                    <div class="col-6 p-2">
                                            <p>Full-Time</p>
                                    </div>
                                    <div class="col-6 p-2 d-flex justify-content-end">
                                            <p>@displayJobDetail.Department</p>
                                    </div>
                                    <div class="col-12 p-2">
                                            <p class="text-center">@displayJobDetail.Description</p>
                                    </div>
                                    <div class="col-6 p-2">
                                            <p>@displayJobDetail.JobPlatforms</p>
                                    </div>
                                    <div class="col-6 p-2 d-flex justify-content-end">
                                            <p>@displayJobDetail.DueDate.ToString("d MMMM yyyy")</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row p-3">
                <div class="col-4">
                    <div class="col-12 d-flex justify-content-center">
                        <nav>
                            <ul class="pagination" style="cursor:pointer">
                                @if (!jobPagedList.IsFirstPage)
                                {
                                    <li class="page-item" @onclick="() => PageListNav(jobPagedList.PageNumber - 1)">
                                        <a class="page-link">
                                            <span>&laquo;</span>
                                        </a>
                                    </li>
                                }
                                <li class="page-item @(jobPagedList.PageNumber.Equals(pageNum.FirstOrDefault()) ? "active":"")" @onclick="() => PageListNav(pageNum.FirstOrDefault())"><a class="page-link">@pageNum.FirstOrDefault()</a></li>
                                @foreach (var item in pageNum)
                                {
                                    if (item != pageNum.FirstOrDefault() && item != pageNum.LastOrDefault())
                                    {
                                        @if (item >= jobPagedList.PageCount - 3 - 2 && jobPagedList.PageNumber >= jobPagedList.PageCount - 3)
                                        {
                                            <li class="page-item @(jobPagedList.PageNumber.Equals(item) ? "active":"")" @onclick="() => PageListNav(item)"><a class="page-link">@item</a></li>
                                        }
                                        else if (item <= 4 + 2 && jobPagedList.PageNumber <= 4)
                                        {
                                            <li class="page-item @(jobPagedList.PageNumber.Equals(item) ? "active":"")" @onclick="() => PageListNav(item)"><a class="page-link">@item</a></li>
                                        }
                                        else if (item >= jobPagedList.PageNumber - 2 && item <= jobPagedList.PageNumber + 2 && jobPagedList.PageNumber < jobPagedList.PageCount - 3 && jobPagedList.PageNumber > 4)
                                        {
                                            <li class="page-item @(jobPagedList.PageNumber.Equals(item) ? "active":"")" @onclick="() => PageListNav(item)"><a class="page-link">@item</a></li>
                                        }
                                    }
                                }
                                @if (pageNum.Count > 1)
                                {
                                    <li class="page-item @(jobPagedList.PageNumber.Equals(pageNum.LastOrDefault()) ? "active":"")" @onclick="() => PageListNav(pageNum.LastOrDefault())"><a class="page-link">@pageNum.LastOrDefault()</a></li>
                                }
                                @if (!jobPagedList.IsLastPage)
                                {
                                    <li class="page-item" @onclick="() => PageListNav(jobPagedList.PageNumber + 1)">
                                        <a class="page-link">
                                            <span>&raquo;</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-8">
                    <div class="col-12 d-flex justify-content-center">
                        <button class="btn formButton">Create Job</button>
                    </div>
                </div>
            </div>
        }
        else
        {
            @for (int i = 0; i < 5; i++)
            {
                <br />
            }
            <h1 class="text-center align-middle">No Job Are Available</h1>
        }
    </div>
</div>

<div class="my-container" hidden="@applicationFormIsHidden">
    <XebecPortal.UI.Pages.Applicant.ApplicationForm />
</div>

@code {

    private bool jobPortalIsHidden = false;
    private bool applicationFormIsHidden = true;

    private void GoToApplicationForm()
    {
        applicationFormIsHidden = false;
        jobPortalIsHidden = true;
    }

}
