@page "/applicantsignup"
@inject NavigationManager navmanager
@inject HttpClient HttpClient
@using System.Linq;
@using XebecPortal.UI.Shared.Home.Models;

<style>
    .overlay-register {
        height: 90vh;
        width: 100%;
    }

    .register-page{
        height: 90vh;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
    }
    .register-right {
        height: 70vh;
        background-color: white;
        width: 50%;
        margin-top: 10vh;
    }

    .register-left {
        background-image: linear-gradient(rgba(0, 188, 174,0.2),rgba(0, 188, 174,0.2)),url(/Img/pexels3.jpg);
        height: 70vh;
        width: 50%;
        margin-top: 10vh;
        background-size: cover;
        background-position: center;
    }

    .register-page input[type="text"], input[type="email"], input[type="password"], select {
        background-color: transparent;
        width: 85%;
        height: 7vh;
        line-height: 7vh;
        font-size: 1em;
        border: none;
        font-weight: 800;
        color: black;
        font-family: opensans-condensed-light;
        padding: 1em 1em 1em 1em;
    }

    .register-page .index-form-icon {
        width: 15%;
        padding-left: 5%;
        text-align: left;
        background-color: transparent;
        color: #00bcae;
        font-size: 1.5em;
        height: 7vh;
        line-height: 7vh;
    }

    .register-page input:focus, textarea:focus, select:focus {
        outline: none;
    }

    .register-page::placeholder {
        color: black;
        font-family: opensans-condensed-light;
        font-size: 1em;
        width: 100%;
        font-weight: 900;
    }

    .index-form-socials-register {
        width: 100%;
        height: 8vh;
        margin-bottom: 5vh;
    }

    .socials-register-heading {
        width: 100%;
        height: 3vh;
        color: #666666;
        font-family: opensans-condensed-bold;
        font-weight: 900;
        font-size: 1em;
        text-align: center;
    }

    .socials-register-div {
        width: 100%;
        height: 5vh;
        display: flex;
    }

    .social-media-register {
        width: 33%;
        height: 5vh;
        text-align: center;
        color: #00bcae;
        font-size: 2em;
    }

    .index-form-group-register {
        width: 100%;
        height: 15vh;
        margin-bottom: 5vh;
    }

    .index-role {
        height: 10vh;
        width: 100%;
        display: flex;
    }

    .role-card {
        height: 12vh;
        width: 20%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        border-radius: 2em;
        border: 0.25em #00bcae solid;
    }

        .role-card:hover {
            background-color: #d35bc9;
            color: white;
            border: none;
        }

    .register-role-heading {
        height: 4vh;
        text-align: center;
        font-weight: 900;
        font-size: 1em;
        color: black;
        width: 100%;
        font-family: opensans-condensed-light;
        margin-top: 0;
        padding-bottom: 1vh;
    }

    .register-role-icon {
        height: 7vh;
        width: 100%;
        font-size: 2em;
        color: #00bcae;
        text-align: center;
        margin-top: 0;
        padding-top: 1vh;
    }

    .index-group-register {
        border: solid #00bcae 0.2em;
        background-color: transparent;
        height: 7vh;
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 1em;
        display: flex;
    }

    .index-form-heading {
        width: 100%;
        font-family: opensans-condensed-bold;
        text-align: center;
        opacity: 1;
        background-color: transparent;
        height: 10vh;
    }

    .index-form-login {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10vh;
        height: auto;
    }

    .index-form-heading-1 {
        font-size: 3em;
        font-weight: 800;
        height: 10vh;
        line-height: 10vh;
        color: black;
        font-family: opensans-condensed-bold;
    }

    .index-form-group {
        width: 100%;
        display: flex;
        height: 7vh;
    }


    .index-group {
        border: solid #00bcae 0.2em;
        background-color: transparent;
        height: 7vh;
        width: 100%;
        border-radius: 1em;
    }

    .index-form-icon {
        width: 10%;
        padding-left: 5%;
        text-align: left;
        background-color: transparent;
        color: #00bcae;
        font-size: 1.5em;
        height: 7vh;
        line-height: 7vh;
    }

    input[type="text"], input[type="email"], input[type="password"], select {
        background-color: transparent;
        width: 90%;
        height: 7vh;
        line-height: 7vh;
        font-size: 1em;
        border: none;
        font-weight: 800;
        color: black;
        font-family: opensans-condensed-light;
        padding: 1em 1em 1em 1em;
    }

        input:focus, textarea:focus, select:focus {
            outline: none;
        }

    ::placeholder {
        color: black;
        font-family: opensans-condensed-light;
        font-size: 1em;
        width: 100%;
        font-weight: 900;
    }

    .index-form-register {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: auto;
    }

    .index-form-heading-2 {
        font-size: 1.5em;
        font-weight: 700;
        color: #666666;
        height: 3vh;
    }

    .index-form-heading-3 {
        font-size: 0.8em;
        font-weight: 600;
        color: black;
        font-family: opensans-condensed-bold;
        height: 3vh;
    }

    .forgotpassword {
        color: rgba(0, 188, 174,1);
        width: 100%;
        text-align: right;
        height: 3vh;
        line-height: 3vh;
        font-size: 1em;
        margin-bottom: 0;
        padding-bottom: 0;
        cursor: pointer;
        font-family: 700;
        font-family: opensans-condensed-bold;
    }

        .forgotpassword:hover {
            color: #d35bc9;
            width: 100%;
            text-align: right;
            height: 3vh;
            font-size: 1em;
            font-weight: 800;
            margin-bottom: 0;
            padding-bottom: 0;
            cursor: pointer;
            font-family: opensans-condensed-light;
        }

    .login-button-div {
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .index-form-button {
        background-color: rgba(0, 188, 174,1);
        color: white;
        width: 100px;
        height: 5vh;
        border: none;
        text-align: center;
        font-size: 1em;
        font-weight: 700;
        font-family: opensans-condensed-bold;
        font-weight: 600;
        border: none;
        border-radius: 1em;
    }

        .index-form-button:hover {
            background-color: #d35bc9;
        }

    .index-form-or {
        text-align: center;
        height: 3vh;
    }

    .index-form-socials {
        width: 100%;
        display: flex;
        height: 5vh;
    }

    .index-socialmedia-div {
        color: #00bcae;
        font-size: 2em;
        width: 20%;
        height: 5vh;
        margin-left: 13%;
    }

        .index-socialmedia-div:hover {
            color: #d35bc9;
            font-size: 2em;
            width: 20%;
            height: 5vh;
            margin-top: 0vh;
            margin-left: 13%;
        }

    .key-input-group input[type="text"] {
        height: 15vh;
        width: 100%;
        margin-left: 3%;
        border-radius: 1em;
        border: #00bcae solid 0.2em;
        background-color: transparent;
        text-align: center;
        color: black;
        font-size: 1.8em;
        font-weight: 900;
        font-family: opensans-bold;
    }
   
</style>
<div class="overlay-register">
    <div class="register-page">
        <div class="register-left"></div>
        <div class="register-right">
            <form class="index-form-register" style="margin-top: 10vh;">
                <div class="form-group index-form-heading">
                    <h1 class="index-form-heading-1">REGISTER</h1>
                </div>
                <div class="form-group index-form-group">
                    <div class="index-group-register">
                        <div class="index-form-icon">
                            <i class="fas fa-user"></i>
                        </div>
                        <input type="text" placeholder="Name" @bind="@Name" @ref="SignUpElementInFocus">
                    </div>
                    <div class="index-group-register">
                        <div class="index-form-icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <input type="text" placeholder="Surname" @bind="@Surname">
                    </div>
                </div>
                <div class="form-group index-form-group">
                    <div class="index-group-register">
                        <div class="index-form-icon">
                            <i class="fas fa-at"></i>
                        </div>
                        <input type="email" placeholder="Email address" @bind="@Email1">
                    </div>
                    <div class="index-group-register">
                        <div class="index-form-icon">
                            <i class="fas fa-at"></i>
                        </div>
                        <input type="email" placeholder="Confirm Email address" @bind="@Email2">
                    </div>
                </div>
                <div class="form-group index-form-group">
                    <div class="index-group-register">
                        <div class="index-form-icon">
                            <i class="fa fa-lock "></i>
                        </div>
                        <input type="password" placeholder="Password" @bind="@Password1">
                    </div>
                    <div class="index-group-register">
                        <div class="index-form-icon">
                            <i class="fa fa-lock "></i>
                        </div>
                        <input type="password" placeholder="Confirm password" @bind="@Password2">
                    </div>
                </div>

                @if (invalidEmail)
                {
                    <div class="form-group index-form-or">
                        <h1 class="index-form-heading-3">Emails do not match.</h1>
                    </div>
                }
                @if (invalidPassword)
                {
                    <div class="form-group index-form-or">
                        <h1 class="index-form-heading-3">Passwords do not match.</h1>
                    </div>
                }
                @if (registeredEmail)
                {
                    <div class="form-group index-form-or">
                        <h1 class="index-form-heading-3">This email is already registered on the platform.</h1>
                    </div>
                }
                @if (validRegistration)
                {
                    <div class="form-group index-form-or">
                        <h1 class="index-form-heading-3">You have been registered successfully. You can login.</h1>
                    </div>
                }
                @if (invalidRegistration)
                {
                    <div class="form-group index-form-or">
                        <h1 class="index-form-heading-3">We have failed to register you.</h1>
                    </div>
                }
                @if (SubmitPressed)
                {
                    <div class="form-group index-form-or">
                        <h1 class="index-form-heading-3">Submit pressed.</h1>
                    </div>
                }
                <div class="form-group login-button-div">
                    <input type="button" class="index-form-button" @onclick="Register" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div>


@code{

    // Registration Form bind values
    private string Name = "";
    private string Surname = "";
    private string Email1 = "";
    private string Email2 = "";
    private string Password1 = "";
    private string Password2 = "";
    private string Email = "";
    private string Password = "";

    // Validation booleans
    private bool invalidEmail;
    private bool invalidPassword;
    private bool validRegistration;
    private bool invalidRegistration;
    private bool registeredEmail;

    // Responses
    private bool SubmitPressed;
    private string message;

    // Element References
    private ElementReference SignUpElementInFocus;

    //Models
    private UserModel user = new UserModel();
    private List<UserModel> users = new List<UserModel>();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(0);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        SignUpElementInFocus.FocusAsync();
    }

    private bool RegisterPasswordCheck()
    {
        if (Password1 != Password2)
        {
            invalidPassword = true;
            return false;
        }
        else
        {
            invalidPassword = false;
            Password = Password1;
            return true;
        }
    }
    private bool RegisterEmailCheck()
    {
        if (Email1 != Email2)
        {
            invalidEmail = true;
            return false;
        }
        else
        {
            invalidEmail = false;
            Email = Email1;
            return true;
        }
    }

    private async Task Register()
    {
        SubmitPressed = true;
        bool passwordIsValid = RegisterPasswordCheck();
        bool emailIsValid = RegisterEmailCheck();

        if (passwordIsValid && emailIsValid)
        {
            user.Name = Name;
            user.Surname = Surname;
            user.Email = Email;
            user.Password = Password;
            user.Role = "Candidate";

            using (var msg = await HttpClient.PostAsJsonAsync<UserModel>("https://xebecapi.azurewebsites.net/api/auth/registernew", user))
            {
                if (msg.IsSuccessStatusCode)
                {
                    SignInResult result = await msg.Content.ReadFromJsonAsync<SignInResult>();
                    message = result.Message;
                    if (result.Success)
                    {
                        validRegistration = true;
                        SubmitPressed = registeredEmail = invalidRegistration = false;
                    }
                    else if (message.Equals("User already exists."))
                    {
                        registeredEmail = true;
                        SubmitPressed = validRegistration = invalidRegistration = false;
                    }
                    else
                    {
                        invalidRegistration = true;
                        SubmitPressed = validRegistration = registeredEmail = false;
                    }
                }
            }
        }

    }
}