@page "/hrsignup"
@inject NavigationManager navmanager
@inject HttpClient HttpClient
@using System.Linq;
@using XebecPortal.UI.Shared.Home.Models;

<style>
    .overlay-register {
        height: 90vh;
        animation: ease-in 0.15s;
        width: 100%;
    }

    .register-page {
        height: 90vh;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
    }

    .register-right {
        height: 70vh;
        background-color: white;
        width: 50%;
        margin-top: 10vh;
    }

    .register-left {
        background-image: linear-gradient(rgba(0, 188, 174,0.2),rgba(0, 188, 174,0.2)),url(/Img/pexels3.jpg);
        height: 70vh;
        width: 50%;
        margin-top: 10vh;
        background-size: cover;
        background-position: center;
    }
    .index-form-register input[type="text"], input[type="email"], input[type="password"] {
        background-color: transparent;
        width: 85%;
        height: 7vh;
        line-height: 7vh;
        font-size: 1em;
        border: none;
        font-weight: 800;
        color: black;
        font-family: opensans-condensed-light;
        padding: 1em 1em 1em 1em;
    }

    .register-page select {
        border: solid #00bcae 0.2em;
        background-color: transparent;
        border-radius: 1em;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        height: 7vh;
        line-height: 7vh;
        font-size: 1em;
        font-weight: 800;
        color: black;
        font-family: opensans-condensed-light;
        padding: 1em 1em 1em 1em;
    }

    .register-page option {
        height: 4vh;
        width: 100%;
        border-bottom: solid 0.2em black;
        margin-bottom: 1vh;
    }

        .register-page option:hover {
            height: 4vh;
            width: 100%;
            border-bottom: solid 0.2em black;
            background-color: yellow;
            margin-bottom: 1vh;
        }

    .select-role-words {
        height: 4vh;
        line-height: 4vh;
        color: #666666;
        font-family: opensans-condensed-bold;
        font-size: 1.2em;
        font-weight: 800;
    }

    .selecting-role {
        height: 4vh;
        line-height: 4vh;
        color: black;
        font-family: opensans-condensed-bold;
        font-size: 1em;
        font-weight: 500;
    }

        .selecting-role:hover {
            background-color: #00bcae;
            color: white;
            font-weight: 900;
        }

    .register-page .index-form-icon {
        width: 15%;
        padding-left: 5%;
        text-align: left;
        background-color: transparent;
        color: #00bcae;
        font-size: 1.5em;
        height: 7vh;
        line-height: 7vh;
    }

    .register-page input:focus, textarea:focus, select:focus {
        outline: none;
    }

    .register-page::placeholder {
        color: black;
        font-family: opensans-condensed-light;
        font-size: 1em;
        width: 100%;
        font-weight: 900;
    }

    .index-form-socials-register {
        width: 100%;
        height: 8vh;
        margin-bottom: 5vh;
    }

    .index-select-register {
        height: 7vh;
        margin-top: 3vh;
        margin-bottom: 3vh;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .socials-register-heading {
        width: 100%;
        height: 3vh;
        color: #666666;
        font-family: opensans-condensed-bold;
        font-weight: 900;
        font-size: 1em;
        text-align: center;
    }

    .socials-register-div {
        width: 100%;
        height: 5vh;
        display: flex;
    }

    .social-media-register {
        width: 33%;
        height: 5vh;
        text-align: center;
        color: #00bcae;
        font-size: 2em;
    }

    .index-role {
        height: 10vh;
        width: 100%;
        display: flex;
    }

    .register-role-heading {
        height: 4vh;
        text-align: center;
        font-weight: 900;
        font-size: 1em;
        color: black;
        width: 100%;
        font-family: opensans-condensed-light;
        margin-top: 0;
        padding-bottom: 1vh;
    }

    .register-role-icon {
        height: 7vh;
        width: 100%;
        font-size: 2em;
        color: #00bcae;
        text-align: center;
        margin-top: 0;
        padding-top: 1vh;
    }

    .index-group-register {
        border: solid #00bcae 0.2em;
        background-color: transparent;
        height: 7vh;
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 1em;
        display: flex;
    }

    .key-confirmation-form {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20vh;
        height: auto;
    }

    .key-input-group {
        height: 15vh;
        width: 100%;
        display: flex;
    }

    .key-confirmation-form input[type="text"] {
        height: 15vh;
        width: 100%;
        margin-left: 3%;
        border-radius: 1em;
        border: #00bcae solid 0.2em;
        background-color: transparent;
        text-align: center;
        color: black;
        font-size: 1.8em;
        font-weight: 900;
        font-family: opensans-bold;
    }

    .key-confirmation-form::placeholder {
        height: 15vh;
        text-align: center;
        color: lightgrey;
    }

    .index-form-heading {
        width: 100%;
        font-family: opensans-condensed-bold;
        text-align: center;
        opacity: 1;
        background-color: transparent;
        height: 10vh;
    }

    .index-form-login {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10vh;
        height: auto;
    }

    .index-form-heading-1 {
        font-size: 3em;
        font-weight: 800;
        height: 10vh;
        line-height: 10vh;
        color: #004393;
        font-family: opensans-condensed-bold;
    }

    .index-form-group {
        width: 100%;
        display: flex;
        height: 7vh;
    }


    .index-group {
        border: solid #00bcae 0.2em;
        background-color: transparent;
        height: 7vh;
        width: 100%;
        border-radius: 1em;
    }

    .index-form-icon {
        width: 10%;
        padding-left: 5%;
        text-align: left;
        background-color: transparent;
        color: #00bcae;
        font-size: 1.5em;
        height: 7vh;
        line-height: 7vh;
    }

    input[type="text"], input[type="email"], input[type="password"], select {
        background-color: transparent;
        width: 90%;
        height: 7vh;
        line-height: 7vh;
        font-size: 1em;
        border: none;
        font-weight: 800;
        color: black;
        font-family: opensans-condensed-light;
        padding: 1em 1em 1em 1em;
    }

        input:focus, textarea:focus, select:focus {
            outline: none;
        }

    ::placeholder {
        color: black;
        font-family: opensans-condensed-light;
        font-size: 1em;
        width: 100%;
        font-weight: 900;
    }

    .index-form-register {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: auto;
    }

    .index-form-heading-2 {
        font-size: 1.5em;
        font-weight: 700;
        color: #666666;
        height: 3vh;
    }

    .index-form-heading-3 {
        font-size: 0.8em;
        font-weight: 600;
        color: black;
        font-family: opensans-condensed-bold;
        height: 3vh;
    }

    .forgotpassword {
        color: rgba(0, 188, 174,1);
        width: 100%;
        text-align: right;
        height: 3vh;
        line-height: 3vh;
        font-size: 1em;
        margin-bottom: 0;
        padding-bottom: 0;
        cursor: pointer;
        font-family: 700;
        font-family: opensans-condensed-bold;
    }

        .forgotpassword:hover {
            color: #d35bc9;
            width: 100%;
            text-align: right;
            height: 3vh;
            font-size: 1em;
            font-weight: 800;
            margin-bottom: 0;
            padding-bottom: 0;
            cursor: pointer;
            font-family: opensans-condensed-light;
        }

    .login-button-div {
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .index-form-button {
        background-color: rgba(0, 188, 174,1);
        color: white;
        width: 100px;
        height: 5vh;
        border: none;
        text-align: center;
        font-size: 1em;
        font-weight: 700;
        font-family: opensans-condensed-bold;
        font-weight: 600;
        border: none;
        border-radius: 1em;
    }

        .index-form-button:hover {
            background-color: #d35bc9;
        }

    .index-form-or {
        text-align: center;
        height: 3vh;
    }

    .index-form-socials {
        width: 100%;
        display: flex;
        height: 5vh;
    }

    .index-socialmedia-div {
        color: #00bcae;
        font-size: 2em;
        width: 20%;
        height: 5vh;
        margin-left: 13%;
    }

        .index-socialmedia-div:hover {
            color: #d35bc9;
            font-size: 2em;
            width: 20%;
            height: 5vh;
            margin-top: 0vh;
            margin-left: 13%;
        }

    .key-input-group input[type="text"] {
        height: 15vh;
        width: 100%;
        margin-left: 3%;
        border-radius: 1em;
        border: #00bcae solid 0.2em;
        background-color: transparent;
        text-align: center;
        color: black;
        font-size: 1.8em;
        font-weight: 900;
        font-family: opensans-bold;
    }
   
</style>
<div class="overlay-register">
    <div class="register-page">
        <div class="register-left"></div>
        <div class="register-right">
            
            <form class="index-form-register" style="margin-top: 5vh;">
                <div class="form-group index-form-heading">
                    <h1 class="index-form-heading-1">REGISTER</h1>
                </div>
                <div class="form-group index-form-group">
                    <div class="index-group-register">
                        <div class="index-form-icon">
                            <i class="fas fa-user"></i>
                        </div>
                        <input type="text" placeholder="Name" @bind="@Name" @ref="SignUpElementInFocus" >
                    </div>
                    <div class="index-group-register">
                        <div class="index-form-icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <input type="text" placeholder="Surname" @bind="@Surname">
                    </div>
                </div>
                <div class="form-group index-form-group">
                    <div class="index-group-register">
                        <div class="index-form-icon">
                            <i class="fas fa-at"></i>
                        </div>
                        <input type="email" placeholder="Email address" @bind="@Email1">
                    </div>
                    <div class="index-group-register">
                        <div class="index-form-icon">
                            <i class="fas fa-at"></i>
                        </div>
                        <input type="email" placeholder="Confirm Email address" @bind="@Email2">
                    </div>
                </div>
                <div class="form-group index-form-group">
                    <div class="index-group-register">
                        <div class="index-form-icon">
                            <i class="fa fa-lock "></i>
                        </div>
                        <input type="password" placeholder="Password" @bind="@Password1">
                    </div>
                    <div class="index-group-register">
                        <div class="index-form-icon">
                            <i class="fa fa-lock "></i>
                        </div>
                        <input type="password" placeholder="Confirm password" @bind="@Password2">
                    </div>
                </div>
                <div class="form-group index-select-register">
                    <select @onchange="OnRoleChanged">
                        <option class="select-role-words">Select Role</option>
                        <option class="selecting-role" value="Collaborator">Collaborator</option>
                        <option class="selecting-role" value="HRAdmin">HR Administrator</option>
                        <option class="selecting-role" value="Super Admin">Super Admin</option>
                    </select>
                </div>
                @if (invalidEmail)
                {
                    <div class="form-group index-form-or">
                        <h3 class="index-form-heading-3">Emails do not match.</h3>
                    </div>
                }
                @if (invalidPassword)
                {
                    <div class="form-group index-form-or">
                        <h3 class="index-form-heading-3">Passwords do not match.</h3>
                    </div>
                }
                @if (registeredEmail)
                {
                    <div class="form-group index-form-or">
                        <h3 class="index-form-heading-3">This email is already registered on the platform.</h3>
                    </div>
                }
                @if (invalidRole)
                {
                    <div class="form-group index-form-or">
                        <h3 class="index-form-heading-3">Invalid role selection.</h3>
                    </div>
                }
                @if (validRegistration)
                {
                    <div class="form-group index-form-or">
                        <h3 class="index-form-heading-3">Success! We will send you a key and link via email to activate your account.</h3>
                    </div>
                }
                @if (invalidRegistration)
                {
                    <div class="form-group index-form-or">
                        <h3 class="index-form-heading-3">We have failed to register you.</h3>
                    </div>
                }
                @if (SubmitPressed)
                {
                    <div class="form-group index-form-or">
                        <h3 class="index-form-heading-3">Submit pressed.</h3>
                    </div>
                }
                <div class="form-group login-button-div">
                    <input type="button" class="index-form-button" @onclick="Register" value="Submit" />
                </div>
            </form>
       
        </div>
    </div>
</div>

@code{

    // Registration Form bind-values
    private string Name = "";
    private string Surname = "";
    private string Email1 = "";
    private string Email2 = "";
    private string Password1 = "";
    private string Password2 = "";
    private string Email = "";
    private string Password = "";

    // Validation booleans
    private bool invalidEmail;
    private bool invalidPassword;
    private bool validRegistration;
    private bool invalidRegistration;
    private bool registeredEmail;
    private bool invalidRole;
    private bool validKey;
    private bool invalidKey;

    // Responses
    private bool SubmitPressed;
    private string message;

    // Element References
    private ElementReference SignUpElementInFocus;

    // Parameters
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    // Models
    private UserModel user = new UserModel();

    protected override async Task OnInitializedAsync()
    {
        await showRegistrationForm();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SignUpElementInFocus.FocusAsync();
        }        
    }

    private Task OnRoleChanged(ChangeEventArgs e)
    {
        user.Role = e.Value.ToString();
        return ValueChanged.InvokeAsync(user.Role);
    }

    private async Task showRegistrationForm()
    {
        await Task.Delay(0);
    }

    private bool RegisterPasswordCheck()
    {
        if (Password1 != Password2)
        {
            invalidPassword = true;
            return false;
        }
        else
        {
            invalidPassword = false;
            Password = Password1;
            return true;
        }

    }
    private bool RegisterEmailCheck()
    {
        if (Email1.Contains(Email2))
        {


            invalidEmail = false;
            Email = Email1;
            return true;
        }
        else
        {
            invalidEmail = true;
            return false;
        }
    }

    private bool RegisterCheckbox()
    {
        if (user.Role.Equals(null) || user.Role.Equals(""))
        {
            invalidRole = true;
            return false;
        }
        else
        {
            invalidRole = false;
            return true;
        }
    }

    private async Task Register()
    {
        SubmitPressed = true;
        bool passwordIsValid = RegisterPasswordCheck();
        bool emailIsValid = RegisterEmailCheck();
        bool roleIsValid = RegisterCheckbox();

        if (passwordIsValid && emailIsValid && roleIsValid)
        {
            user.Name = Name;
            user.Surname = Surname;
            user.Email = Email;
            user.Password = Password;
            user.Link = "https://xebecnet6.azurewebsites.net/confirmation";
            //user.Link = "https://localhost:44364/confirmation";
            //Post model to dB
            using (var msg = await HttpClient.PostAsJsonAsync<UserModel>("auth/registernew", user))
            {
                if (msg.IsSuccessStatusCode)
                {
                    SignInResult result = await msg.Content.ReadFromJsonAsync<SignInResult>();
                    user.ID = result.AppUserId;
                    message = result.Message;
                    if (result.Success)
                    {
                        validRegistration = true;
                        SubmitPressed = registeredEmail = invalidRegistration = false;

                    }
                    else if (message.Equals("User already exists."))
                    {
                        registeredEmail = true;
                        SubmitPressed = invalidRegistration = validRegistration = false;
                    }
                    else
                    {
                        invalidRegistration = true;
                        SubmitPressed = registeredEmail = invalidRegistration = validRegistration = false;
                    }
                }
            }

        }
        else
        {
            invalidRegistration = true;
            SubmitPressed = registeredEmail = validRegistration = false;
        }
    }
}
