@page "/"
@inject NavigationManager navmanager
@layout EmptyLayout
@inject HttpClient HttpClient
@using System.Linq;
@using XebecPortal.UI.Shared.Home.Models;

<style>

    * {
        margin: 0;
        padding: 0;
    }

    .underlay {
        background-image: linear-gradient(rgba(0, 188, 174,0.05),rgba(0, 188, 174,0.05)),url(/Img/background.svg);
        height: 100vh;
        width: 101vw;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        position: fixed;
        z-index: -2;
        overflow-y: scroll;
        overflow-x: hidden;
    }

        .underlay::-webkit-scrollbar {
            background-color: transparent;
            width: 1vw;
        }

        .underlay::-webkit-scrollbar-thumb {
            background-color: white;
            border-radius: 1em;
        }

    .overlay {
        top: 0;
        z-index: 0;
        height: 100vh;
        width: 100%;
    }

    .overlay-nav {
        position: fixed;
        top: 0;
        z-index: 2;
        background-color: white;
        min-height: 10vh;
        padding-top: 4vh;
        width: 101vw;
        text-align: center;
    }

    .nav-buttons {
        width: 100%;
        height: inherit;
        background-color: transparent;
        border: none;
        border-radius: 1em;
        color: #00bcae;
        font-size: 1em;
        font-family: opensans-condensed-bold;
    }

        .nav-buttons:hover {
            width: 100%;
            height: inherit;
            background-color: #d35bc9;
            border: none;
            border-radius: 1em;
            color: white;
            font-family: opensans-condensed-light;
            font-size: 1em;
        }
    
    .login-page {
        height: 100vh;
        width: 80%;
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    .login-left {
        height: 70vh;
        width: 40%;
        border-top-left-radius: 2em;
        border-bottom-left-radius: 2em;
        background-color: rgb(255,255,255,0.5);
    }

    .login-right {
        height: 70vh;
        width: 60%;
        background-size: cover;
        background-position: center;
        border-top-right-radius: 2em;
        border-bottom-right-radius: 2em;
        background-image: linear-gradient(rgba(0, 188, 174,0.2),rgba(0, 188, 174,0.2)),url(/Img/pexels1.jpg);
    }

    .index-form-heading {
        width: 100%;
        font-family: opensans-condensed-bold;
        text-align: center;
        opacity: 1;
        background-color: transparent;
        height: 10vh;
    }

    .index-form-login {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5vh;
        height: auto;
    }

    .index-form-heading-1 {
        font-size: 3em;
        font-weight: 800;
        height: 10vh;
        line-height: 10vh;
        color: black;
        font-family: opensans-condensed-bold;
    }

    .index-form-group {
        width: 100%;
        display: flex;
        height: 7vh;
    }

    .index-group {
        border: solid #00bcae 0.2em;
        background-color: transparent;
        height: 7vh;
        width: 100%;
        border-radius: 1em;
    }

    .index-form-icon {
        width: 10%;
        padding-left: 5%;
        text-align: left;
        background-color: transparent;
        color: #00bcae;
        font-size: 2em;
        height: 7vh;
        line-height: 7vh;
    }

    input[type="text"], input[type="email"], input[type="password"], select {
        background-color: transparent;
        width: 90%;
        height: 7vh;
        line-height: 7vh;
        font-size: 1em;
        border: none;
        font-weight: 800;
        color: black;
        font-family: opensans-condensed-light;
        padding: 1em 1em 1em 1em;
    }

    input:focus, textarea:focus, select:focus {
        outline: none;
    }

    ::placeholder {
        color: black;
        font-family: opensans-condensed-light;
        font-size: 1em;
        width: 100%;
        font-weight: 900;
    }

    .index-form-register {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: auto;
    }

    .index-form-heading-2 {
        font-size: 1.5em;
        font-weight: 700;
        color: #666666;
        height: 3vh;
    }

    .index-form-heading-3 {
        font-size: 0.8em;
        font-weight: 600;
        color: black;
        font-family: opensans-condensed-bold;
        height: 3vh;
    }

    .forgotpassword {
        color: rgba(0, 188, 174,1);
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: right;
        height: 3vh;
        line-height: 3vh;
        font-size: 0.8em;
        font-weight: 800;
        margin-bottom: 0;
        padding-bottom: 0;
        cursor: pointer;
    }

        .forgotpassword:hover {
            color: rgba(0, 188, 174,1);
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            text-align: right;
            height: 3vh;
            font-size: 1em;
            font-weight: 800;
            margin-bottom: 0;
            padding-bottom: 0;
            cursor: pointer;
        }

    .index-form-button {
        background-color: rgba(0, 188, 174,1);
        color: white;
        width: 50%;
        height: 5vh;
        border: none;
        text-align: center;
        font-size: 1em;
        font-weight: 700;
        border: none;
        margin-left: 25%;
        border-radius: 1em;
    }

        .index-form-button:hover {
            color: white;
            width: 50%;
            height: 5vh;
            border: none;
            text-align: center;
            background-color: #d35bc9;
            font-size: 1em;
            font-weight: 700;
            border: none;
            margin-left: 25%;
        }

    .index-form-or {
        text-align: center;
        height: 3vh;
    }

    .index-form-socials {
        width: 100%;
        display: flex;
        height: 5vh;
    }

    .index-socialmedia-div {
        color: #00bcae;
        font-size: 2em;
        width: 20%;
        height: 5vh;
        margin-left: 13%;
    }
    
        .index-socialmedia-div:hover {
            color: #d35bc9;
            font-size: 2em;
            width: 20%;
            height: 5vh;
            margin-top: 0vh;
            margin-left: 13%;
        }


    input[type="checkbox"] {
        width: 20%;
        margin-right: 5%;
        height: 5vh;
        line-height: 5vh;
    }
    
    .index-form-checkbox-div {
        display: flex;
        height: 100%;
        width: 42%;
        margin-left: 5%;
        margin-right: 3%;
    }

    .index-checkbox-label {
        color: black;
        font-weight: 800;
        font-size: 0.8em;
        width: 70%;
        margin-left: 5%;
        height: 5vh;
        line-height: 1vh;
    }

    .register-page {
        margin-top: 10vh;
        height: 90vh;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
    }

    .register-right {
        height: 90vh;
        background-color: rgb(255,255,255,0.5);
        width: 50%;
    }

    .register-left {
        background-image: linear-gradient(rgba(0, 188, 174,0.2),rgba(0, 188, 174,0.2)),url(/Img/pexels3.jpg);
        height: 90vh;
        width: 50%;
        background-size: cover;
        background-position: center;
    }
</style>

<div class="underlay">
    <div class="row overlay-nav">
        <div class="col-6"></div>
        <div class="col-1">
            <input type="button" class="nav-buttons" value="HOME" @onclick="ToHome" />
        </div>
        <div class="col-1">
            <input type="button" class="nav-buttons" value="SERVICES" @onclick="ToServices" />
        </div>
        <div class="col-1">
            <input type="button" class="nav-buttons" value="SIGN IN" @onclick="ToSignIn" />
        </div>
        <div class="col-1">
            <input type="button" class="nav-buttons" value="SIGN UP" @onclick="ToSignUp" />
        </div>
        <div class="col-1">
            <input type="button" class="nav-buttons" value="CONTACT" @onclick="ToContact" />
        </div>
        <div class="col-1"></div>
    </div>

    <div class="overlay" hidden="@HomeIsHidden">
        <XebecPortal.UI.Shared.Home.Home />
    </div>
    <div class="overlay" hidden="@ServicesIsHidden">
        <XebecPortal.UI.Shared.Home.Services />
    </div>
    <div class="overlay" hidden="@SignInIsHidden">
        <XebecPortal.UI.Shared.Home.SignIn />
    </div>
    <div class="overlay" hidden="@SignUpIsHidden">
        <XebecPortal.UI.Shared.Home.SignUp />
    </div>
    <div class="overlay" hidden="@ContactIsHidden">
        <XebecPortal.UI.Shared.Home.Contact />
    </div>
</div>


@code {

    private bool HomeIsHidden;
    private bool ServicesIsHidden;
    private bool SignInIsHidden;
    private bool SignUpIsHidden;
    private bool ContactIsHidden;

    protected override async Task OnInitializedAsync()
    {
        ToHome();
    }

    private void ToHome()
    {
        HomeIsHidden = false;
        ServicesIsHidden = SignInIsHidden = SignUpIsHidden = ContactIsHidden = true;
    }

    private void ToServices()
    {
        ServicesIsHidden = false;
        HomeIsHidden = SignInIsHidden = SignUpIsHidden = ContactIsHidden = true;
    }

    private void ToSignIn()
    {
        SignInIsHidden = false;
        ServicesIsHidden = HomeIsHidden = SignUpIsHidden = ContactIsHidden = true;
    }

    private void ToSignUp()
    {
        SignUpIsHidden = false;
        ServicesIsHidden = SignInIsHidden = HomeIsHidden = ContactIsHidden = true;
    }
    private void ToContact()
    {
        ContactIsHidden = false;
        ServicesIsHidden = SignInIsHidden = SignUpIsHidden= HomeIsHidden = true;
    }

}
