@page "/signin"
@inject NavigationManager navmanager
@layout EmptyLayout
@inject HttpClient HttpClient
@inject IJSRuntime jsRuntime
@using System.Linq;
@using XebecPortal.UI.Shared.Home.Models

<style>
    .overlay-login {
        z-index: 0;
        top: 0;
        height: 80vh;
        width: 100%;
    }
</style>
<div class="overlay-login" id="login">
    <div class="login-page">
        <div class="login-left">
            <form id="sign-in-form" class="index-form-login" hidden="@RightDisplayLoginIsHidden">
                <div class="form-group index-form-heading">
                    <h1 class="index-form-heading-1">SIGN IN</h1>
                </div>
                <div class="form-group index-form-group index-group">
                    <div class="index-form-icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <input type="email" placeholder="Email address" @bind="@Email" required>
                </div>
                <div class="form-group index-form-group index-group">
                    <div class="index-form-icon">
                        <i class="fa fa-lock "></i>
                    </div>
                    <input type="password" placeholder="Password" @bind="@Password" required>
                </div>
                <div class="form-group index-form-or">
                    <h1 class="index-form-heading-3">or sign in using</h1>
                </div>
                <div class="form-group index-form-socials">
                    <div class="index-socialmedia-div">
                        <i class="fab fa-google"></i>
                    </div>
                    <div class="index-socialmedia-div">
                        <i class="fab fa-microsoft"></i>
                    </div>
                    <div class="index-socialmedia-div">
                        <i class="fab fa-facebook"></i>
                    </div>
                </div>
                <div class="form-group">
                    <h1 class="forgotpassword" @onclick="GoToForgotPassword">forgot password?</h1>
                </div>
                <input type="button" class="index-form-button" @onclick="Login" value="Submit" />
            </form>

            <form id="forgot-password-form" class="index-form-login" hidden="@RightDisplayForgotPasswordIsHidden">

                <div class="form-group index-form-group index-group">
                    <div class="index-form-icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <input type="email" placeholder="Email address" @bind="@Email" required>
                </div>
                <div class="form-group">
                    <h1 class="forgotpassword"  @onclick="GoToLogin">login</h1>
                </div>
                <input type="button" class="index-form-button" @onclick="SubmitForgotPassword" value="Submit" />
            </form>
        </div>
        <div class="login-right"></div>

    </div>
</div>

@code{

    // See login or forgot password form
    private bool RightDisplayLoginIsHidden;
    private bool RightDisplayForgotPasswordIsHidden;

    private string Email = "";
    private string Password = "";

    private ForgotPasswordModel forgotPassword = new ForgotPasswordModel();

    private SignInModel signIn = new SignInModel();
    private List<UserModel> users = new List<UserModel>();
    private UserModel user = new UserModel();

    protected override async Task OnInitializedAsync()
    {
        RightDisplayLoginIsHidden = false;
        RightDisplayForgotPasswordIsHidden = true;
        await Task.Delay(0);

    }

    private async Task Login()
    {
        signIn.Email = Email;
        signIn.Password = Password;

        await jsRuntime.InvokeAsync<bool>("Login");

        //send model to API 

        //get user JSON from API 
        /*try
        {
            users = await HttpClient.GetFromJsonAsync<List<UserModel>>("https://my-json-server.typicode.com/IviweMalotana/xebecDB/Users");
            user = users.Where(a => a.Email.Equals(Email)).Single();
            navmanager.NavigateTo("/main/" + user.ID);
        }
        catch
        {

        }*/
    }

    private async Task SubmitForgotPassword()
    {
        forgotPassword.Email = Email;
        forgotPassword.Link = "https://localhost:44364/forgotpassword";

        await jsRuntime.InvokeAsync<bool>("Login");

        try
        {
            //send Email 
            users = await HttpClient.GetFromJsonAsync<List<UserModel>>("https://my-json-server.typicode.com/IviweMalotana/xebecDB/Users");
            user = users.Where(a => a.Email.Equals(Email)).Single();
            // power automate 
        }
        catch
        {

        }
    }

    private async Task GoToLogin()
    {
        await OnInitializedAsync();
    }
    private void GoToForgotPassword()
    {
        RightDisplayLoginIsHidden = true;
        RightDisplayForgotPasswordIsHidden = false;
    }
}

 