@page "/signup"
@inject NavigationManager navmanager
@layout EmptyLayout
@inject HttpClient HttpClient
@inject IJSRuntime jsRuntime
@using System.Linq;
@using XebecPortal.UI.Shared.Home.Models;

<style>
    .overlay-register {
        z-index: 0;
        height: 80vh;
        top: 0;
        width: 100%;
    }
</style>
<div class="overlay-register" id="register">
    <div class="register-page">
        <div class="register-left"></div>
        <div class="register-right">
            <form id="signup-form" class="index-form-register">
                <div class="form-group index-form-heading">
                    <h1 class="index-form-heading-1">SIGN UP</h1>
                </div>
                <div class="form-group index-form-group index-group">
                    <div class="index-form-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <input type="text" placeholder="Name" @bind="@Name" required>
                </div>
                <div class="form-group index-form-group index-group">
                    <div class="index-form-icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <input type="text" placeholder="Surname" @bind="@Surname" required>
                </div>
                <div class="form-group index-form-group index-group">
                    <div class="index-form-icon">
                        <i class="fas fa-at"></i>
                    </div>
                    <input type="email" placeholder="Email address" @bind="@Email" required>
                </div>
                <div class="form-group index-form-group index-group">
                    <div class="index-form-icon">
                        <i class="fa fa-lock "></i>
                    </div>
                    <input type="password" placeholder="Password" @bind="@Password1" required>
                </div>
                <div class="form-group index-form-group index-group">
                    <div class="index-form-icon">
                        <i class="fa fa-lock "></i>
                    </div>
                    <input type="password" placeholder="Confirm password" @bind="@Password2" required>
                </div>
                <div class="form-group index-form-or">
                    <h1 class="index-form-heading-3">or sign in using</h1>
                </div>
                <div class="form-group index-form-socials">
                    <div class="index-socialmedia-div">
                        <i class="fab fa-google"></i>
                    </div>
                    <div class="index-socialmedia-div">
                        <i class="fab fa-microsoft"></i>
                    </div>
                    <div class="index-socialmedia-div">
                        <i class="fab fa-facebook"></i>
                    </div>
                </div>
                <div class="form-group index-form-group">
                    <div class="index-form-checkbox-div">
                        <input id="applicant-radio" type="radio" class="form-check-input" name="role" @onclick="@IsApplicant" @bind="@applicant" required /><label for="applicant-radio" class="form-label">Applicant</label>
                    </div>
                    <div class="index-form-checkbox-div">
                        <input id="developer-radio" type="radio" class="form-check-input" name="role" @onclick="@IsDeveloper" @bind="@developer" required/><label for="developer-radio" class="form-label">Developer</label>
                    </div>
                    <div class="index-form-checkbox-div">
                        <input id="hr-radio" type="radio" class="form-check-input" name="role" @onclick="@IsHR" @bind="@hr" required/><label for="hr-radio" class="form-label">HR admin</label>
                    </div>
                </div>
                <input type="button" class="index-form-button" @onclick="Register" value="Submit" />
            </form>
        </div>
    </div>
</div>

@code{

    private string Name = "";
    private string Surname = "";
    private string Email = "";
    private string Password1 = "";
    private string Password2 = "";
    private string Role = "";
    private string Password = "";

    private bool applicant;
    private bool developer;
    private bool hr;

    private string confirmationlink = "https://localhost:44364/confirmation";

    private KeyRequest request;

    private UserModel user = new UserModel();
    private List<UserModel> users = new List<UserModel>();

    protected override async Task OnInitializedAsync()
    {
        applicant = false;
        developer = false;
        hr = false;

    }

    private void IsApplicant()
    {
        developer = hr = false;
        Role = "applicant";
    }

    private void IsDeveloper()
    {
        applicant = hr = false;
        Role = "developer";
    }

    private void IsHR()
    {
        developer = applicant = false;
        Role = "hr";
    }

    private async Task Register()
    {

        await jsRuntime.InvokeAsync<bool>("Register");

        @*
            //get ID of last item
            int lastItem = users.Count;
            UserModel lastUser = users[lastItem - 1];
            int lastID = lastUser.ID;

            //increment int
            int newId = lastID++;

            // set usermodel(newID)
            user.ID = newId;

            if (applicant)
            {
                user.Key = "";
                user.LinkVisits = 0;

                user.Registered = true;

                // Post model to dB

            }
            else
            {
                user.Key = "123";
                user.Registered = false;

                //Post model to dB

                // Power Flow to RegistrationKeyRequest(send model)
                request.Id = user.ID;
                request.Email = user.Email;
                request.Key = user.Key;
                request.Link = confirmationlink;
                await HttpClient.PostAsJsonAsync("https://prod-223.westeurope.logic.azure.com:443/workflows/fa4c087fb4bc4ee6af54b07047ca6f57/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=doWY1Jeit9AC3MhFltbcskJ9J5ygBO9nZ_8BJEe5hPE", request);
            }*@
    }
}