@page "/"
@inject NavigationManager navmanager
@layout EmptyLayout
@inject HttpClient HttpClient;
@using System.Linq;
@using XebecPortal.UI.Shared.Models;

<style>

    * {
        margin: 0;
        padding: 0;
    }

    .underlay {
        background-image: linear-gradient(rgba(0, 188, 174,0.05),rgba(0, 188, 174,0.05)),url(/Img/background.svg);
        height: 100vh;
        width: 101vw;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        position: fixed;
        z-index: -2;
        overflow-y: scroll;
        overflow-x: hidden;
    }

        .underlay::-webkit-scrollbar {
            background-color: transparent;
            width: 1vw;
            z-index: -2;
        }

        .underlay::-webkit-scrollbar-thumb {
            background-color: rgba(0, 188, 174,0.8);
            border-radius: 1em;
            z-index: -2;
        }

    .overlay-nav {
        position: fixed;
        top: 0;
        z-index: 2;
        background-color: white;
        min-height: 10vh;
        padding-top: 4vh;
        width: 101vw;
        text-align: center;
    }

    .nav-buttons {
        width: 100%;
        height: inherit;
        background-color: transparent;
        border: none;
        border-radius: 1em;
        color: rgba(0, 188, 174,1);
        font-size: 1em;
        font-family: opensans-condensed-bold;
    }

        .nav-buttons:hover {
            width: 100%;
            height: inherit;
            background-color: rgba(0, 188, 174,1);
            border: none;
            border-radius: 1em;
            color: white;
            font-family: opensans-condensed-light;
            font-size: 1em;
        }

    .overlay-home {
        top: 0;
        z-index: 0;
        height: 100vh;
        width: 100%;
    }

    .overlay-services {
        z-index: 0;
        top: 0;
        height: 85vh;
        width: 100%;
    }

    .overlay-login {
        z-index: 0;
        top: 0;
        height: 80vh;
        width: 100%;
    }

    .overlay-register {
        z-index: 0;
        height: 115vh;
        top: 0;
        width: 100%;
    }

    .overlay-reviews {
        z-index: 0;
        height: 115vh;
        top: 0;
        width: 100%;
        background-color: white;
    }

    .overlay-contact {
        z-index: 0;
        height: 115vh;
        width: 100%;
        top: 0;
        background-color: black;
    }

    .xebec-left {
        color: black;
        font-size: 1em;
        font-weight: 400;
        height: 100%;
    }

    .xebec-right {
        color: black;
        font-size: 1em;
        font-weight: 800;
        height: 100%;
    }

    .home-left {
        height: 100vh;
    }

    .home-right {
        height: 100vh;
        display: flex;
        justify-content: flex-end;
    }

    .home-left-block {
        height: 25vh;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 45vh;
        text-align: center;
    }

    .home-left-heading {
        height: 10vh;
        width: 80%;
        margin: auto;
        display: flex;
        text-align: center;
    }

    .home-left-body {
        height: 15vh;
        width: 100%;
        margin: auto;
        color: #666666;
        text-align: center;
        font-family: opensans-condensed-bold;
        font-weight: 800;
        font-size: 1.5em;
    }

    .home-xebec {
        font-size: 3em;
        color: #00bcae;
        font-weight: 900;
        font-family: opensans-extra-bold;
        text-align: center;
    }

    .home-image-container {
        width: 30%;
        height: 60vh;
        margin-right: 2vw;
        border-top-left-radius: 7em;
        border-top-right-radius: 7em;
    }

    .image1 {
        height: 50vh;
        margin-top: 20vh;
        border-top-left-radius: 7em;
        border-top-right-radius: 7em;
        background-image: linear-gradient(rgba(0, 188, 174,0.3),rgba(0, 188, 174,0.3)),url(/Img/c.jpg);
        background-size: cover;
        background-position: center;
    }

    .image2 {
        height: 50vh;
        margin-top: 25vh;
        border-top-left-radius: 7em;
        border-top-right-radius: 7em;
        background-image: linear-gradient(rgba(0, 188, 174,0.3),rgba(0, 188, 174,0.3)),url(/Img/a.jpg);
        background-size: cover;
        background-position: center;
    }

    .image3 {
        height: 50vh;
        margin-top: 30vh;
        border-top-left-radius: 7em;
        border-top-right-radius: 7em;
        background-image: linear-gradient(rgba(0, 188, 174,0.3),rgba(0, 188, 174,0.3)),url(/Img/d.jpg);
        background-size: cover;
        background-position: center;
    }

    .home-image-label {
        height: 10vh;
        border-bottom-left-radius: 7em;
        border-bottom-right-radius: 7em;
        color: white;
        text-align: center;
        background-color: #00bcae;
        font-weight: 700;
        font-size: 1em;
        line-height: 10vh;
        font-family: opensans-bold;
    }

    .service-div {
        height: 80vh;
        width: 100%;
        margin-top: 0vh;
    }

    .services-container {
        height: 60vh;
        background-size: cover;
        background-position: center;
        z-index: 0;
    }

    .services-floating {
        height: 80vh;
        z-index: 1;
        position: absolute;
        width: 100%;
    }

    .service-left-arrow {
        color: rgba(0, 188, 174,0.5);
        z-index: 1;
        line-height: 50vh;
        text-align: center;
        font-size: 4em;
    }

        .service-left-arrow :hover {
            color: rgba(0, 188, 174,1);
            z-index: 1;
            line-height: 50vh;
            text-align: center;
            font-size: 2em;
        }

    .service-right-arrow {
        color: rgba(0, 188, 174,0.5);
        z-index: 1;
        line-height: 50vh;
        text-align: center;
        font-size: 4em;
    }

        .service-right-arrow :hover {
            color: rgba(0, 188, 174,1);
            z-index: 1;
            line-height: 50vh;
            text-align: center;
            font-size: 2em;
        }

    .services-label {
        height: 15vh;
    }

    .services-label-h2 {
        text-align: center;
        color: black;
        font-family: opensans-condensed-bold;
        font-size: 2em;
        font-weight: 700;
        text-transform: uppercase;
    }

    .services-block {
        height: 70vh;
    }

    .services-top {
        height: 10vh;
        width: 100%;
    }

    .services-middle {
        height: 10vh;
        width: 100%;
    }

    .services-bottom-applicants {
        height: 10vh;
        width: 80%;
        margin: auto;
        background-color: #00bcae;
        border-radius: 1em;
        line-height: 10vh;
        color: white;
        font-size: 1.3em;
        font-family: opensans-condensed-light;
        text-align: center;
        font-weight: 700;
    }

    .services-bottom-developer {
        height: 20vh;
        width: 100%;
        background-color: #00bcae;
        border-radius: 2em;
        font-size: 1.5em;
        color: white;
        font-family: opensans-condensed-light;
        font-weight: 700;
        padding-left: 2em;
        padding-right: 2em;
    }

    ul li {
        padding-top: 1em;
    }

    .services-bottom-hr {
        height: 35vh;
        width: 100%;
        margin: auto;
        border-radius: 1em;
        background-color: #00bcae;
        list-style: circle;
        padding-left: 1em;
        padding-right: 1em;
        color: white;
        font-family: opensans-condensed-light;
        font-weight: 700;
        font-size: 1.3em;
    }

    .applicant-profile {
        height: inherit;
        max-width: 5em;
        margin: auto;
        background-image: url(/Img/upload.svg);
        background-size: cover;
        background-position: center;
    }

    .applicant-job-portal {
        height: inherit;
        max-width: 5em;
        margin: auto;
        background-image: url(/Img/search.svg);
        background-size: cover;
        background-position: center;
    }

    .applicant-my-jobs {
        height: inherit;
        max-width: 5em;
        margin: auto;
        background-image: url(/Img/saved.svg);
        background-size: cover;
        background-position: center;
    }

    .applicant-middle-text {
        height: 10vh;
        width: 100%;
        text-align: center;
        color: #d35bc9;
        font-family: opensans-condensed-bold;
        font-weight: 800;
        font-size: 1.2em;
        text-transform: uppercase;
    }

    .applicant-bottom-text {
        height: 35vh;
        background-color: white;
        font-family: opensans-condensed-light;
    }

    .developer-tool {
        height: inherit;
        max-width: 5em;
        margin: auto;
        background-image: url(/Img/checklist.svg);
        background-size: cover;
        background-position: center;
    }

    .hr-applicant-control {
        height: inherit;
        max-width: 5em;
        margin: auto;
        background-image: url(/Img/checklist.svg);
        background-size: cover;
        background-position: center;
    }

    .hr-applicant-portal {
        height: inherit;
        max-width: 5em;
        margin: auto;
        background-image: url(/Img/search.svg);
        background-size: cover;
        background-position: center;
    }

    .hr-candidate-recommender {
        height: inherit;
        max-width: 5em;
        margin: auto;
        background-image: url(/Img/paper.svg);
        background-size: cover;
        background-position: center;
    }

    .hr-job-portal {
        height: inherit;
        max-width: 5em;
        margin: auto;
        background-image: url(/Img/send.svg);
        background-size: cover;
        background-position: center;
    }

    .hr-data-analytics {
        height: inherit;
        max-width: 5em;
        margin: auto;
        background-image: url(/Img/chart.svg);
        background-size: cover;
        background-position: center;
    }

    .login-page {
        height: 70vh;
        width: 80%;
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 15vh;
        margin-bottom: 15vh;
    }

    .login-left {
        height: 70vh;
        width: 40%;
        border-top-left-radius: 2em;
        border-bottom-left-radius: 2em;
        background-color: rgb(255,255,255,0.5);
    }

    .login-right {
        height: 70vh;
        width: 60%;
        background-size: cover;
        background-position: center;
        border-top-right-radius: 2em;
        border-bottom-right-radius: 2em;
        background-image: linear-gradient(rgba(0, 188, 174,0.2),rgba(0, 188, 174,0.2)),url(/Img/pexels1.jpg);
    }

    .index-form-heading {
        width: 100%;
        font-family: opensans-condensed-bold;
        text-align: center;
        opacity: 1;
        background-color: transparent;
        height: 10vh;
    }

    .index-form-login {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5vh;
        height: auto;
    }

    .index-form-heading-1 {
        font-size: 3em;
        font-weight: 800;
        height: 10vh;
        line-height: 10vh;
        color: black;
        font-family: opensans-condensed-bold;
    }

    .index-form-group {
        width: 100%;
        display: flex;
        height: 7vh;
    }

    .index-group {
        border: solid #00bcae 0.2em;
        background-color: transparent;
        height: 7vh;
        width: 100%;
        border-radius: 1em;
    }

    .index-form-icon {
        width: 10%;
        padding-left: 5%;
        text-align: left;
        background-color: transparent;
        color: #00bcae;
        font-size: 2em;
        height: 7vh;
        line-height: 7vh;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        background-color: transparent;
        width: 90%;
        height: 7vh;
        line-height: 7vh;
        font-size: 1em;
        border: none;
        font-weight: 800;
        color: black;
        font-family: opensans-condensed-light;
        padding: 1em 1em 1em 1em;
    }

    input:focus, textarea:focus, select:focus {
        outline: none;
    }

    ::placeholder {
        color: black;
        font-family: opensans-condensed-light;
        font-size: 1em;
        width: 100%;
        font-weight: 900;
    }

    .index-form-register {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: auto;
    }

    .index-form-heading-2 {
        font-size: 1.5em;
        font-weight: 700;
        color: #666666;
        height: 3vh;
    }

    .index-form-heading-3 {
        font-size: 0.8em;
        font-weight: 600;
        color: black;
        font-family: opensans-condensed-bold;
        height: 3vh;
    }

    .forgotpassword {
        color: rgba(0, 188, 174,1);
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: right;
        height: 3vh;
        line-height: 3vh;
        font-size: 0.8em;
        font-weight: 800;
        margin-bottom: 0;
        padding-bottom: 0;
        cursor: pointer;
    }

        .forgotpassword:hover {
            color: rgba(0, 188, 174,1);
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            text-align: right;
            height: 3vh;
            font-size: 1em;
            font-weight: 800;
            margin-bottom: 0;
            padding-bottom: 0;
            cursor: pointer;
        }

    .index-form-button {
        background-color: rgba(0, 188, 174,1);
        color: white;
        width: 50%;
        height: 5vh;
        border: none;
        text-align: center;
        font-size: 1em;
        font-weight: 700;
        border: none;
        margin-left: 25%;
        border-radius: 1em;
    }

        .index-form-button:hover {
            color: white;
            width: 50%;
            height: 5vh;
            border: none;
            text-align: center;
            background-color: #d35bc9;
            font-size: 1em;
            font-weight: 700;
            border: none;
            margin-left: 25%;
        }

    .index-form-or {
        text-align: center;
        height: 3vh;
    }

    .index-form-socials {
        width: 100%;
        display: flex;
        height: 5vh;
    }

    .index-socialmedia-div {
        color: #00bcae;
        font-size: 2em;
        width: 20%;
        height: 5vh;
        margin-left: 13%;
    }

        .index-socialmedia-div:hover {
            color: #d35bc9;
            font-size: 2em;
            width: 20%;
            height: 5vh;
            margin-top: 0vh;
            margin-left: 13%;
        }


    .index-form-checkbox {
        width: 10%;
        margin-left: 15%;
        margin-right: 5%;
        height: 5vh;
        line-height: 5vh;
    }

    .index-form-checkbox-div {
        display: flex;
        height: 100%;
        width: 33%;
    }

    .index-checkbox-label {
        color: black;
        width: 60%;
        font-weight: 800;
        font-size: 0.8em;
        width: 70%;
        height: 5vh;
        line-height: 1vh;
    }

    .register-page {
        margin-top: 20vh;
        height: 90vh;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
    }

    .register-right {
        height: 90vh;
        background-color: rgb(255,255,255,0.5);
        width: 50%;
    }

    .register-left {
        background-image: linear-gradient(rgba(0, 188, 174,0.2),rgba(0, 188, 174,0.2)),url(/Img/pexels3.jpg);
        height: 90vh;
        width: 50%;
        background-size: cover;
        background-position: center;
    }
</style>

<div class="underlay">
    <div class="row overlay-nav">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-1">
            <input type="button" class="nav-buttons" value="HOME" @onclick="ToHome" />
        </div>
        <div class="col-sm-1">
            <input type="button" class="nav-buttons" value="SERVICES" @onclick="ToServices" />
        </div>
        <div class="col-sm-1">
            <input type="button" class="nav-buttons" value="SIGN IN" @onclick="ToSignIn" />
        </div>
        <div class="col-sm-1">
            <input type="button" class="nav-buttons" value="SIGN UP" @onclick="ToSignUp"/>
        </div>
        <div class="col-sm-1">
            <input type="button" class="nav-buttons" value="REVIEWS" @onclick="ToReviews" />
        </div>
        <div class="col-sm-1">
            <input type="button" class="nav-buttons" value="CONTACT" @onclick="ToContact"/>
        </div>
    </div>

    <div class="row overlay-home" id="home">
        <div class="col-sm-4 home-left">
            <div class="home-left-block">
                <div class="home-left-heading" style="text-align:center; justify-content: center;">
                    <h1 class="home-xebec">XEBEC</h1>
                </div>
                <div class="home-left-body">
                    <p>We streamline the recruitment experience with analytical feedback in a unified space.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-8 home-right">
            <div class="home-image-container">
                <div class="image1"></div>
                <div class="home-image-label">APPLICANTS PORTAL</div>
            </div>
            <div class="home-image-container">
                <div class="image2"></div>
                <div class="home-image-label">DEVELOPERS PORTAL</div>
            </div>
            <div class="home-image-container">
                <div class="image3"></div>
                <div class="home-image-label">HUMAN RESOURCES PORTAL</div>
            </div>
        </div>
    </div>

    <div class="overlay-services" id="services">
        <div class="service-div" hidden="@applicantServicesIsHidden">
            <div class="services-floating row">
                <div class="col-sm-1 service-left-arrow" @onclick="ToHR">
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="col-sm-10"></div>
                <div class="col-sm-1 service-right-arrow" @onclick="ToDeveloper">
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 services-label">
                    <h2 class="services-label-h2">Applicant Services</h2>
                </div>
            </div>
            <div class="row services-container">
                <div class="col-sm-4 services-block">
                    <div class="services-top">
                        <div class="applicant-profile"></div>
                    </div>
                    <div class="services-middle">
                        <h3 class="applicant-middle-text">APPLICATION PROFILE</h3>
                    </div>
                    <div class="services-bottom-applicants">
                        <p>Upload your CV to our AI built form processor</p>
                    </div>
                </div>
                <div class="col-sm-4 services-block">
                    <div class="services-top">
                        <div class="applicant-job-portal"></div>
                    </div>
                    <div class="services-middle">
                        <h3 class="applicant-middle-text">JOBS PORTAL</h3>
                    </div>
                    <div class="services-bottom-applicants">
                        <p>Search and apply for jobs </p>
                    </div>
                </div>
                <div class="col-sm-4 services-block">
                    <div class="services-top">
                        <div class="applicant-my-jobs"></div>
                    </div>
                    <div class="services-middle">
                        <h3 class="applicant-middle-text">MY JOBS</h3>
                    </div>
                    <div class="services-bottom-applicants">
                        <p>Track the status of your applications</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-div" hidden="@developerServicesIsHidden">
            <div class="services-floating row">
                <div class="col-sm-1 service-left-arrow" @onclick="ToApplicant">
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="col-sm-10"></div>
                <div class="col-sm-1 service-right-arrow" @onclick="ToHR">
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 services-label">
                    <h2 class="services-label-h2">Developer Services</h2>
                </div>
            </div>
            <div class="row services-container">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 services-block">
                    <div class="services-top">
                        <div class="developer-tool"></div>
                    </div>
                    <div class="services-middle">
                        <h3 class="applicant-middle-text">APPLICANT CONTROL TOOL</h3>
                    </div>
                    <div class="services-bottom-developer">
                        <ul>
                            <li>Review and update assignment marks and comments</li>
                            <li>Review and update interview ratings and comments</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <div class="service-div" hidden="@hrServicesIsHidden">
            <div class="services-floating row">
                <div class="col-sm-1 service-left-arrow" @onclick="ToDeveloper">
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="col-sm-10"></div>
                <div class="col-sm-1 service-right-arrow" @onclick="ToApplicant">
                    <i class="fas fa-angle-right"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 services-label">
                    <h2 class="services-label-h2">Human Resource Services</h2>
                </div>
            </div>
            <div class="row services-container">
                <div class="col-sm-1"></div>
                <div class="col-sm-2 services-block">
                    <div class="services-top">
                        <div class="hr-applicant-portal"></div>
                    </div>
                    <div class="services-middle">
                        <h3 class="applicant-middle-text">APPLICANT VIEWER</h3>
                    </div>
                    <div class="services-bottom-hr">
                        <ul>
                            <li>A display of all candidates</li>
                            <li>A dedicated searh bar</li>
                            <li>A detailed information block about a candidate</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 services-block">
                    <div class="services-top">
                        <div class="hr-applicant-control"></div>
                    </div>
                    <div class="services-middle">
                        <h3 class="applicant-middle-text">APPLICANT CONTROL TOOL</h3>
                    </div>
                    <div class="services-bottom-hr">
                        <ul>
                            <li>Review and update assignment marks and comments</li>
                            <li>Review and update interview ratings and comments</li>
                            <li>Control the status of a candidate’s application</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 services-block">
                    <div class="services-top">
                        <div class="hr-candidate-recommender"></div>
                    </div>
                    <div class="services-middle">
                        <h3 class="applicant-middle-text">CANDIDATE RECOMMENDER</h3>
                    </div>
                    <div class="services-bottom-hr">
                        <ul>
                            <li>A display of top candidates</li>
                            <li>Uses a smart recruitment algorithm</li>
                            <li>Provides a rating of the candidate by job</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 services-block">
                    <div class="services-top">
                        <div class="hr-job-portal"></div>
                    </div>
                    <div class="services-middle">
                        <h3 class="applicant-middle-text">JOB PORTAL</h3>
                    </div>
                    <div class="services-bottom-hr">
                        <ul>
                            <li>Review/edit/delete/create job advertisements</li>
                            <li>Post job advertisements to popular sites e.g. LinkedIn</li>
                            <li>Create specialized application forms for each job</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 services-block">
                    <div class="services-top">
                        <div class="hr-data-analytics"></div>
                    </div>
                    <div class="services-middle">
                        <h3 class="applicant-middle-text">DATA ANALYTICS</h3>
                    </div>
                    <div class="services-bottom-hr">
                        <ul>
                            <li>Data-driven insights for candidate selection</li>
                            <li>Charts based on KPI recruitment metrics</li>
                            <li>A summary of platform-based data</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>

    <div class="overlay-login" id="login">
        <div class="login-page">
            <div class="login-left">
                <form class="index-form-login" hidden="@RightDisplayLoginIsHidden">
                    <div class="form-group index-form-heading">
                        <h1 class="index-form-heading-1">SIGN IN</h1>
                    </div>
                    <div class="form-group index-form-group index-group">
                        <div class="index-form-icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <input type="email" required placeholder="Email address" @bind="@Email">
                    </div>
                    <div class="form-group index-form-group index-group">
                        <div class="index-form-icon">
                            <i class="fa fa-lock "></i>
                        </div>
                        <input type="password" placeholder="Password" @bind="@Password">
                    </div>
                    <div class="form-group index-form-or">
                        <h1 class="index-form-heading-3">or sign in using</h1>
                    </div>
                    <div class="form-group index-form-socials">
                        <div class="index-socialmedia-div">
                            <i class="fab fa-google"></i>
                        </div>
                        <div class="index-socialmedia-div">
                            <i class="fab fa-microsoft"></i>
                        </div>
                        <div class="index-socialmedia-div">
                            <i class="fab fa-facebook"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <h1 class="forgotpassword">forgot password?</h1>
                    </div>
                    <div class="form-group index-form-or" hidden="@invalidEmailorPasswordMessageIsHidden">
                        <h1 class="index-form-heading-3">incorrect credentials</h1>
                    </div>
                    <div class="form-group index-form-or" hidden="@notRegisteredMessageIsHidden">
                        <h1 class="index-form-heading-3">you are not registered on xebec</h1>
                    </div>
                    <input type="button" class="index-form-button" @onclick="Login" value="Submit" />
                </form>
                <form class="index-form-login" hidden="@RightDisplayForgotPasswordIsHidden">
                    <div class="form-group index-form-heading">
                        <h1 class="index-form-heading-2">we will send you an email with a link to create your new password</h1>
                    </div>
                    <div class="form-group index-form-group">
                        <input type="email" placeholder="email address" @bind="@Email">
                    </div>
                    <div class="form-group index-form-or" hidden="@invalidEmailorPasswordMessageIsHidden">
                        <h1 class="index-form-heading-3">invalid email</h1>
                    </div>
                    <div class="form-group index-form-or" hidden="@validSubmitForgotPasswordMessageIsHidden">
                        <h1 class="index-form-heading-3">check your email for a link from us</h1>
                    </div>
                    <input type="button" class="index-form-button" value="Submit" />
                </form>
            </div>
            <div class="login-right"></div>

        </div>
    </div>

    <div class="overlay-register" id="register">
        <div class="register-page">
            <div class="register-left"></div>
            <div class="register-right">
                <form class="index-form-register">
                    <div class="form-group index-form-heading">
                        <h1 class="index-form-heading-1">REGISTER</h1>
                    </div>
                    <div class="form-group index-form-group index-group">
                        <div class="index-form-icon">
                            <i class="fas fa-user"></i>
                        </div>
                        <input type="text" placeholder="Name" @bind="@thisUser.Name">
                    </div>
                    <div class="form-group index-form-group index-group">
                        <div class="index-form-icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <input type="text" placeholder="Surname" @bind="@thisUser.Surname">
                    </div>
                    <div class="form-group index-form-group index-group">
                        <div class="index-form-icon">
                            <i class="fas fa-at"></i>
                        </div>
                        <input type="email" placeholder="Email address" @bind="@Email">
                    </div>
                    <div class="form-group index-form-or" hidden="@existingUserMessageIsHidden">
                        <h1 class="index-form-heading-3">this email is registered on the platform</h1>
                    </div>
                    <div class="form-group index-form-group index-group">
                        <div class="index-form-icon">
                            <i class="fa fa-lock "></i>
                        </div>
                        <input type="password" placeholder="Password" @bind="@password1">
                    </div>
                    <div class="form-group index-form-group index-group">
                        <div class="index-form-icon">
                            <i class="fa fa-lock "></i>
                        </div>
                        <input type="password" placeholder="Confirm password" @bind="@password2">
                    </div>
                    <div class="form-group index-form-or" hidden="@passwordMessageIsHidden">
                        <h1 class="index-form-heading-3">passwords do not match</h1>
                    </div>
                    <div class="form-group index-form-or">
                        <h1 class="index-form-heading-3">or sign in using</h1>
                    </div>
                    <div class="form-group index-form-socials">
                        <div class="index-socialmedia-div">
                            <i class="fab fa-google"></i>
                        </div>
                        <div class="index-socialmedia-div">
                            <i class="fab fa-microsoft"></i>
                        </div>
                        <div class="index-socialmedia-div">
                            <i class="fab fa-facebook"></i>
                        </div>
                    </div>
                    <div class="form-group index-form-group">
                        <div class="index-form-checkbox-div">
                            <input type="checkbox" class="index-form-checkbox" @onclick="@IsApplicant" @bind="@applicant" /><h2 class="index-checkbox-label">Applicant</h2>
                        </div>
                        <div class="index-form-checkbox-div">
                            <input type="checkbox" class="index-form-checkbox" @onclick="@IsDeveloper" @bind="@developer" /><h2 class="index-checkbox-label">Developer</h2>
                        </div>
                        <div class="index-form-checkbox-div">
                            <input type="checkbox" class="index-form-checkbox" @onclick="@IsHR" @bind="@hr" /><h2 class="index-checkbox-label">HR admin</h2>
                        </div>
                    </div>
                    <div class="form-group index-form-or" hidden="@selectCheckBoxMessageIsHidden">
                        <h1 class="index-form-heading-3">checkbox not selected</h1>
                    </div>
                    <div class="form-group index-form-or" hidden="@successfulRegistrationMessageIsHidden">
                        <h1 class="index-form-heading-3">you have been successfully registered to xebec</h1>
                    </div>
                    <div class="form-group index-form-or" hidden="@confirmAccountMessageIsHidden">
                        <h1 class="index-form-heading-3">we will send you a key and link to activate your account</h1>
                    </div>
                    <input type="button" class="index-form-button" @onclick="Register" value="Submit" />
                </form>
            </div>
        </div>
    </div>

    <div class="overlay-reviews" id="reviews">
        reviews
    </div>

    <div class="overlay-contact" id="contact">
        contact
    </div>
</div>


@code {

    private bool applicantServicesIsHidden;
    private bool developerServicesIsHidden;
    private bool hrServicesIsHidden;

    // See login or forgot password form
    private bool RightDisplayLoginIsHidden;
    private bool RightDisplayForgotPasswordIsHidden;

    //login invalid messages
    private bool invalidEmailorPasswordMessageIsHidden;
    private bool notRegisteredMessageIsHidden;

    public UserModel thisUser = new UserModel();
    private string Email = "";
    private string Password = "";

    private ForgotPasswordModel forgotPassword = new ForgotPasswordModel();
    private string forgotpasswordlink = "https://localhost:44364/forgotpassword";
    private bool validSubmitForgotPasswordMessageIsHidden;

    private List<UserModel> users = new List<UserModel>();

    private string password1 = "";
    private string password2 = "";

    private bool existingUserMessageIsHidden;
    private bool passwordMessageIsHidden;
    private bool selectCheckBoxMessageIsHidden;
    private bool successfulRegistrationMessageIsHidden;
    private bool confirmAccountMessageIsHidden;

    private bool applicant;
    private bool developer;
    private bool hr;

    private string confirmationlink = "https://localhost:44364/confirmation";

    private KeyRequest request;

    private void ToHome()
    {
        navmanager.NavigateTo("#home");
    }
    private void ToServices()
    {
        navmanager.NavigateTo("#services");
    }
    private void ToSignIn()
    {
        navmanager.NavigateTo("#login");
    }
    private void ToSignUp()
    {
        navmanager.NavigateTo("#register");
    }
    private void ToReviews()
    {
        navmanager.NavigateTo("#reviews");
    }
    private void ToContact()
    {
        navmanager.NavigateTo("#contact");
    }
    protected override async Task OnInitializedAsync()
    {
        applicantServicesIsHidden = false;
        developerServicesIsHidden = true;
        hrServicesIsHidden = true;

        RightDisplayLoginIsHidden = false;
        RightDisplayForgotPasswordIsHidden = true;
        validSubmitForgotPasswordMessageIsHidden = true;

        invalidEmailorPasswordMessageIsHidden = true;
        notRegisteredMessageIsHidden = true;

        passwordMessageIsHidden = true;
        existingUserMessageIsHidden = true;

        selectCheckBoxMessageIsHidden = true;
        successfulRegistrationMessageIsHidden = true;
        confirmAccountMessageIsHidden = true;

        applicant = false;
        developer = false;
        hr = false;

        users = await HttpClient.GetFromJsonAsync<List<UserModel>>("https://my-json-server.typicode.com/IviweMalotana/xebecDB/Users");
    }

    private void ToApplicant()
    {
        applicantServicesIsHidden = false;
        developerServicesIsHidden = true;
        hrServicesIsHidden = true;
    }
    private void ToDeveloper()
    {
        applicantServicesIsHidden = true;
        developerServicesIsHidden = false;
        hrServicesIsHidden = true;
    }
    private void ToHR()
    {
        applicantServicesIsHidden = true;
        developerServicesIsHidden = true;
        hrServicesIsHidden = false;
    }

    private void ToLoginPage()
    {

        RightDisplayLoginIsHidden = false;
        RightDisplayForgotPasswordIsHidden = true;

        invalidEmailorPasswordMessageIsHidden = true;
        notRegisteredMessageIsHidden = true;
        validSubmitForgotPasswordMessageIsHidden = true;

        passwordMessageIsHidden = true;
        existingUserMessageIsHidden = true;

        selectCheckBoxMessageIsHidden = true;
        successfulRegistrationMessageIsHidden = true;
        confirmAccountMessageIsHidden = true;

    }

    public void Login()
    {

        try
        {
            thisUser = users.Where(a => a.Email.Equals(Email)).Single();


            if (thisUser.Registered == true && thisUser.Password.Equals(Password))
            {

                navmanager.NavigateTo("/main/" + thisUser.ID);

            }
            else if (thisUser.Registered == false)
            {

                RightDisplayLoginIsHidden = false;
                RightDisplayForgotPasswordIsHidden = true;

                invalidEmailorPasswordMessageIsHidden = true;
                notRegisteredMessageIsHidden = false;

            }
            else if (!thisUser.Password.Equals(Password))
            {
                RightDisplayLoginIsHidden = false;
                RightDisplayForgotPasswordIsHidden = true;

                invalidEmailorPasswordMessageIsHidden = false;
                notRegisteredMessageIsHidden = true;

            }
            passwordMessageIsHidden = true;
            existingUserMessageIsHidden = true;

            selectCheckBoxMessageIsHidden = true;
            successfulRegistrationMessageIsHidden = true;
            confirmAccountMessageIsHidden = true;

        }
        catch
        {

            RightDisplayLoginIsHidden = false;
            RightDisplayForgotPasswordIsHidden = true;

            invalidEmailorPasswordMessageIsHidden = false;
            notRegisteredMessageIsHidden = true;

            passwordMessageIsHidden = true;
            existingUserMessageIsHidden = true;

            selectCheckBoxMessageIsHidden = true;
            successfulRegistrationMessageIsHidden = true;
            confirmAccountMessageIsHidden = true;
        }

    }

    private void ToRegistrationPage()
    {

        RightDisplayLoginIsHidden = true;
        RightDisplayForgotPasswordIsHidden = true;

        invalidEmailorPasswordMessageIsHidden = true;
        notRegisteredMessageIsHidden = true;

        passwordMessageIsHidden = true;
        existingUserMessageIsHidden = true;

        selectCheckBoxMessageIsHidden = true;
        successfulRegistrationMessageIsHidden = true;
        confirmAccountMessageIsHidden = true;

    }

    private void ToForgotPasswordForm()
    {

        RightDisplayLoginIsHidden = true;
        RightDisplayForgotPasswordIsHidden = false;
        validSubmitForgotPasswordMessageIsHidden = true;

        invalidEmailorPasswordMessageIsHidden = true;
        notRegisteredMessageIsHidden = true;

        passwordMessageIsHidden = true;
        existingUserMessageIsHidden = true;

        selectCheckBoxMessageIsHidden = true;
        successfulRegistrationMessageIsHidden = true;
        confirmAccountMessageIsHidden = true;

    }

    private async Task SendForgotPassword()
    {
        try
        {
            thisUser = users.Where(a => a.Email.Equals(Email)).Single();
            invalidEmailorPasswordMessageIsHidden = true;
            validSubmitForgotPasswordMessageIsHidden = false;
            forgotPassword.Email = Email;
            forgotPassword.Link = forgotpasswordlink;
            await HttpClient.PostAsJsonAsync("https://prod-254.westeurope.logic.azure.com:443/workflows/36ef500265094a1193de55a42b18adb3/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=9Ez43vZDBzvzl-qigJMdlQ_te0RTiuHW50l0E17wW-M", forgotPassword);

        }
        catch
        {
            invalidEmailorPasswordMessageIsHidden = false;
            validSubmitForgotPasswordMessageIsHidden = true;
        }

    }

    private void IsApplicant()
    {
        developer = hr = false;
        thisUser.Role = "applicant";
    }

    private void IsDeveloper()
    {
        applicant = hr = false;
        thisUser.Role = "developer";
    }

    private void IsHR()
    {
        developer = applicant = false;
        thisUser.Role = "hr";
    }

    private void Register()
    {
        bool passwordIsValid = RegisterPasswordCheck();
        bool emailIsValid = RegisterEmailCheck();
        bool checkboxSelected = RegisterCheckboxCheck();

        if (passwordIsValid && emailIsValid && checkboxSelected)
        {
            //get ID of last item
            int lastItem = users.Count;
            UserModel lastUser = users[lastItem - 1];
            int lastID = lastUser.ID;

            //increment int
            int newId = lastID++;

            // set usermodel(newID)
            thisUser.ID = newId;

            if (applicant)
            {
                thisUser.Key = "";
                thisUser.LinkVisits = 0;

                thisUser.Registered = true;

                // Post model to dB
                successfulRegistrationMessageIsHidden = false;

            }
            else
            {
                thisUser.Key = "123";
                thisUser.Registered = false;

                //Post model to dB

                // Power Flow to RegistrationKeyRequest(send model)
                request.Id = thisUser.ID;
                request.Email = thisUser.Email;
                request.Key = thisUser.Key;
                request.Link = confirmationlink;
                HttpClient.PostAsJsonAsync("https://prod-223.westeurope.logic.azure.com:443/workflows/fa4c087fb4bc4ee6af54b07047ca6f57/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=doWY1Jeit9AC3MhFltbcskJ9J5ygBO9nZ_8BJEe5hPE", request);
                successfulRegistrationMessageIsHidden = true;
                confirmAccountMessageIsHidden = false;

            }
        }
    }

    private bool RegisterPasswordCheck()
    {
        if (password1 != password2)
        {
            passwordMessageIsHidden = false;
            existingUserMessageIsHidden = true;
            selectCheckBoxMessageIsHidden = true;
            successfulRegistrationMessageIsHidden = true;
            confirmAccountMessageIsHidden = true;
            return false;
        }
        else
        {
            passwordMessageIsHidden = true;
            existingUserMessageIsHidden = true;
            selectCheckBoxMessageIsHidden = true;
            successfulRegistrationMessageIsHidden = true;
            confirmAccountMessageIsHidden = true;
            thisUser.Password = password1;
            return true;
        }
    }

    private bool RegisterEmailCheck()
    {
        passwordMessageIsHidden = true;
        selectCheckBoxMessageIsHidden = true;
        successfulRegistrationMessageIsHidden = true;
        confirmAccountMessageIsHidden = true;

        try
        {
            int existingUser = users.Where(x => x.Email == Email).Select(x => x.ID).Single();
            existingUserMessageIsHidden = false;

            return false;

        }
        catch
        {
            existingUserMessageIsHidden = true;
            thisUser.Email = Email;
            return true;
        }
    }

    private bool RegisterCheckboxCheck()
    {

        passwordMessageIsHidden = true;
        existingUserMessageIsHidden = true;
        successfulRegistrationMessageIsHidden = true;
        confirmAccountMessageIsHidden = true;

        if (applicant == false && developer == false && hr == false)
        {
            selectCheckBoxMessageIsHidden = false;
            return false;
        }
        else
        {
            selectCheckBoxMessageIsHidden = true;
            return true;
        }
    }

}
