@inherits LayoutComponentBase
@inject NavigationManager navmanager
@inject HttpClient HttpClient
@layout EmptyLayout
@using System.Linq;
@using XebecPortal.UI.Shared.Home.Models;

<style>
    .underlay {
        background-image: linear-gradient(rgba(0, 188, 174,0.05),rgba(0, 188, 174,0.05)),url(/Img/background.svg);
        height: 100vh;
        width: 100vw;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        scroll-margin: 1vw;
        overflow-y: auto;
        position: absolute;
        z-index: 0;
    }

    .overlay {
        top: 10vh;
        height: 90vh;
        width: 100vw;
        position: relative;
        z-index: 0;
    }

    .underlay::-webkit-scrollbar {
        width: 1vw;
        background-color: white;
        z-index: 0;
    }

    .underlay::-webkit-scrollbar-thumb {
        width: 1vw;
        background-color: #808080;
        z-index: 0;
    }
    .underlay::-webkit-scrollbar-track {
        width: 1vw;
        background-color: white;
        z-index: 0;
    }
    .nav {
        background-color: white;
        top: 0vh;
        height: 10vh;
        width: 100vw;
        position: fixed;
        z-index: 1;
    }

    .mainlayout-xebec-heading {
        height: 10vh;
        width: 90px;
        margin-left: 15px;
    }

    .mainlayout-xebec-logo {
        height: 10vh;
        min-width: 100%;
        background-image: url(/Img/xebeclogoblack.png);
        background-size: cover;
        background-position: center;
    }

    .nav-buttons {
        margin-top: 2.5vh;
        height: 5vh;
        font-size: 1em;
        font-family: opensans-condensed-bold;
        color: #004393;
        background-color: transparent;
        border: none;
        border-radius: 1em;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .nav-buttons-pressed {
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
        margin-top: 2.5vh;
        height: 5vh;
        background-color: #00bcae;
        border: none;
        border-radius: 1em;
        color: white;
        font-family: opensans-condensed-bold;
        font-size: 1em;
    }
    .first{
        width: 20vw;
        height: 10vh;
    }
    .second {
        width: 30vw;
        height: 10vh;
    }
    .third {
        width: 10vw;
        height: 10vh;
    }
    .mythird{
        width: 15vw;
        height: 10vh;
    }
    .services-dropdown{
        top: 10vh;
        left: 50vw;
        background-color: white;
        height: 10vh;
        position: absolute;
        width: 30vw;
        display: flex;
    }
</style>
<div class="underlay">
    <div class="nav">
        <div class="first">
            <div class="mainlayout-xebec-heading">
                <div class="mainlayout-xebec-logo"></div>
            </div>
        </div>
        <div class="second"></div>
        <div class="third">
            <input type="button" class="nav-buttons" @onmouseover="Homehover" value="HOME" @onclick="ToHome" hidden="@HomeHover" />
            <input type="button" class="nav-buttons-pressed" value="HOME" @onclick="ToHome" hidden="@(!HomeHover)" />
        </div>
        <div class="third">
            <input type="button" class="nav-buttons" @onmouseover="Serviceshover" value="SERVICES" @onclick="ToServices" hidden="@ServicesHover" />
            <input type="button" class="nav-buttons-pressed" value="SERVICES" @onclick="ToServices" hidden="@(!ServicesHover)" />
        </div>
        <div class="third">
            <input type="button" class="nav-buttons" @onmouseover="JobPortalhover" value="JOB PORTAL" @onclick="ToJobPortal" hidden="@JobPortalHover" />
            <input type="button" class="nav-buttons-pressed" value="JOB PORTAL" @onclick="ToJobPortal" hidden="@(!JobPortalHover)" />
        </div>
        <div class="third">
            <input type="button" class="nav-buttons" @onmouseover="SignInhover" value="SIGN IN" @onclick="ToSignIn" hidden="@SignInHover" />
            <input type="button" class="nav-buttons-pressed" value="SIGN IN" @onclick="ToSignIn" hidden="@(!SignInHover)" />
        </div>
        <div class="third">
            <input type="button" class="nav-buttons" @onmouseover="Contacthover" value="CONTACT" @onclick="ToContact" hidden="@ContactHover" />
            <input type="button" class="nav-buttons-pressed" value="CONTACT" @onclick="ToContact" hidden="@(!ContactHover)" />
        </div>
    </div>    
    <div class="overlay">
        @Body
    </div>
    @if (Services)
    {
        <div class="services-dropdown">
            <div class="mythird">
                <input type="button" class="nav-buttons" @onmouseover="ApplicantServiceshover" value="APPLICANT SERVICES" @onclick="ToApplicantServices" hidden="@ApplicantServicesHover" />
                <input type="button" class="nav-buttons-pressed" value="APPLICANT SERVICES" @onclick="ToApplicantServices" hidden="@(!ApplicantServicesHover)" />

            </div>
            <div class="mythird">
                <input type="button" class="nav-buttons" @onmouseover="HRServiceshover" value="HR SERVICES" @onclick="ToHRServices" hidden="@HRServicesHover" />
                <input type="button" class="nav-buttons-pressed" value="HR SERVICES" @onclick="ToHRServices" hidden="@(!HRServicesHover)" />

            </div>
        </div>
    }
</div>

@code {

    private bool Home;
    private bool SignIn;
    private bool JobPortal;
    private bool Contact;
    private bool Services;

    private bool ServicesHover;
    private bool HomeHover;
    private bool SignInHover;
    private bool JobPortalHover;
    private bool ContactHover;

    private bool ApplicantServicesHover, HRServicesHover;
    private bool ApplicantServices, HRServices;


    protected async override Task OnInitializedAsync()
    {
        ToHome();
        await Task.Delay(0);
    }

    private void ToHome()
    {
        navmanager.NavigateTo("/");
        Homehover();
    }

    private void ToSignIn()
    {
        SignInhover();
        navmanager.NavigateTo("signin");
    }

    private void ToJobPortal()
    {
        JobPortalhover();
        navmanager.NavigateTo("jobportal");
    }

    private void ToServices()
    {
        Serviceshover();
        Services= true;
    }

    private void ToApplicantServices()
    {
        ApplicantServiceshover();
        navmanager.NavigateTo("applicantservices");
        Services = false;
    }

    private void ToHRServices()
    {
        HRServiceshover();
        navmanager.NavigateTo("hrservices");
        Services = false;
    }

    private void ToContact()
    {
        Contacthover();
        navmanager.NavigateTo("contact");
    }

    private void Homehover()
    {
        HomeHover = true;
        SignInHover = JobPortalHover = ContactHover = ServicesHover = false;
    }

    private void SignInhover()
    {
        SignInHover = true;
        HomeHover = JobPortalHover = ContactHover = ServicesHover = false;
    }

    private void JobPortalhover() {

        JobPortalHover = true;
        HomeHover = SignInHover = ContactHover = ServicesHover = false;
    }

    private void Contacthover()
    {
        ContactHover = true;
        SignInHover = JobPortalHover = HomeHover = ServicesHover = false;
    }

    private void Serviceshover()
    {
        ServicesHover = true;
        ContactHover = SignInHover = JobPortalHover = HomeHover = false;
    }

    private void ApplicantServiceshover()
    {
        ApplicantServicesHover = true;
        HRServicesHover = false;
    }

    private void HRServiceshover()
    {
        ApplicantServicesHover = false;
        HRServicesHover = true;
    }
}
