@page "/main/{ID:int}"
@inherits LayoutComponentBase;
@inject IJSRuntime JsRuntime;
@inject HttpClient HttpClient;
@using Microsoft.AspNetCore.Components;
@layout EmptyLayout;
@inject NavigationManager navmanager;

<style>

    .page {
        top: 0;
        left: 0;
        height: 100vh;
        background-image: linear-gradient(rgba(0, 188, 174,0.05),rgba(0, 188, 174,0.05)),url("../Img/background.svg");
        background-size: cover;
        background-position: center;
    }

    .header {
        top: 0;
        left: 0;
        height: 10vh;
        background-color: white;
    }

    .main {
        top: 10vh;
        left: 0;
        height: 90vh;
        width: 100%;
    }

    .mainlayout-heading {
        width: 70%;
        height: 100%;
        top: 0;
        background-color: none;
        display: flex;
    }

    .mainlayout-xebec-heading {
        font-size: 2em;
        color: rgba(0, 188, 174,1);
        background-color: none;
        font-weight: 900;
        font-family: opensans-condensed-bold;
        text-align: center;
        padding-left: 2em;
    }

    .icon-user {
        width: 50px;
        height: 5vh;
        margin-right: 1em;
        margin-top: 2vh;
    }

    .icon-menu {
        width: 50px;
        height: 5vh;
        margin-top: 2vh;
        margin-right: 2em;
        margin-top: 2vh;
    }

    .nav {
        width: 30%;
        height: 10vh;
        top: 0;
        justify-content: right;
        justify-items: right;
    }

    .nav-menu {
        height: 100%;
    }

    .nav-link {
        width: 100%;
        height: 10vh;
        margin-bottom: 0.1em;
        display: flex;
        vertical-align: middle;
        border-radius: 2em;
        background-color: white;
        color: #00bcae;
        cursor: pointer;
    }

    .icons {
        font-size: 2em;
        display: inline-block;
        width: 20%;
        height: 100%;
        padding-top: 0.4em;
        padding-left: 0.2em;
    }

    .nav-link-text {
        font-size: 1.1em;
        display: inline-block;
        padding-top: 0.1em;
        width: 80%;
        height: 100%;
        font-family: opensans-condensed-light;
    }

    .nav-link:hover {
        background-color: #00bcae;
        color: white;
    }

    .nav-link:focus {
        background-color: #00bcae;
        color: white;
    }

    .image {
        width: 100%;
        margin-top: 5em;
        margin-bottom: 2em;
        height: 20vh;
    }

    profile-image {
        width: 100%;
        height: 20vh;
        border-radius: 100%;
        border: 0.3rem #00bcae solid;
        object-fit: fill;
    }

    .infodiv {
        height: 5vh;
        width: 100%;
        padding-bottom: 1em;
        display: flex;
    }

    .profile-div {
        height: 60%;
        width: 70%;
        margin-left: 15%;
        margin-top: 10%;
    }

    .profile-name {
        color: #00bcae;
        font-size: 1.5em;
        font-weight: 800;
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .profile-role {
        color: #a7a9ab;
        font-size: 1em;
        font-weight: 800;
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .profile-icon {
        color: #003340;
        font-size: 2em;
        display: inline-block;
        height: 100%;
    }

    .profile-email {
        color: #00bcae;
        font-size: 1em;
        display: inline-block;
        height: 100%;
    }

    .profile-logout {
        color: #00bcae;
        font-size: 1.5em;
        font-weight: 800;
        width: 100%;
        text-align: center;
        height: 100%;
    }

        .profile-logout:hover {
            color: lightgrey;
            font-size: 1.5em;
            font-weight: bolder;
            height: 100%;
            width: 100%;
            text-align: center;
        }
</style>

<div class="page" hidden="@DeveloperIsHidden">

    <div class="header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="mainlayout-heading">
                <h1 class="mainlayout-xebec-heading">XEBEC</h1>
            </div>
            <div class="nav">
                <img class="icon-user" src="/Img/user.svg" data-bs-toggle="offcanvas" data-bs-target="#showDeveloper" aria-controls="offcanvasRight" />
            </div>
        </div>
    </div>
    <div class="offcanvas offcanvas-end nav-menu" tabindex="-1" id="showDeveloper" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body profile-div">

            <div class="infodiv">
                <h2 class="profile-name">@thisUser.Name @thisUser.Surname</h2>
            </div>
            <div class="infodiv">
                <h2 class="profile-role">@thisUser.Role</h2>
            </div>
            <div class="infodiv">
                <h2 class="profile-email">@thisUser.Email</h2>
            </div>
        </div>
        <div class="infodiv">
            <h2 class="profile-logout">Logout</h2>
        </div>
    </div>
    <div class="main">
        <XebecPortal.UI.Pages.Developer.ApplicantControlTool />
    </div>
</div>
<div class="page" hidden="@ApplicantIsHidden">
    <div class="header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="mainlayout-heading">
                <h1 class="mainlayout-xebec-heading">XEBEC</h1>
            </div>
            <div class="nav">
                <img class="icon-user" src="/Img/user.svg" data-bs-toggle="offcanvas" data-bs-target="#showApplicant" aria-controls="offcanvasRight" />
                <img class="icon-menu" src="/Img/list.svg" data-bs-toggle="offcanvas" data-bs-target="#showApplicantNav" aria-controls="offcanvasRight" />
            </div>
        </div>
    </div>
    <div class="offcanvas offcanvas-end nav-menu" tabindex="-1" id="showApplicant" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body profile-div">

            <div class="infodiv">
                <h2 class="profile-name">@thisUser.Name @thisUser.Surname</h2>
            </div>
            <div class="infodiv">
                <h2 class="profile-role">@thisUser.Role</h2>
            </div>
            <div class="infodiv">
                <h2 class="profile-email">@thisUser.Email</h2>
            </div>
        </div>
        <div class="infodiv">
            <h2 class="profile-logout">Logout</h2>
        </div>
    </div>
    <div class="offcanvas offcanvas-end nav-menu" tabindex="-1" id="showApplicantNav" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="nav-link" @onclick="showApplicantApplicationProfile">
                <div class="icons"><i class="fa fa-book" aria-hidden="true"></i></div><h2 class="nav-link-text">Application Profile</h2>
            </div>

            <div class="nav-link" @onclick="showApplicantJobPortal">
                <div class="icons"><i class="fa fa-file" aria-hidden="true"></i></div><h2 class="nav-link-text">Job Portal</h2>
            </div>
            <div class="nav-link" @onclick="showApplicantMyJobs">
                <div class="icons"><i class="fa fa-users" aria-hidden="true"></i></div><h2 class="nav-link-text">My Jobs</h2>
            </div>
        </div>
        <div class="infodiv">
            <h2 class="profile-logout">Logout</h2>
        </div>
    </div>
    <div class="main" hidden="@applicantApplicationProfileIsHidden">
        <XebecPortal.UI.Pages.Applicant.ApplicationProfile />
    </div>
    <div class="main" hidden="@applicantJobPortalIsHidden">
        <XebecPortal.UI.Pages.Applicant.JobPortal />
    </div>
    <div class="main" hidden="@applicantMyJobsIsHidden">
        <XebecPortal.UI.Pages.Applicant.MyJobs />
    </div>
</div>
<div class="page" hidden="@HRIsHidden">

    <div class="header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="mainlayout-heading">
                <h1 class="mainlayout-xebec-heading">XEBEC</h1>
            </div>
            <div class="nav">
                <img class="icon-user" src="/Img/user.svg" data-bs-toggle="offcanvas" data-bs-target="#showHR" aria-controls="offcanvasRight" />
                <img class="icon-menu" src="/Img/list.svg" data-bs-toggle="offcanvas" data-bs-target="#showHRNav" aria-controls="offcanvasRight" />
            </div>
        </div>
    </div>
    <div class="offcanvas offcanvas-end nav-menu" tabindex="-1" id="showHR" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body profile-div">

            <div class="infodiv">
                <h2 class="profile-name">@thisUser.Name @thisUser.Surname</h2>
            </div>
            <div class="infodiv">
                <h2 class="profile-role">@thisUser.Role</h2>
            </div>
            <div class="infodiv">
                <h2 class="profile-email">@thisUser.Email</h2>
            </div>
        </div>
        <div class="infodiv">
            <h2 class="profile-logout">Logout</h2>
        </div>
    </div>
    <div class="offcanvas offcanvas-end nav-menu" tabindex="-1" id="showHRNav" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="nav-link" @onclick="showHRApplicantControlTool">
                <div class="icons"><i class="fa fa-table" aria-hidden="true"></i></div><h2 class="nav-link-text">Applicant Control Tool</h2>
            </div>
            <div class="nav-link" @onclick="showHRApplicantPortal">
                <div class="icons"><i class="fa fa-users" aria-hidden="true"></i></div><h2 class="nav-link-text">Applicant Portal</h2>
            </div>
            <div class="nav-link" @onclick="showHRCandidateRecommendationTool">
                <div class="icons"><i class="fas fa-lightbulb" aria-hidden="true"></i></div><h2 class="nav-link-text">Candidate Recommendation Tool</h2>
            </div>

            <div class="nav-link" @onclick="showHRDataAnalyticsTool">
                <div class="icons"><i class="fa fa-chart-bar" aria-hidden="true"></i></div><h2 class="nav-link-text">Data Analytics Tool</h2>
            </div>
            <div class="nav-link" @onclick="showHRJobPortal">
                <div class="icons"><i class="fa fa-briefcase" aria-hidden="true"></i></div><h2 class="nav-link-text">Job Portal</h2>
            </div>
        </div>
        <div class="infodiv">
            <h2 class="profile-logout">Logout</h2>
        </div>
    </div>
    <div class="main" hidden="@hrApplicantControlToolIsHidden">
        <XebecPortal.UI.Pages.HR.ApplicantControlTool />
    </div>
    <div class="main" hidden="@hrApplicantPortalIsHidden">
        <XebecPortal.UI.Pages.HR.ApplicantPortal />
    </div>
    <div class="main" hidden="@hrCandidateRecommendationToolIsHidden">
        <XebecPortal.UI.Pages.HR.CandidateRecommendationTool />
    </div>
    <div class="main" hidden="@hrDataAnalyticsToolIsHidden">
        <XebecPortal.UI.Pages.HR.DataAnalyticsTool />
    </div>
    <div class="main" hidden="@hrJobPortalIsHidden">
        <XebecPortal.UI.Pages.HR.JobPortal />
    </div>
</div>
      
@code{
    private MainModel mainmodel = new MainModel();
    private List<UserModel> users = new List<UserModel>();
    private UserModel thisUser = new UserModel();

    private bool DeveloperIsHidden { get; set; } = true;
    private bool HRIsHidden { get; set; } = true;
    private bool ApplicantIsHidden { get; set; } = true;

    private bool applicantApplicationProfileIsHidden { get; set; } = true;
    private bool applicantJobPortalIsHidden { get; set; } = true;
    private bool applicantMyJobsIsHidden { get; set; } = true;

    private bool hrApplicantControlToolIsHidden { get; set; } = true;
    private bool hrApplicantPortalIsHidden { get; set; } = true;
    private bool hrCandidateRecommendationToolIsHidden { get; set; } = true;
    private bool hrDataAnalyticsToolIsHidden { get; set; } = true;
    private bool hrJobPortalIsHidden { get; set; } = true;

    [Parameter]
    public int ID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        users = await HttpClient.GetFromJsonAsync<List<UserModel>>("https://my-json-server.typicode.com/IviweMalotana/xebecDB/Users");

        Console.WriteLine(ApplicantIsHidden);
        Console.WriteLine(DeveloperIsHidden);
        Console.WriteLine(HRIsHidden);
        Console.WriteLine(mainmodel.ID);

        try
        {
            thisUser = users.Where(a => a.ID == ID).Single();

            if (thisUser.Role.Equals("applicant"))
            {
                ApplicantIsHidden = false;
                DeveloperIsHidden = HRIsHidden = true;

                applicantApplicationProfileIsHidden = true;
                applicantJobPortalIsHidden = false;
                applicantMyJobsIsHidden = true;

                hrApplicantControlToolIsHidden = true;
                hrApplicantPortalIsHidden = true;
                hrCandidateRecommendationToolIsHidden = true;
                hrDataAnalyticsToolIsHidden = true;
                hrJobPortalIsHidden = true;

            }
            else if (thisUser.Role.Equals("developer"))
            {
                DeveloperIsHidden = false;
                HRIsHidden = ApplicantIsHidden = true;

                applicantApplicationProfileIsHidden = true;
                applicantJobPortalIsHidden = true;
                applicantMyJobsIsHidden = true;

                hrApplicantControlToolIsHidden = true;
                hrApplicantPortalIsHidden = true;
                hrCandidateRecommendationToolIsHidden = true;
                hrDataAnalyticsToolIsHidden = true;
                hrJobPortalIsHidden = true;
            }
            else if (thisUser.Role.Equals("hr"))
            {
                HRIsHidden = false;
                DeveloperIsHidden = ApplicantIsHidden = true;
                applicantApplicationProfileIsHidden = true;
                applicantJobPortalIsHidden = true;
                applicantMyJobsIsHidden = true;

                hrApplicantControlToolIsHidden = false;
                hrApplicantPortalIsHidden = true;
                hrCandidateRecommendationToolIsHidden = true;
                hrDataAnalyticsToolIsHidden = true;
                hrJobPortalIsHidden = true;
            }
        }
        catch
        {
            Console.WriteLine(mainmodel.ID + " not working");
        }

    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        JsRuntime.InvokeVoidAsync("HrJobPortalJS");
        return base.OnAfterRenderAsync(firstRender);
    }

    private void showApplicantApplicationProfile()
    {
        applicantApplicationProfileIsHidden = false;
        applicantJobPortalIsHidden = true;
        applicantMyJobsIsHidden = true;

    }
    private void showApplicantJobPortal()
    {
        applicantApplicationProfileIsHidden = true;
        applicantJobPortalIsHidden = false;
        applicantMyJobsIsHidden = true;
    }
    private void showApplicantMyJobs()
    {
        applicantApplicationProfileIsHidden = true;
        applicantJobPortalIsHidden = true;
        applicantMyJobsIsHidden = false;
    }

    private void showHRApplicantControlTool()
    {
        hrApplicantControlToolIsHidden = false;
        hrApplicantPortalIsHidden = true;
        hrCandidateRecommendationToolIsHidden = true;
        hrDataAnalyticsToolIsHidden = true;
        hrJobPortalIsHidden = true;
    }
    private void showHRApplicantPortal()
    {
        hrApplicantControlToolIsHidden = true;
        hrApplicantPortalIsHidden = false;
        hrCandidateRecommendationToolIsHidden = true;
        hrDataAnalyticsToolIsHidden = true;
        hrJobPortalIsHidden = true;
    }
    private void showHRCandidateRecommendationTool()
    {
        hrApplicantControlToolIsHidden = true;
        hrApplicantPortalIsHidden = true;
        hrCandidateRecommendationToolIsHidden = false;
        hrDataAnalyticsToolIsHidden = true;
        hrJobPortalIsHidden = true;
    }
    private void showHRDataAnalyticsTool()
    {
        hrApplicantControlToolIsHidden = true;
        hrApplicantPortalIsHidden = true;
        hrCandidateRecommendationToolIsHidden = true;
        hrDataAnalyticsToolIsHidden = false;
        hrJobPortalIsHidden = true;
    }
    private void showHRJobPortal()
    {
        hrApplicantControlToolIsHidden = true;
        hrApplicantPortalIsHidden = true;
        hrCandidateRecommendationToolIsHidden = true;
        hrDataAnalyticsToolIsHidden = true;
        hrJobPortalIsHidden = false;
    }

}